<div class="actioninside">
	<div class="actioninside__promowrapper">
		<img src="upload/action_inside_promo.jpg" alt="" width="1252" height="346">
	</div>
	<h2 class="actioninside__head">
		Прощайте, унылые будни.
		Вместо работы и учёбы — квесты, вместо оценок и аттестаций — очки, вместо нудной рутины — повышение уровня. Играем!
	</h2>
	<div class="actioninside__wrapper">
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
				</p>
				<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					13 243 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>
		<div class="catalogitems__item">
			<div class="catalogitems__linkwrapper">
				<div class="catalogitems__imgwrapper">
					<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
				</div>
				<p class="catalogitems__tittle">
					<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
				</p>
				<div class="catalogitems__overlay">
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
						<span>Сравнить</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
						<span>В корзину</span>
					</a>
					<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
						<span>В избранное</span>
					</a>
				</div>
			</div>
			<div class="catalogitems__yandexrate">
				<p class="catalogitems__cost">
					26 500 ₽
				</p>
				<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
				<div class="stars5">
					<span class="star-5"></span>
					<span class="star-4_5 star-active"></span>
					<span class="star-4 "></span>
					<span class="star-3_5 star-active"></span>
					<span class="star-3"></span>
					<span class="star-2_5"></span>
					<span class="star-2"></span>
					<span class="star-1_5"></span>
					<span class="star-1"></span>
				</div> 
				<span class="catalogitems__yandexratenum">4,5</span>
			</div>
			<span class="catalogitems__discounts">30%</span>
		</div>

	</div>
	<div class="pagination">
		<div class="pagination__arrowleft">
			<a href="#" class=""></a>
		</div>
		<a href="#" class="pagination__first"><span>Первая</span></a>
		<a href="#" class="pagination__number">1</a>
		<a href="#" class="pagination__number pagination__number--active">2</a>
		<a href="#" class="pagination__number">3</a>
		<a href="#" class="pagination__number">4</a>
		<a href="#" class="pagination__number">5</a>
		<a href="#" class="pagination__last"><span>Последняя</span></a>
		<div class="pagination__arrowright">
			<a href="#" class=""></a>
		</div>
	</div>

</div>