<div class="action">
	<div class="action__wrapper">
		<a href="#" class="action__item action__item--wide">
			<div class="action__textbox">
				<h3 class="action__head">PS4 и геймпад – по цене консоли!</h3>
				<p class="action__text">Столь великолепных творений мне ещё не доводилось видеть. В этом геймпаде совмещено всё: есть отличный динамик с превосходным звучанием, который добавляет отличных ощущений в совокупе с привычными нам от геймпадов пред. поколений; сенсорная панель</p>
			</div>
			<div class="action__imgwrapper">
				<img src="upload/action_item_xb.jpg" alt="" width="298" height="294">
			</div>
		</a>
		<a href="#" class="action__item">
			<div class="action__smlimgwrapper">
				<img src="upload/action_item_50.jpg" alt="" width="298" height="220">
			</div>
			<p class="action__tittle">Первобытные скидки на игры</p>
		</a>
		<a href="#" class="action__item">
			<div class="action__smlimgwrapper">
				<img src="upload/action_item_win.jpg" alt="" width="298" height="220">
			</div>
			<p class="action__tittle">Купите новое устройство с Windows 8.1 сейчас</p>
		</a>
		<a href="#" class="action__item action__item--wide">
			<div class="action__textbox">
				<h3 class="action__head">Xbox One и Xbox 360 по невероятно низкой цене</h3>
				<p class="action__text">С 1 июля по 1 августа специальное предложение на Xbox One и Xbox 360! Успейте купить легендарные консоли по невероятно низкой цене!</p>
			</div>
			<div class="action__imgwrapper">
				<img src="upload/action_item_xbx.jpg" alt="" width="298" height="294">
			</div>
		</a>
	</div>
	<div class="pagination">
		<div class="pagination__arrowleft">
			<a href="#" class=""></a>
		</div>
		<a href="#" class="pagination__first"><span>Первая</span></a>
		<a href="#" class="pagination__number">1</a>
		<a href="#" class="pagination__number pagination__number--active">2</a>
		<a href="#" class="pagination__number">3</a>
		<a href="#" class="pagination__number">4</a>
		<a href="#" class="pagination__number">5</a>
		<a href="#" class="pagination__last"><span>Последняя</span></a>
		<div class="pagination__arrowright">
			<a href="#" class=""></a>
		</div>
	</div>
</div>