<div class="catalogitem_wrapper">
	<div class="promobannercatalog">
		<a href="#" class="promobannercatalog__logo"></a>
		<h2 class="promobannercatalog__hdr">Новая калекция наушников B&O уже в продаже</h2>
		<p class="promobannercatalog__tittle">b&o play headphones.</p>
		<p class="promobannercatalog__tittle">Get the perfect overview of our headphones and their features.</p>
	</div>
	<div class="catalogitems">
		<div class="catalogitems__wrapper">
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/photo_small_catalog_item.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Magic Pencil Earphones</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						1 964 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						26 500 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item catalogitems__item--wide">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__in">
						<h2><a href="#">Hasselblad H5D-60</a></h2>
						<p class="catalogitems__cost">
							875 000 ₽
						</p>
						<p class="catalogitems__dscrp">
							The Hasselblad Natural Colour Solution (HNCS) enables you to produce outstanding and reliable out-of-the-box colours, with skin tones and colour fidelity reproduced easily and effectively. When the situation demands something a little extra, the H5D-60 
						</p>
						
					</div>
					<div class="catalogitems__imgfullwrapper">
						<a href="#"><img src="upload/img_hasselblad.jpg" alt="" width="298" height="347"></a>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Dunu dn-2000j</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_ipad.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Apple iPad mini 4</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_headphone_b.jpg" alt="" width="298" height="220" ></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Bose QuietComfort 20 Acoustic Noise Cancelling Headphones</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item catalogitems__item--wide">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__in">
						<h2><a href="#">Caeden Linea N°1 Faceted Carbon & Gold Headphone</a></h2>
						<p class="catalogitems__cost">
							9 932 ₽
						</p>
						<p class="catalogitems__dscrp">
							Designed with clean lines, refined metal finishes and a beautifully balanced acoustic profile, the Linea N°1 delivers
						</p>
					</div>
					<div class="catalogitems__imgfullwrapper">
						<a href="#"><img src="upload/img_headphone_c.jpg" alt="" width="298" height="347"></a>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Magic Pencil Earphones`</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/photo_small_catalog_item.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Magic Pencil Earphones</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
					</p>
					<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__imgwrapper">
						<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
					</div>
					<p class="catalogitems__tittle">
						<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
					</p>
					<div class="catalogitems__overlay">
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
							<span>Сравнить</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
							<span>В корзину</span>
						</a>
						<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
							<span>В избранное</span>
						</a>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<p class="catalogitems__cost">
						13 243 ₽
					</p>
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
			<div class="catalogitems__item catalogitems__item--wide">
				<div class="catalogitems__linkwrapper">
					<div class="catalogitems__in">
						<h2><a href="#">Sigma mobile X-treme PQ33</a></h2>
						<p class="catalogitems__cost">
							14 000 ₽
						</p>
						<p class="catalogitems__dscrp">
							The Hasselblad Natural Colour Solution (А это лидер нашего сегодняшнего рейтинга, который поразил в этом году всех своим отличным качеством, и самой высокой степенью защищенности.
						</p>
					</div>
					<div class="catalogitems__imgfullwrapper">
						<a href="#"><img src="upload/img_phone.jpg" alt="" width="298" height="347"></a>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
				</div>
				<div class="catalogitems__yandexrate">
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
			</div>
		</div>
	</div>
	<div class="pagination">
		<div class="pagination__arrowleft">
			<a href="#" class=""></a>
		</div>
		<a href="#" class="pagination__first"><span>Первая</span></a>
		<a href="#" class="pagination__number">1</a>
		<a href="#" class="pagination__number pagination__number--active">2</a>
		<a href="#" class="pagination__number">3</a>
		<a href="#" class="pagination__number">4</a>
		<a href="#" class="pagination__number">5</a>
		<a href="#" class="pagination__last"><span>Последняя</span></a>
		<div class="pagination__arrowright">
			<a href="#" class=""></a>
		</div>
	</div>


</div>

	