<div class="checkout-end">

	<h2>Дорогой клиент!</h2>
	<p>Ваш заказ № <span>2345</span> успешно оплачени в ближайшее время отправится к вам.	
	</p>
	<div class="checkout-end__wrapperbtn">
		<a href="#" class="checkout-end__btn">На главную</a>
	</div>
</div>