<div class="checkout">
	<div class="enter">
		<h2>Вход / Регистрация</h2>
		<div class="form__radiobtncircl">
			<input type="radio" checked name="crd" id="radio_chk1">
			<label for="radio_chk1"><span></span>Я впервые покупаю в этом магазине</label>
		</div>
		<div class="form__radiobtncircl">
			<input type="radio" name="crd" id="radio_chk2">
			<label for="radio_chk2"><span></span>У меня уже есть аккаунт</label>
			<span class="enter__adddscrp">Авторизуйтесь и вам не придется заново указывать параметры доставки.</span>
		</div>
	</div>
	<div class="delivery">
		<span class="numberaction--active"><span>1</span></span>
		<h2>Доставка</h2>
		<div class="delivery__form">
			<form >
				<div class="delivery__wrapper">
					<div class="delivery__forminput">
						<label for="deliver_inp-country">Страна<span></span></label>
						<input type="text" id="deliver_inp-country" class="delivery__dropdown">
					</div>
					<div class="delivery__forminput">
						<label for="deliver_inp-city">Город<span></span></label>
						<input type="text" id="deliver_inp-city" class="delivery__dropdown">
					</div>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlv1" checked>
					<label for="radio_dlv1" ><span></span>Самовывоз</label>
					<span class="delivery__adddscrp">ул. Театральная, д. 30, ТРЦ «Европа»</span>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlv2">
					<label for="radio_dlv2"><span></span>Почта России</label>
					<span class="delivery__adddscrp">12–15 рабочих дней</span>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlv3">
					<label for="radio_dlv3"><span></span>Первый класс</label>
					<span class="delivery__adddscrp">3–5 рабочих дней</span>
				</div>
				<p class="delivery__tittle">Адрес доставки</p>
				<div class="delivery__wrapper">
					<div class="delivery__forminput">
						<label for="deliver_inp-index">Индекс<span></span></label>
						<input type="text" id="deliver_inp-index" placeholder="Введите индекс">
					</div>
					<div class="delivery__forminput">
						<label for="deliver_inp-street">Улица<span></span></label>
						<input type="text" id="deliver_inp-street" placeholder="Введите улицу">
					</div>
				</div>
				<div class="delivery__wrapper">
					<div class="delivery__forminput">
						<label for="deliver_inp-house">Дом<span></span></label>
						<input type="text" id="deliver_inp-house" placeholder="Введите номер дома">
					</div>
					<div class="delivery__forminput">
						<label for="deliver_inp-apartment">Квартира/офис<span></span></label>
						<input type="text" id="deliver_inp-apartment" placeholder="Введите номер квартиры">

					</div>
					<span class="delivery__adddscrp--mgt">Частный дом</span>
				</div>
				<div class="delivery__btn">
					<input type="submit" value="Далее">
					<span class="delivery__adddscrp">К заполнению контактной информации</span>
				</div>
			</form>
		</div>
	</div>
	<div class="delivery">
		<span class="numberaction"><span>2</span></span>
		<h2>Контактная информация</h2>
		<div class="delivery__form">
			<form >
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlvad1" checked>
					<label for="radio_dlvad1"><span></span>Частное лицо</label>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlvad2">
					<label for="radio_dlvad2"><span></span>Юридическое лицо</label>
				</div>
				<div class="delivery__wrapper ptop40">
					<div class="delivery__forminput">
						<label for="deliver_inp-name">Имя<span></span></label>
						<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
					</div>
					<div class="delivery__forminput">
						<label for="deliver_inp-surname">Фамилия<span></span></label>
						<input type="text" id="deliver_inp-surname" placeholder="Ваша фамилия">
					</div>
				</div>
				<div class="delivery__wrapper">
					<div class="delivery__forminput">
						<label for="deliver_inp-tel">Телефон<span></span></label>
						<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
					</div>
					<div class="delivery__forminput">
						<label for="deliver_inp-email">E-mail<span></span></label>
						<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
					</div>
				</div>
				<div class="delivery__btn">
					<input type="submit" value="Далее">
					<span class="delivery__adddscrp">К выбору способа оплаты</span>
				</div>
			</form>
		</div>
	</div>
	<div class="delivery">
		<span class="numberaction"><span>3</span></span>
		<h2>Cпособ оплаты</h2>
		<div class="delivery__form">
			<form >
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlvpl1">
					<label for="radio_dlvpl1"><span></span><i class="ic_alfabank"></i>Альфа-банк</label>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlvpl2">
					<label for="radio_dlvpl2"><span></span><i class="ic_yandex"></i>Яндекс касса</label>
				</div>
				<div class="form__radiobtncircl">
					<input type="radio" name="crd" id="radio_dlvpl3">
					<label for="radio_dlvpl3"><span></span><i class="ic_paypal"></i>Pay Pal</label>
				</div>
			</form>
		</div>
	</div>
</div>