<div class="compare">
	<div class="container">
		<div class="compare__wrapper">
			<div class="compare__categbox">
				<div class="compare__catboxwrapper">
					<div>
						<a href="#" class="catalogitems__btncat catalogitems__btncat--listen  compare__active">СЛУШАЙ!<span class="compare__num">3</span></a>
					</div>
					<div>
						<a href="#" class="catalogitems__btncat catalogitems__btncat--shoot compare__noneactive">Снимай!<span class="compare__num">3</span></a>
					</div>
					<p class="compare__tittle">
						Сравнение 3 товаров
					</p>
				</div>
				<p class="compare__elementhead">Цена</p>
				<p class="compare__elementhead">Рейтинг яндекса</p>
				<p class="compare__elementhead">Вес</p>
				<p class="compare__elementhead">Размер</p>
				<p class="compare__elementhead">Номер модели</p>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<a href="#" class="catalogitems__imgwrapper">
						<img src="upload/img_headphone.jpg" alt="" width="298" height="220">
					</a>
					<p class="catalogitems__tittle">
						Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless
					</p>
					<a href="#" class="cartitems__basket"></a>
				</div>
				<div class="compare__elementsbox">
					<p class="compare__element">12 600 ₽</p>
					<p class="compare__element compare__element--same">4,0</p>
					<p class="compare__element">20гр</p>
					<p class="compare__element">450*20мм</p>
					<p class="compare__element">СAE30100O</p>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<a href="#" class="catalogitems__imgwrapper">
						<img src="upload/img_headphone.jpg" alt="" width="298" height="220">
					</a>
					<p class="catalogitems__tittle">
						Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless
					</p>
					<a href="#" class="cartitems__basket"></a>
				</div>
				<div class="compare__elementsbox">
					<p class="compare__element">12 600 ₽</p>
					<p class="compare__element compare__element--same">4,0</p>
					<p class="compare__element">20гр</p>
					<p class="compare__element">450*20мм</p>
					<p class="compare__element">СAE30100O</p>
				</div>
			</div>
			<div class="catalogitems__item">
				<div class="catalogitems__linkwrapper">
					<a href="#" class="catalogitems__imgwrapper">
						<img src="upload/img_headphone.jpg" alt="" width="298" height="220">
					</a>
					<p class="catalogitems__tittle">
						Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless
					</p>
					<a href="#" class="cartitems__basket"></a>
				</div>
				<div class="compare__elementsbox">
					<p class="compare__element">12 600 ₽</p>
					<p class="compare__element">4,0</p>
					<p class="compare__element">20гр</p>
					<p class="compare__element">450*20мм</p>
					<p class="compare__element">СAE30100O</p>
				</div>
			</div>
		</div>
	</div>
</div>