<div class="contacts">
	<div class="contacts__wrapper">
		<div class="contacts__mapwrapper">
			<div id="map"></div>
		</div>
		<div class="contacts__lefttext">
			<p class="contacts__adress">Адресc <span>Театральная 30, ТРЦ «Европа» 1-ый этаж.</span></p>
			<p class="contacts__adress">Тел.<span>33-77-74</span></p>
			<p class="contacts__adress">E-mail <span>info@digybeex.com</span></p>
			<h2>Напишите нам</h2>
			<div class="delivery__form">
				<form >
					<div class="delivery__wrapper">
						<div class="delivery__forminput">
							<label for="deliver_inp-name">Имя<span></span></label>
							<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
						</div>
						<div class="delivery__forminput">
							<label for="deliver_inp-surname">Фамилия<span></span></label>
							<input type="text" id="deliver_inp-surname" placeholder="Ваша фамилия">
						</div>
					</div>
					<div class="delivery__wrapper">
						<div class="delivery__forminput">
							<label for="deliver_inp-tel">Телефон<span></span></label>
							<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
						</div>
						<div class="delivery__forminput">
							<label for="deliver_inp-email">E-mail<span></span></label>
							<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
						</div>
					</div>
					<div class="delivery__wrapper">
						<label for="deliver_txtar">Сообщение</label>
						<textarea name="" id="deliver_txtar" cols="30" rows="10"></textarea>
						<div class="contacts__btn">
							<input type="submit" value="Отправить">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>