<div class="itempage">
	<div class="container">
		<div class="item">
			<div class="item__slider">
				<ul class="item__bxslider">
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
					<li><img src="upload/img_sliderbg_headph.jpg" width="386" height="439" /></li>
				</ul>
				<div id="bx-pager">
					<a data-slide-index="0" href="#"><img src="upload/img_slidersm_headph1.jpg"></a>
					<a data-slide-index="1" href="#"><img src="upload/img_slidersm_headph2.jpg"></a>
					<a data-slide-index="2" href="#"><img src="upload/img_slidersm_headph3.jpg" /></a>
					<a data-slide-index="3" href="#"><img src="upload/img_slidersm_headph4.jpg" /></a>
					<a data-slide-index="4" href="#"><img src="upload/img_slidersm_headphvid.jpg" /><span class="item__slideroverl"></span></a>
		
		
				</div>
			</div>
			<div class="item__dscrpbox">
				<h2 class="item__head">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</h2>
				<div class="catalogitems__yandexrate">
					<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
					<div class="stars5">
						<span class="star-5"></span>
						<span class="star-4_5 star-active"></span>
						<span class="star-4 "></span>
						<span class="star-3_5 star-active"></span>
						<span class="star-3"></span>
						<span class="star-2_5"></span>
						<span class="star-2"></span>
						<span class="star-1_5"></span>
						<span class="star-1"></span>
					</div> 
					<span class="catalogitems__yandexratenum">4,5</span>
				</div>
				<div class="form">
					<form>
						<div class="coloredcircle">
							<div class="coloredcircle__row">
								<span class="coloredcircle__cost">Цвет</span>
								<input type="radio" name="itemcat" id="cldcircle__it1"><label for="cldcircle__it1" style="background: #ffffff">
									<span class="coloredcircle__chwrap">
										<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<defs></defs>
											<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
										</svg>
									</span>
								</label>	
								<input type="radio" name="itemcat" id="cldcircle__it2"><label for="cldcircle__it2" style="background: #d4d3ce">
									<span class="coloredcircle__chwrap">
										<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<defs></defs>
											<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
										</svg>
									</span>
								</label>	
								<input type="radio" name="itemcat" id="cldcircle__it3"><label for="cldcircle__it3" style="background: #222325" class="whitechekmark">
									<span class="coloredcircle__chwrap">
										<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<defs></defs>
											<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
										</svg>
									</span>
								</label>	
								
							</div>
						</div>
						<p class="item__prevcost">
							15 800 ₽
							<span></span>
						</p>
						<div class="item__action">
							<span class="item__cost">13 243 ₽</span>
							<input type="submit" class="item__btn" value="Купить"></input>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
						<span class="item__availibility">В наличии</span>
					</form>
				</div>
				<div class="item__tabs">
					<ul id="tabsitem" class="nav nav-tabs">
						<li class="active ">
							<a href="#tab_about" data-toggle="tab">О товаре</a>
						</li>
						<li >
							<a href="#tab_dscrp" data-toggle="tab">Описание</a>
						</li>
						<li>
							<a href="#tab_delivery"   data-toggle="tab">Доставка</a>
						</li>
						<li>
							<a href="#tab_credit"  data-toggle="tab">Кредит</a>
						</li>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="tab_about">
						<ul class="item__tablist">
							<li>Signature Sound - superior noise isolation and a fully-balanced sound </li>
							<li>Wireless - features Bluetooth 4.0 + EDR Wireless technology</li>
							<li>Design & Materialization — ultra-soft vegan leather</li>
							<li>Fit & Comfort - a three-axis pivot, combined with a low-compression </li>
							<li>nspiration - designed in our New York City studio.</li>
						</ul>
						<p class="item__article">
							Полностью сбалансированный акустический профиль, в сочетании с беспроводной технологией Bluetooth позволяет испытать каждый слой вашей музыки в гладкий, элегантный дизайн.
						</p>
					</div>
					<div class="tab-pane" id="tab_dscrp">
					</div>
					<div class="tab-pane" id="tab_delivery">
					</div>
					<div class="tab-pane" id="tab_credit">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="oftenbuy">
		<div class="container">
			<h2 class="similar__header">С этим товаром покупают</h2>
			<div  class="similar__wrapper">
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="similar">
		<div class="container">
			<h2 class="similar__header">Хиты продаж</h2>
			<div  class="similar__wrapper">
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="disquswrapper">

	</div>

</div>