<div class="lk">
	<div class="container">
			<div class="item__tabs">
				<ul id="tabsitem" class="nav nav-tabs">
					<li class="active ">
						<a href="#tab_lk" data-toggle="tab">Личный кабинет</a>
					</li>
					<li >
						<a href="#tab_history" data-toggle="tab">История покупок</a>
					</li>
					<li>
						<a href="#tab_fav"   data-toggle="tab">Избранное</a>
					</li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane tab-pane--fst active" id="tab_lk">
					<div class="lk__wrapper">
						<div class="lk__left">
							<a href="#" class="lk__av">
								<img src="upload/av_lk.jpg" alt="" width="81" height="80">
								<span class="lk__overlayav"></span>
							</a>
							<form >
								<h3 class="lk__header">Контактная информация</h3>
								<div class="lk__textline">
									<p class="lk__tittle">Email<span id="email__result"></span><a href="#" class="lk__pencil" id="lk__email"></a></p>
									<div class="lk__hiddeninput" id="lk__emailinp">
										<input type="email" id="email__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">Имя<span id="name__result"></span><a href="#" class="lk__pencil" id="lk__name"></a></p>
									<div class="lk__hiddeninput" id="lk__nameinp">
										<input type="text" id="name__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">Телефон<span id="tel__result"></span><a href="#" class="lk__pencil" id="lk__tel"></a></p>
									<div class="lk__hiddeninput" id="lk__telinp">
										<input type="text" id="tel__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">№ Карты скидок<span id="cart__result"></span><a href="#" class="lk__pencil" id="lk__cart"></a></p>
									<div class="lk__hiddeninput" id="lk__cartinp">
										<input type="text" id="cart__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<h3 class="lk__header">Адрес доставки</h3>
								<div class="lk__textline">
									<p class="lk__tittle">Индекс<span id="index__result"></span><a href="#" class="lk__pencil" id="lk__index"></a></p>
									<div class="lk__hiddeninput" id="lk__indexinp">
										<input type="email" id="index__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">Улица<span id="street__result"></span><a href="#" class="lk__pencil" id="lk__street"></a></p>
									<div class="lk__hiddeninput" id="lk__streetinp">
										<input type="text" id="street__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">Дом<span id="home__result"></span><a href="#" class="lk__pencil" id="lk__home"></a></p>
									<div class="lk__hiddeninput" id="lk__homeinp">
										<input type="text" id="home__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="lk__textline">
									<p class="lk__tittle">Квартира/офис<span id="aprt__result"></span><a href="#" class="lk__pencil" id="lk__aprt"></a></p>
									<div class="lk__hiddeninput" id="lk__aprtinp">
										<input type="text" id="aprt__input">
										<input type="submit" value="">
										<input type="reset" value="">	
									</div>
								</div>
								<div class="form__radiobtnsquare">
									<input type="checkbox" name="rd" id="radio_lk1">
									<label for="radio_lk1"><span></span>Я согласен на использование моих персональных данных</label>
								</div>
							</form>
						</div>
			
						<div class="lk__right">
							<div class="lk__bonuscard">
								<p class="lk__tittle">Бонусная карта</p>
								<div class="lk__bonuscardimg">
									<img src="upload/bonuscard.jpg" alt="" width="388" height="244">
								</div>
									<a href="#" class="lk__btn">Привязать новую карту</a>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_history">
					<div class="table">
						<div class="table__line--fstcolored">
							<div class="table__item">
								<span>№ Заказа</span>
							</div>
							<div class="table__item">
								<span>Дата</span>
							</div>
							<div class="table__item">
								<span>Состояние</span>
							</div>
							<div class="table__item">
								<span>Сумма</span>
							</div>
						</div>
						<div class="table__line">
							<div class="table__item">
								<span class="table__hidden">№ Заказа</span>
								<span>17265</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Дата</span>
								<span>18.03.2016</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Состояние</span>
								<span>В пути</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Сумма</span>
								<span>$200</span>
							</div>
						</div>
						<div class="table__line">
							<div class="table__item">
								<span class="table__hidden">№ Заказа</span>
								<span>23525</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Дата</span>
								<span>13.02.2016</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Состояние</span>
								<span>Доставлено</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Сумма</span>
								<span>$75</span>
							</div>
						</div>
						<div class="table__line">
							<div class="table__item">
								<span class="table__hidden">№ Заказа</span>
								<span>12413</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Дата</span>
								<span>13.02.2016</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Состояние</span>
								<span>Доставлено</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Сумма</span>
								<span>$375</span>
							</div>
						</div>
						<div class="table__line">
							<div class="table__item">
								<span class="table__hidden">№ Заказа</span>
								<span>22523</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Дата</span>
								<span>13.02.2016</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Состояние</span>
								<span>Доставлено</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Сумма</span>
								<span>$75</span>
							</div>
						</div>
						<div class="table__line">
							<div class="table__item">
								<span class="table__hidden">№ Заказа</span>
								<span>22523</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Дата</span>
								<span>13.02.2016</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Состояние</span>
								<span>Доставлено</span>
							</div>
							<div class="table__item">
								<span class="table__hidden">Сумма</span>
								<span>$75</span>
							</div>
						</div>
					</div>
					<div class="pagination">
						<div class="pagination__arrowleft">
							<a href="#" class=""></a>
						</div>
						<a href="#" class="pagination__first"><span>Первая</span></a>
						<a href="#" class="pagination__number">1</a>
						<a href="#" class="pagination__number pagination__number--active">2</a>
						<a href="#" class="pagination__number">3</a>
						<a href="#" class="pagination__number">4</a>
						<a href="#" class="pagination__number">5</a>
						<a href="#" class="pagination__last"><span>Последняя</span></a>
						<div class="pagination__arrowright">
							<a href="#" class=""></a>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_fav">
					<div  class="hits__wrapper">
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
								</p>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									26 500 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>
						</div>
						<div class="catalogitems__item catalogitems__item--wide">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__in">
									<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
									<p class="catalogitems__cost">
										от $350
									</p>
									<p class="catalogitems__dscrp">
										Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
									</p>
									
								</div>
								<div class="catalogitems__imgfullwrapper">
									<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>
						</div>
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
								</p>
								<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									13 243 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>	
						</div>
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
								</p>
								<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									26 500 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>
						</div>
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
								</p>
								<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									13 243 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>	
						</div>
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
								</p>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									26 500 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>
						</div>
						<div class="catalogitems__item">
							<div class="catalogitems__linkwrapper">
								<div class="catalogitems__imgwrapper">
									<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
								</div>
								<p class="catalogitems__tittle">
									<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
								</p>
								<div class="catalogitems__overlay">
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
										<span>Сравнить</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
										<span>В корзину</span>
									</a>
									<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
										<span>В избранное</span>
									</a>
								</div>
							</div>
							<div class="catalogitems__yandexrate">
								<p class="catalogitems__cost">
									26 500 ₽
								</p>
								<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
								<div class="stars5">
									<span class="star-5"></span>
									<span class="star-4_5 star-active"></span>
									<span class="star-4 "></span>
									<span class="star-3_5 star-active"></span>
									<span class="star-3"></span>
									<span class="star-2_5"></span>
									<span class="star-2"></span>
									<span class="star-1_5"></span>
									<span class="star-1"></span>
								</div> 
								<span class="catalogitems__yandexratenum">4,5</span>
							</div>
						</div>
					</div>
					<div class="pagination">
						<div class="pagination__arrowleft">
							<a href="#" class=""></a>
						</div>
						<a href="#" class="pagination__first"><span>Первая</span></a>
						<a href="#" class="pagination__number">1</a>
						<a href="#" class="pagination__number pagination__number--active">2</a>
						<a href="#" class="pagination__number">3</a>
						<a href="#" class="pagination__number">4</a>
						<a href="#" class="pagination__number">5</a>
						<a href="#" class="pagination__last"><span>Последняя</span></a>
						<div class="pagination__arrowright">
							<a href="#" class=""></a>
						</div>
					</div>
				</div>	
			</div>
			
		
	</div>
</div>