<div class="main">
	<div class="mainslider">
		<ul class="bxslider">
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
			<li>
				<div class="mainslider__item">
					<div class="mainslider__wrapper">
						<h2>Центр мобильных аксессуаров, акустикии умных гаджетов</h2>
						<a href="#" class="mainslider__btn">Посмотреть каталог</a>
					</div>
				</div>
			</li>
		</ul>

		<div class="mainslider__nav">
			<div class="container">
				<ul id="tabsmain" class="nav nav-tabs">
					<li class="active  bx-pager">
						<a href="#tab_chat" class="mainslider__chat" data-slide-index="0" data-toggle="tab">Общайся!</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_beinform" class="mainslider__beinform"  data-slide-index="1" data-toggle="tab">Тренируйся!</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_listen"" class="mainslider__listen" data-slide-index="2"  data-toggle="tab">Слушай!</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_surprise" class="mainslider__surprise" data-slide-index="3" data-toggle="tab">Удивляйся!</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_move" class="mainslider__move" data-slide-index="4"  data-toggle="tab">Катайся</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_play" class="mainslider__play"  data-slide-index="5" data-toggle="tab">Играй</a>
					</li>
					<li class="bx-pager ">
						<a href="#tab_travel" class="mainslider__travel" data-slide-index="6" data-toggle="tab">Путешествуй</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="tab-content">
			<div class="tab-pane active" id="tab_chat">
				<div class="slidercontent slidercontent--chat">
					<div class="container">
						<div  class="slidercontent__wrapper">
							<div class="slidercontent__categorybox">
								<h2>Общайся!</h2>
								<p>Наушники, акустика</p>
								<a href="#" class="slidercontent__btn">Перейти в каталог</a>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_beinform">
				<div class="slidercontent slidercontent--beinform">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper">
								<div class="slidercontent__categorybox">
									<h2>Тренируйся!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_listen">
				<div class="slidercontent">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper">
								<div class="slidercontent__categorybox">
									<h2>Слушай!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_surprise">
				<div class="slidercontent slidercontent--surprise">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper">
								<div class="slidercontent__categorybox">
									<h2>Удивляйся!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_move">
				<div class="slidercontent slidercontent--move">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper">
								<div class="slidercontent__categorybox">
									<h2>Катайся!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_play">
				<div class="slidercontent slidercontent--play">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper ">
								<div class="slidercontent__categorybox">
									<h2>Играй!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="tab_travel">
				<div class="slidercontent slidercontent--travel">
					<div class="slidercontent__item">
						<div class="container">
							<div  class="slidercontent__wrapper">
								<div class="slidercontent__categorybox">
									<h2>Путешествуй!</h2>
									<p>Наушники, акустика</p>
									<a href="#" class="slidercontent__btn">Перейти в каталог</a>
								</div>
								<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_headphone.jpg" alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Caeden Linea N°10 Faceted Ceramic & Rose Gold Wireless</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--new">Новинка</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item catalogitems__item--wide">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__in">
										<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
										<p class="catalogitems__cost">
											от $350
										</p>
										<p class="catalogitems__dscrp">
											Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
										</p>
										
									</div>
									<div class="catalogitems__imgfullwrapper">
										<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
										<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
										<div class="catalogitems__overlay">
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
												<span>Сравнить</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
												<span>В корзину</span>
											</a>
											<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
												<span>В избранное</span>
											</a>
										</div>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
									</p>
									<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										13 243 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>	
							</div>
							<div class="catalogitems__item">
								<div class="catalogitems__linkwrapper">
									<div class="catalogitems__imgwrapper">
										<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
									</div>
									<p class="catalogitems__tittle">
										<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
									</p>
									<div class="catalogitems__overlay">
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
											<span>Сравнить</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
											<span>В корзину</span>
										</a>
										<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
											<span>В избранное</span>
										</a>
									</div>
								</div>
								<div class="catalogitems__yandexrate">
									<p class="catalogitems__cost">
										26 500 ₽
									</p>
									<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
									<div class="stars5">
										<span class="star-5"></span>
										<span class="star-4_5 star-active"></span>
										<span class="star-4 "></span>
										<span class="star-3_5 star-active"></span>
										<span class="star-3"></span>
										<span class="star-2_5"></span>
										<span class="star-2"></span>
										<span class="star-1_5"></span>
										<span class="star-1"></span>
									</div> 
									<span class="catalogitems__yandexratenum">4,5</span>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hits">
		<div class="container">
			<h2 class="hits__header">Хиты продаж</h2>
			<div  class="hits__wrapper">
				<div class="catalogitems__item catalogitems__item--wide">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__in">
							<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
							<p class="catalogitems__cost">
								от $350
							</p>
							<p class="catalogitems__dscrp">
								Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
							</p>
							
						</div>
						<div class="catalogitems__imgfullwrapper">
							<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
							<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
							<div class="catalogitems__overlay">
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
									<span>Сравнить</span>
								</a>
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
									<span>В корзину</span>
								</a>
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
									<span>В избранное</span>
								</a>
							</div>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_marshall.jpg" alt="" width="298" height="220" ></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Marshall Stockwell Bluetooth Travel Speaker</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							13 243 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>	
				</div>
				<div class="catalogitems__item">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__imgwrapper">
							<a href="#"><img src="upload/img_accoustic.jpg " alt="" width="298" height="220"></a>
						</div>
						<p class="catalogitems__tittle">
							<a href="#">Philips DS8900/37 M1X-DJ Sound System Docking Station`</a>
						</p>
						<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
						<div class="catalogitems__overlay">
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
								<span>Сравнить</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
								<span>В корзину</span>
							</a>
							<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
								<span>В избранное</span>
							</a>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<p class="catalogitems__cost">
							26 500 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="catalogitems__item catalogitems__item--wide">
					<div class="catalogitems__linkwrapper">
						<div class="catalogitems__in">
							<h2><a href="#">Dunu dn-2000j — абсолютный лидер</a></h2>
							<p class="catalogitems__cost">
								от $350
							</p>
							<p class="catalogitems__dscrp">
								Пожалуй, для этого обзора я изменю своей традиции и сразу раскрою карты. Dunu DN-2000J — одни из лучших наушников, что мне довелось слышать.
							</p>
							
						</div>
						<div class="catalogitems__imgfullwrapper">
							<a href="#"><img src="upload/img_headphone_d.jpg" alt="" width="298" height="347"></a>
							<span class="catalogitems__btncat catalogitems__btncat--hit">Хит продаж!</span>
							<div class="catalogitems__overlay">
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--compare">
									<span>Сравнить</span>
								</a>
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--buy">
									<span>В корзину</span>
								</a>
								<a href="#" class="catalogitems__btnaction catalogitems__btnaction--favourite">
									<span>В избранное</span>
								</a>
							</div>
						</div>
					</div>
					<div class="catalogitems__yandexrate">
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reviewsmain">
		<div class="container">
			<h2 class="reviewsmain__header">Экспертные обзоры</h2>
			<div class="reviews__wrapper">
				<div class="reviews__item">
					<a href="#" class="reviews__linkwrapper">
						<div class="reviews__imgwrapper">
							<img src="upload/playstvr.jpg" alt="" width="298" height="200">
						</div>
						<p class="reviews__tittle">
							Официальные изображения финальной версии playstation vr
						</p>
						<p class="reviews__dscrp">
							Компания DJI, известная своей серией дронов Phantom, представила новый
						</p>
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
							<p class="reviews__tittle">
								Официальные изображения финальной версии playstation vr
							</p>
							<div class="reviews__hinews">
								<span>Обзор <br>www.hi-news.ru</span>
							</div>
						</div>
					</a>
				</div>
				<div class="reviews__item">
					<a href="#" class="reviews__linkwrapper">
						<div class="reviews__imgwrapper">
							<img src="upload/drone.jpg" alt="" width="298" height="200" >
						</div>
						<p class="reviews__tittle">
							Беспилотная мечта: dji представила дрон phantom 4
						</p>
						<p class="reviews__dscrp">
							Компания DJI, известная своей серией дронов Phantom, представила новый
						</p>
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
							<p class="reviews__tittle">
								Беспилотная мечта: dji представила дрон phantom 4
							</p>
							<div class="reviews__hinews">
								<span>Обзор <br>www.hi-news.ru</span>
							</div>
						</div>
					</a>
				</div>
				<div class="reviews__item">
					<a href="#" class="reviews__linkwrapper">
						<div class="reviews__imgwrapper">
							<img src="upload/bookreader.jpg" alt="" width="298" height="220">
						</div>
						<p class="reviews__tittle">
							8 дюймов комфортного чтения
						</p>
						<p class="reviews__dscrp">
							Компания DJI, известная своей серией дронов Phantom, представила новый
						</p>
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
							<p class="reviews__tittle">
									8 дюймов комфортного чтения
							</p>
							<div class="reviews__hinews">
								<span>Обзор <br>www.hi-news.ru</span>
							</div>
						</div>
					</a>
				</div>
				<div class="reviews__item">
					<a href="#" class="reviews__linkwrapper">
						<div class="reviews__imgwrapper">
							<img src="upload/acoustic.jpg" alt="" width="298" height="220">
						</div>
						<p class="reviews__tittle">
							 jbl charge 2 — и песенку споет,и смартфон зарядит
						</p>
						<p class="reviews__dscrp">
							В этом году успели посетить центр дизайна компании HARMAN и имели
						</p>
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
							<p class="reviews__tittle">
									jbl charge 2 — и песенку споет,и смартфон зарядит
							</p>
							<div class="reviews__hinews">
									<span>Обзор <br>www.hi-news.ru</span>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="reviewsmain__linkcenter">
				<a href="#" class="reviewsmain__btn">Посмотреть все обзоры</a>
			</div>
		</div>
	</div>
	<div class="logoslider">
		<div class="container">
			<div class="logoslider__slider">
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--marshall"></a>
				</div>
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--lenovo"></a>
				</div>
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--lapka"></a>
				</div>
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--jabra"></a>
				</div>
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--gopro"></a>
				</div>
				<div class="slide">
					<a href="#" class="logoslider__link logoslider__link--marley"></a>
				</div>	
			</div>
		</div>
</div>

