<div class="mailbar">
	<div class="container">
		<div class="mailbar__bgimg">
			<span></span>
		</div>
		<p class="mailbar__dscrp">
			Подпишитесь на рассылку и получите <br><b>500 бонусов</b> на счет
		</p>
		<div class="mailbar__form">
			<form>
				<input type="email" placeholder="e-mail">
				<input type="submit" value="Подписаться">
				<span class="mailbar__hiddenspan">
					Подписка оформлена
				</span>
			</form>
		</div>
		<!-- <div class="mailbar__close">
			<a href="#">
				<span>
				</span>
			</a>
		</div> -->
	</div>
</div>