<div class="registration">
	<div class="container">
		<h2>Регистрация</h2>
		<div class="delivery__form">
			<form>
				<div class="form__radiobtnsquare">
					<input type="checkbox" id="radio_rgr1">
					<label for="radio_rgr1"><span></span>У меня есть карта скидок</label>
				</div>
				<div class="delivery__forminput">
					<label for="deliver_inp-email">E-mail<span></span></label>
					<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
				</div>
				<div class="delivery__forminput">
					<label for="deliver_inp-name">Имя<span></span></label>
					<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
				</div>
				<div class="delivery__forminput">
					<label for="deliver_inp-tel">Телефон<span></span></label>
					<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
				</div>
				<div class="delivery__forminput">
					<label for="deliver_inp-surname">Пароль<span></span></label>
					<input type="password" id="deliver_inp-surname" placeholder="Пароль">
				</div>
				<div class="form__radiobtnsquare widthcont">
					<input type="checkbox" id="radio_rgr2">
					<label for="radio_rgr2"><span></span><div>Я согласен на использование<br> моих персональных данных</div></label>
				</div>
				<div class="registration__inpbtn">
					<input type="submit" value="Зарегистрироваться">
				</div>
			</form>
			<p class="registration__socialttl">
				Регистрация через соц. сети
			</p>
			<div class="registration__social">
				<a href="#" class="registration__sociallnk registration__sociallnk--ic-vk"></a>
				<a href="#" class="registration__sociallnk registration__sociallnk--ic-fb"></a>
				<a href="#" class="registration__sociallnk registration__sociallnk--ic-inst"></a>
			</div>
			<p class="registration__str"><span>*</span> — Поля обязательные для заполнения</p>

		</div>
		
	</div>
</div>