<div class="review_wrapper">
	<div class="reviews">
		<div class="reviews__wrapper">
			<div class="reviews__item reviews__item--wide">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__in">
						<h2>Гарнитура hololens от microsoft  доступна для разработчиков</h2>
						<p class="reviews__dscrpwide">
							На конференции Build на этой неделе Microsoft объявила, что HoloLens теперь доступна для разработчиков. Гарнитура дополненной реальности несколько раз появлялась на публике в прошлом году и будет поставляться с набором приложений и функций
						</p>
						<div class="reviews__hinews">
							<span href="#">Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
					<div class="reviews__imgfullwrapper">
						<img src="upload/hololenz.jpg" alt="" width="298" height="347">	
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
							
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__imgwrapper">
						<img src="upload/playstvr.jpg" alt="" width="298" height="200">
					</div>
					<p class="reviews__tittle">
						Официальные изображения финальной версии playstation vr
					</p>
					<p class="reviews__dscrp">
						Компания DJI, известная своей серией дронов Phantom, представила новый
					</p>
					<div class="reviews__overlay">
						<div class="reviews__timebox">
							<span class="reviews__time">28 июня 2015</span>
							<span class="reviews__comments">234</span>
							<span class="reviews__likes">134</span>
							<span class="reviews__vid"></span>
						</div>
						<p class="reviews__tittle">
							Официальные изображения финальной версии playstation vr
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__imgwrapper">
						<img src="upload/drone.jpg" alt="" width="298" height="200" >
					</div>
					<p class="reviews__tittle">
						Беспилотная мечта: dji представила дрон phantom 4
					</p>
					<p class="reviews__dscrp">
						Компания DJI, известная своей серией дронов Phantom, представила новый
					</p>
					<div class="reviews__overlay">
						<div class="reviews__timebox">
							<span class="reviews__time">28 июня 2015</span>
							<span class="reviews__comments">234</span>
							<span class="reviews__likes">134</span>
							<span class="reviews__vid"></span>
						</div>
						<p class="reviews__tittle">
							Беспилотная мечта: dji представила дрон phantom 4
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item reviews__item--wide">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__in">
						<h2>Обзор наушников zmf omni — полузакрытый флагман компании</h2>
						<p class="reviews__dscrpwide">
							Почти два года прошло с тех пор, как я описывал замечательные модификации наушников Fostex T50RP от Зака Мербаха. Наушники у него получились просто отличные, но он не остановился на достигнутом и оснастил свои модификации деревянными 
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
					<div class="reviews__imgfullwrapper">
						<img src="upload/headphonesd.jpg" alt="" width="298" height="347">	
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item reviews__item--wide">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__in">
						<h2>Ebony Wood 42mm
							Apple Watch Band
						</h2>
						<p class="reviews__dscrpwide">
							Hypo-allergenic AND ECO-FRIENDLY: Made from 100% real ebony wood,No paint and no chemical,Each watch band has its own unique and beautiful wood grain.
							STYLISH: Super light-weight ,Designed for people with allergies and sensitive skin so no metal ever touches the skin. .Fit 6.02"-8.34" (153mm-212mm) wrist
							IDEAL GIFT FOR LOVED ONES: Are you still stumped on what to get for your friend
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
					<div class="reviews__imgfullwrapper">
						<img src="upload/applewatch.jpg" alt="" width="298" height="347">	
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes">134</span>
								<span class="reviews__vid"></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__imgwrapper">
						<img src="upload/bookreader.jpg" alt="" width="298" height="220">
					</div>
					<p class="reviews__tittle">
						8 дюймов комфортного чтения
					</p>
					<p class="reviews__dscrp">
						Компания DJI, известная своей серией дронов Phantom, представила новый
					</p>
					<div class="reviews__overlay">
						<div class="reviews__timebox">
							<span class="reviews__time">28 июня 2015</span>
							<span class="reviews__comments">234</span>
							<span class="reviews__likes">134</span>
							<span class="reviews__vid"></span>
						</div>
						<p class="reviews__tittle">
							8 дюймов комфортного чтения
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__imgwrapper">
						<img src="upload/acoustic.jpg" alt="" width="298" height="220">
					</div>
					<p class="reviews__tittle">
						 jbl charge 2 — и песенку споет,и смартфон зарядит
					</p>
					<p class="reviews__dscrp">
						В этом году успели посетить центр дизайна компании HARMAN и имели
					</p>
					<div class="reviews__overlay">
						<div class="reviews__timebox">
							<span class="reviews__time">28 июня 2015</span>
							<span class="reviews__comments">234</span>
							<span class="reviews__likes">134</span>
							<span class="reviews__vid"></span>
						</div>
						<p class="reviews__tittle">
							jbl charge 2 — и песенку споет,и смартфон зарядит
						</p>
						<div class="reviews__hinews">
								<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
				</a>
			</div>
			<div class="reviews__item reviews__item--wide">
				<a href="#" class="reviews__linkwrapper">
					<div class="reviews__in">
						<h2>Обзор beresford caiman mk ii — необычный цап</h2>
						<p class="reviews__dscrpwide">
							ЦАП, о котором сегодня пойдёт речь, попал мне в руки ещё в октябре прошлого года и надолго поселился на моем столе. В силу то разъездов, то праздников, написать про него все не доходили руки. Наконец-то я решил это недоразумение исправить. Итак, первый из двух обзоров про технику Beresford, обзор ЦАП Caiman MKII.
						</p>
						<div class="reviews__hinews">
							<span>Обзор <br>www.hi-news.ru</span>
						</div>
					</div>
					<div class="reviews__imgfullwrapper">
						<img src="upload/applewatch.jpg" alt="" width="298" height="347">	
						<div class="reviews__overlay">
							<div class="reviews__timebox">
								<span class="reviews__time">28 июня 2015</span>
								<span class="reviews__comments">234</span>
								<span class="reviews__likes reviews__likes--liked">134</span>
								<span class="reviews__vid"></span>
							</div>
						</div>
					</div>
				</a>
			</div>
			

		</div>
	</div>
	<div class="pagination">
		<div class="pagination__arrowleft">
			<a href="#" class=""></a>
		</div>
		<a href="#" class="pagination__first"><span>Первая</span></a>
		<a href="#" class="pagination__number">1</a>
		<a href="#" class="pagination__number pagination__number--active">2</a>
		<a href="#" class="pagination__number">3</a>
		<a href="#" class="pagination__number">4</a>
		<a href="#" class="pagination__number">5</a>
		<a href="#" class="pagination__last"><span>Последняя</span></a>
		<div class="pagination__arrowright">
			<a href="#" class=""></a>
		</div>
	</div>
</div>