<div class="reviewpage">
	<div class="container">
		<div class="reviewpage__hinewswrapper">
			<a href="#" class="reviewpage__hinews">
				<span>Обзор </span>
				<span>www.hi-news.ru</span>
			</a>
			<div class="reviews__timebox">
				<span class="reviews__time">28 июня 2015</span>
				<span class="reviews__comments">234</span>
				<span class="reviews__vid"></span>
			</div>
		</div>
		<div class="reviewpage__promo">
			<img src="upload/img__reviewspromo.jpg" alt="">
		</div>
		<div class="reviewpage__wrapper">
			<div class="reviewpage__leftcol">
				<div class="reviewpage__imgpreviewwrapper">
					<img src="upload/img__reviewsmall.jpg" alt="" width="258" height="146">
				</div>
				<p class="reviewpage__lefttext">
					Брет Хаус из Anandtech провел с гарнитурой некоторое время и остался впечатленным
				</p>
			</div>
			<div class="reviewpage__rightcol">
				<h2>Гарнитура hololens от microsoft  доступна для разработчиков</h2>
				<p class="reviewpage__tittle">«Да будет свет!» Эта фраза, породившая в свое время немало шуток, зимой приобретает совершенно новое, гораздо более здоровое звучание. Так что — шутки в сторону!</p>
				<p class="reviewpage__article">
					На конференции Build на этой неделе Microsoft объявила, что HoloLens теперь доступна для разработчиков. Гарнитура дополненной реальности несколько раз появлялась на публике в прошлом году и будет поставляться с набором приложений и функций, которые должны будут разжечь воображение команд разработчиков. Мы, в свою очередь, будем надеяться, что разработчики смогут раскрыть потенциал гарнитуры.
				</p>
				<p class="reviewpage__article">
					Первые отзывы от посетителей Build были положительными. Microsoft показала приложения, созданные NASA, Case Western Reserve Medical School, и некоторые из своих собственных творений. Гарнитура будет поставляться с такими приложениями, как RoboRaid, показанное редмондцами в прошлом году; Skype (с двухмерным экраном, проецируемым в воздух) и HoloStudio, приложение для 3D-дизайна, которое позволит вам создавать голограммы, «размещать» их на реальных объектах и создавать приложения «смешанной реальности», которые сочетают объекты реального мира с голографическим материалом.
					Среди других доступных приложений при запуске будет Actiongram (для записи и просмотра голограмм), HoloTour (голографическое приложение для путешествий по разным местам реального мира, Fragments (описанное как «криминальный триллер в стиле хай-тек») и Young Conker — о приключениях юной белки Конкер.
				</p>
				<div class="about__videowrpapper">
					<div class="about__videoplay"></div>
					<div class="about__videoaction"></div>
				</div>
				<p class="reviewpage__videodscrp">
					Брет Хаус из Anandtech провел с гарнитурой некоторое время и остался впечатленным
				</p>
				<p class="reviewpage__article">
					Брет Хаус из Anandtech провел с гарнитурой некоторое время и остался впечатленным, но отметил, что модели и демонстрации, предложенные Microsoft, в целом были не очень сложными, а у аппаратной части возникали проблемы время от времени. Одно из различий между гарнитурами виртуальной и дополненной реальности в том, что HoloLens Microsoft не привязаны к компьютеру проводным соединением. Из плюсов, это позволяет вам ходить, используя оборудование. Из минусов, конечно, это наличие батареи и доступная мощность — они ограничены по сравнению с Oculus, Vive или любым другим устройством виртуальной реальности.
				</p>
				<div class="sliderabout">
					<div id="owl-sliderabout" class="owl-carousel owl-theme">
						<div class="sliderabout__item"><img src="upload/img_review_slider.jpg" width="828" height="484"></div>
						<div class="sliderabout__item"><img src="upload/img_review_slider.jpg" width="828" height="484"></div>
						<div class="sliderabout__item"><img src="upload/img_review_slider.jpg" width="828" height="484"></div>
						<div class="sliderabout__item"><img src="upload/img_review_slider.jpg" width="828" height="484"></div>
						<div class="sliderabout__item"><img src="upload/img_review_slider.jpg" width="828" height="484"></div>
					</div>
				</div>
				<h3>Аппаратное обеспечение</h3>
				<p class="reviewpage__article">
					Финальная версия HoloLens имеет две линзы 16:9 с голографическим разрешением в 2,3 миллиона световых точек в общем и 2,5К радиантов (световых точек на радиан). Если по-русски, это означает, что прибор имеет достаточно лошадиных сил, чтобы сделать объект ярким, красочным и детализированным.
					Microsoft не торопится рассказывать о других аспектах устройства, но мы знаем, что HoloLens содержит одно IMU (инерционное измерительное устройство), несколько камер, датчики захвата смешанной реальности, множество микрофонов и один «датчик окружающей среды». Процессором выступает 32-битный процессор Intel (почти полностью построенный на базе Cherry Trail), а также в устройстве есть «устройство голографической обработки», HPU. Microsoft построила HPU самостоятельно, и о его возможностях и начинке не распространяется.
				</p>
				<p class="reviewpage__itallicarticle">
					Да будет свет! Эта фраза, породившая в свое время немало шуток, зимой приобретает совершенно новое, гораздо более здоровое звучание. Так что — шутки в сторону!
				</p>
				<h3>Взлетит или нет?</h3>
				<p class="reviewpage__article">
					Никто пока не знает долгосрочных амбиций Microsoft в плане HoloLens, его производства и распространения. Microsoft Research разрабатывает интересные концепции и возможные продукты уже 25 лет, и среди них — Cortana, Kinect, Illumiroom, а теперь и HoloLens. Многие из этих проектов сверхсовременные и перспективные. Возможно, Kinect не прижилась в играх, но используется в ряде других приложений и научно-исследовательских областях.
					Microsoft, похоже, вкладывает больше усилий в свой проект дополненной реальности, чем Google когда-либо вложила в свои Google Glass, и ценник в 3000 долларов должен предотвратить любое повторение стереотипного поведения в стиле «а, это фигня, как Glass». Виртуальная и дополненная реальность больше дополняют друг друга, чем соперничают — случаи применения каждой из технологий достаточно различны, и нет никаких причин, почему бы им не сосуществовать. В следующие несколько лет каждая сфера наберет разработчиков, пользователей и дизайнеров, которые все вместе будут оптимизировать программное обеспечение для своих технологий.
				</p>
				<p class="tags">Теги:
					<a href="#">microsoft</a>
					<a href="#">дополненная реальность</a>
					<a href="#">виртуальная реальность</a>
					<a href="#">hololens</a>
				</p>
				<div class="reviewpage__wrappersocial">
					<img src="images/social.jpg" alt="" width="649" height="50">
				</div>
		
			</div>	
		</div>
	</div>
	<div class="disquswrapper">
	</div>
	<div class="main">
		<div class="reviewsmain">
			<div class="container">
				<h2 class="reviewsmain__header">Экспертные обзоры</h2>
				<div class="reviews__wrapper">
					<div class="reviews__item">
						<a href="#" class="reviews__linkwrapper">
							<div class="reviews__imgwrapper">
								<img src="upload/playstvr.jpg" alt="" width="298" height="200">
							</div>
							<p class="reviews__tittle">
								Официальные изображения финальной версии playstation vr
							</p>
							<p class="reviews__dscrp">
								Компания DJI, известная своей серией дронов Phantom, представила новый
							</p>
							<div class="reviews__overlay">
								<div class="reviews__timebox">
									<span class="reviews__time">28 июня 2015</span>
									<span class="reviews__comments">234</span>
									<span class="reviews__likes">134</span>
									<span class="reviews__vid"></span>
								</div>
								<p class="reviews__tittle">
									Официальные изображения финальной версии playstation vr
								</p>
								<div class="reviews__hinews">
									<span>Обзор <br>www.hi-news.ru</span>
								</div>
							</div>
						</a>
					</div>
					<div class="reviews__item">
						<a href="#" class="reviews__linkwrapper">
							<div class="reviews__imgwrapper">
								<img src="upload/drone.jpg" alt="" width="298" height="200" >
							</div>
							<p class="reviews__tittle">
								Беспилотная мечта: dji представила дрон phantom 4
							</p>
							<p class="reviews__dscrp">
								Компания DJI, известная своей серией дронов Phantom, представила новый
							</p>
							<div class="reviews__overlay">
								<div class="reviews__timebox">
									<span class="reviews__time">28 июня 2015</span>
									<span class="reviews__comments">234</span>
									<span class="reviews__likes">134</span>
									<span class="reviews__vid"></span>
								</div>
								<p class="reviews__tittle">
									Беспилотная мечта: dji представила дрон phantom 4
								</p>
								<div class="reviews__hinews">
									<span>Обзор <br>www.hi-news.ru</span>
								</div>
							</div>
						</a>
					</div>
					<div class="reviews__item">
						<a href="#" class="reviews__linkwrapper">
							<div class="reviews__imgwrapper">
								<img src="upload/bookreader.jpg" alt="" width="298" height="220">
							</div>
							<p class="reviews__tittle">
								8 дюймов комфортного чтения
							</p>
							<p class="reviews__dscrp">
								Компания DJI, известная своей серией дронов Phantom, представила новый
							</p>
							<div class="reviews__overlay">
								<div class="reviews__timebox">
									<span class="reviews__time">28 июня 2015</span>
									<span class="reviews__comments">234</span>
									<span class="reviews__likes">134</span>
									<span class="reviews__vid"></span>
								</div>
								<p class="reviews__tittle">
									8 дюймов комфортного чтения
								</p>
								<div class="reviews__hinews">
									<span>Обзор <br>www.hi-news.ru</span>
								</div>
							</div>
						</a>
					</div>
					<div class="reviews__item">
						<a href="#" class="reviews__linkwrapper">
							<div class="reviews__imgwrapper">
								<img src="upload/acoustic.jpg" alt="" width="298" height="220">
							</div>
							<p class="reviews__tittle">
								jbl charge 2 — и песенку споет,и смартфон зарядит
							</p>
							<p class="reviews__dscrp">
								В этом году успели посетить центр дизайна компании HARMAN и имели
							</p>
							<div class="reviews__overlay">
								<div class="reviews__timebox">
									<span class="reviews__time">28 июня 2015</span>
									<span class="reviews__comments">234</span>
									<span class="reviews__likes">134</span>
									<span class="reviews__vid"></span>
								</div>
								<p class="reviews__tittle">
									jbl charge 2 — и песенку споет,и смартфон зарядит
								</p>
								<div class="reviews__hinews">
										<span>Обзор <br>www.hi-news.ru</span>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>