<div class="search">
	<div class="container">
		<div class="search__inpwrapper">
			<div class="search__searchinp">
				<form>
					  <input type="search"><input type="submit" value="">
				</form>
			</div>
		</div>
		<div class="search__products">
			<p class="search__head">Товары</p>
				<div class="search__item">
					<a href="#" class="search__imgwrapper">
						<span class="catalogitems__btncat catalogitems__btncat--listen">СЛУШАЙ!</span>
						<img src="upload/img_headphone_search.jpg" alt="" width="298" height="220">
					</a>
					<div class="search__textbox">
						<h2 class="search__prodname"><a href="#">Caeden Linea N°1 Faceted Carbon & Gold Headphone</a></h2>
						<p class="search__prodtittle">Designed with clean lines, refined metal finishes and a beautifully balanced acoustic profile, the Linea Nº1 delivers impeccable sound in a truly classic headphone.</p>
						<p class="catalogitems__cost">
							9 964 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
				<div class="search__item">
					<a href="#" class="search__imgwrapper">
						<span class="catalogitems__btncat catalogitems__btncat--listen">СЛУШАЙ!</span>
						<img src="upload/img_headphone_search.jpg" alt="" width="298" height="220">
					</a>
					<div class="search__textbox">
						<h2 class="search__prodname"><a href="#">Caeden Linea N°1 Faceted Carbon & Gold Headphone</a></h2>
						<p class="search__prodtittle">Designed with clean lines, refined metal finishes and a beautifully balanced acoustic profile, the Linea Nº1 delivers impeccable sound in a truly classic headphone.</p>
						<p class="catalogitems__cost">
							9 964 ₽
						</p>
						<span class="catalogitems__yandexratetittle">Рейтинги Яндекса</span>
						<div class="stars5">
							<span class="star-5"></span>
							<span class="star-4_5 star-active"></span>
							<span class="star-4 "></span>
							<span class="star-3_5 star-active"></span>
							<span class="star-3"></span>
							<span class="star-2_5"></span>
							<span class="star-2"></span>
							<span class="star-1_5"></span>
							<span class="star-1"></span>
						</div> 
						<span class="catalogitems__yandexratenum">4,5</span>
					</div>
				</div>
		</div>
		<div class="search__reviews">
			<p class="search__head">Обзоры</p>
			<div class="search__item">
				<a href="#" class="search__imgwrapper">
					<img src="upload/img_headphone_search.jpg" alt="" width="298" height="220">
				</a>
				<div class="search__textbox">
					<span class="search__time">
						28 июня 2015
					</span>
					<h2 class="search__prodname"><a href="#">Наушники Caeden Linea N°1</a></h2>
					<p class="search__prodtittle">While there are plenty of cleanly designed headphones out there, NYC's Caeden has just launched the Linea N° 1 and it's beyond attractive. We found, while testing out the Convex Carbon and Gunmetal colorway, that there's far more to it than good looks.</p>
					<div class="reviews__hinews">
						<span>Обзор <br>www.hi-news.ru</span>
					</div>
				</div>
			</div>
		</div>
		<div class="pagination">
		<div class="pagination__arrowleft">
			<a href="#" class=""></a>
		</div>
		<a href="#" class="pagination__first"><span>Первая</span></a>
		<a href="#" class="pagination__number">1</a>
		<a href="#" class="pagination__number pagination__number--active">2</a>
		<a href="#" class="pagination__number">3</a>
		<a href="#" class="pagination__number">4</a>
		<a href="#" class="pagination__number">5</a>
		<a href="#" class="pagination__last"><span>Последняя</span></a>
		<div class="pagination__arrowright">
			<a href="#" class=""></a>
		</div>
	</div>
	</div>
</div>