<div class="sidebar__mobhead">
		<a href="#" class="sidebar__close"></a>
</div>
<div class="sidebar">
	<div class="sidebar__wrapper">
		<div class="sidebar__inborder sidebar__inborder--chat">
			<a href="#" class="sidebar__item">Смартфоны и планшеты</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--use ">
			<a href="#" class="sidebar__item">Электронные часы</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--beinform">
			<a href="#" class="sidebar__item">Фитнес и здоровье</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--listen">
			<a href="#" class="sidebar__item">Наушники</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--listen activeitem">
			<a href="#" class="sidebar__item">Акустика</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--use">
			<a href="#" class="sidebar__item">Аксессуары и чехлы</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--use">
			<a href="#" class="sidebar__item">Фото и видео</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--use">
			<a href="#" class="sidebar__item">Умный дом</a>
		</div>
		<div class="sidebar__inborder sidebar__inborder--play">
			<a href="#" class="sidebar__item">Игры и развлечения</a>
		</div>	
		<div class="sidebar__inborder sidebar__inborder--move">
			<a href="#" class="sidebar__item">Транспорт будущего
			</a>
		</div>
	</div>
	<div class="form">
		<form>
			<p class="form__tittle">Бренд</p>
			<div class="form__input">
			    <select name="brand" id="brands" >
			    	<option disabled selected>Все бренды</option>
					<option>Item</option>
					<option>Item</option>
					<option>Item</option>
					<option>Item</option>
					<option>Item</option>
			    </select>
			</div>
			<p class="form__tittle">Цена</p>
			<div class="form__input form__input--small">
				<div class="form__inpwrap">
					<input type="text" id="amount" readonly >
					<div class="form__switchline">
						<div id="slider-range-min"></div>
					</div>

				</div>
				<div class="form__inpwrap">
					<input type="text" id="amount2" readonly >
					<div class="form__switchline">
						<div id="slider-range-min2"></div>
					</div>
				</div>
			</div>
			<p class="form__tittle">Цвет</p>
			<div class="coloredcircle">
				<div class="coloredcircle__row">
					<input type="checkbox" id="cldcircle__cl1"><label for="cldcircle__cl1" style="background: #ffffff">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl2"><label for="cldcircle__cl2" style="background: #d4d3ce">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl3"><label for="cldcircle__cl3" style="background: #222325" class="whitechekmark">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl4"><label for="cldcircle__cl4" style="background: #007cc5" class="whitechekmark">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl5" class="whitechekmark"><label for="cldcircle__cl5" style="background: #16c97f">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
				</div>
				<div class="coloredcircle__row">
					<input type="checkbox" id="cldcircle__cl6" ><label for="cldcircle__cl6" style="background: #f2ec40" >	
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl7"><label for="cldcircle__cl7" style="background: #84e3b4">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl8" ><label for="cldcircle__cl8" style="background: #ff5f72">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl9"><label for="cldcircle__cl9" style="background: #e6c796" class="whitechekmark">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
					<input type="checkbox" id="cldcircle__cl10" ><label for="cldcircle__cl10" style="background: #d1d1d1">
						<span class="coloredcircle__chwrap">
							<svg width="15px" height="12px" viewBox="904 621 15 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<defs></defs>
								<polyline id="Path" stroke="#FFFFFF " stroke-width="3" fill="none" points="906 625 910.5 630 917 623"></polyline>
							</svg>
						</span>
					</label>	
				</div>
			</div>
			<div class="form__radiobtnsquare">
				<input type="radio" name="rd" id="radio_sq1">
				<label for="radio_sq1"><span></span>Check</label>
			</div>
			<div class="form__radiobtnsquare">
				<input type="radio" name="rd" id="radio_sq2">
				<label for="radio_sq2"><span></span>Unchecked</label>
			</div>
			<div class="form__radiobtncircl">
				<input type="radio" name="crd" id="radio_cr1">
				<label for="radio_cr1"><span></span>Check</label>
			</div>
			<div class="form__radiobtncircl">
				<input type="radio" name="crd" id="radio_cr2">
				<label for="radio_cr2"><span></span>unchecked</label>
			</div>
			<div class="form__apply">
				<input type="submit" value="Применить фильтры">
			</div>
			<div class="form__reset">
				<input type="reset" value="Сбросить фильтры">
			</div>
		</form>
	</div>	
</div>
