<div class="sidebar__mobhead">
		<a href="#" class="sidebar__close"></a>
</div>
<div class="sidebar">
	<div class="sidebar__wrapper">
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean">Гаджеты</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--listenclean">Звук и акустика</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--playclean">Игровые консоли</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean activeitem">Камеры</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean">Компьютеры</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean">Планшеты</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean">Софт</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--moveclean">Технологии</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--chatclean">Смартфоны</a>
		</div>	
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--travelclean">Транспорт будущего
			</a>
		</div>
		<div class="sidebar__inborder">
			<a href="#" class="sidebar__item sidebar__inborder--useclean">Электронные книги
			</a>
		</div>
	</div>
</div>
