<div class="vacancies">
	<div class="container">
		<div class="vacancies__promobanner">
			<div class="vacancies__promowrapperimg">
				<img src="upload/vacancies.jpg" alt="" width="1252" height="347">
			</div>
			<div class="vacancies__promotext">
				<h3>Digybeex — это динамичная, активно развивающаяся компания.</h3>
				<p>Мы перевернули представление о носимых гаджетах и гаджетах для спорта и отдыха, сфокусировавшись на профессиональных брендах — GoPro, Suunto, Garmin, Marshall и других.</p>
				<a href="#" class="vacancies__promobtn">Отправить резюме</a>
			</div>
		</div>
		<div class="vacancies__wrapper">
			<div class="vacancies__left">
				<div class="vacancies__imgleftwrapper">
					<img src="upload/vacancies_smimg.jpg" alt="" width="278" height="147">
				</div>
				<h2>Официальный представитель</h2>
				<p>DigyBeex является официальным представителем таких известных брендов как: GoPro, Suunto, Marshall, PocketBook, Marley, Razer, Withings, Medisana, Marley, Sonos. Audio-Technica.</p>
			</div>
			<div class="vacancies__right">
				<h2 class="vacancies__head">Работа у нас</h2>
				<p class="vacancies__article">Коллектив магазина Digybeex состоит из специалистов, которые считают продажу техники собственным призванием. Поэтому мы испытываем искреннее удовольствие при обслуживании клиентов.</p>
				<p class="vacancies__text">Чувствуете, что зимой будто впадаете в спячку? Настроение держится «на нуле»? А работа —в режиме «заморозки»? Прислушайтесь к себе внимательнее. Для научного описания особой формы зимней депрессии в медицине больше тридцати лет назаaд даже ввели специальный термин «сезонное аффективное расстройство» (английская аббревиатура SAD). Сделал это в 1984 году психиатр Норман Розенталь, в корне поменяв наши представления о «сказочном» времени года.</p>
				<div class="vacancies__acordion">
					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title vacancies__acrdnhead">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
										<span class="vacancies__time">28 июля 2016</span>
											Account manager
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse ">
								<div class="panel-body">
									<div class="vacancies__leftpan">
										<ul class="vacancies__requires">
											Требования:
											<li>опыт веб-разработки;</li>
											<li>хорошее знание JavaScript, HTML5, CSS3;</li>
											<li>желание профессионально развиваться.</li>
										</ul>
										<ul class="vacancies__requires">
											Плюсом будет:
											<li>ES6, LESS;</li>
											<li>опыт работы с MVC JS фреймворками (AngularJS, EmberJS);</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт работы с системой контроля версий.</li>
										</ul>
										<ul class="vacancies__requires">
											Условия:
											<li>работа в интересном и развивающемся проекте;</li>
											<li>современное оборудование и инфраструктура;;</li>
											<li>офис в центре города;</li>
											<li>перспективы профессионального и карьерного роста;</li>
											<li>оформление в соответствии с ТК РФ;</li>
											<li>корпоративное обучение;</li>
										</ul>
										<div class="delivery__form">
											<form >
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-name">Имя<span></span></label>
														<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-surname">Фамилия<span></span></label>
														<input type="text" id="deliver_inp-surname" placeholder="Ваша фамилия">
													</div>
												</div>
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-tel">Телефон<span></span></label>
														<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-email">E-mail<span></span></label>
														<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
													</div>
												</div>
												<div class="delivery__wrapper">
													<label for="deliver_txtar">О себе</label>
													<textarea name="" id="deliver_txtar" cols="30" rows="10"></textarea>
												</div>
												<div class="delivery__inpfilewrap">
													<label for="inpfilevac">Прикрепить файл</label>
													<input type="file" id="inpfilevac">
												</div>
												<div class="delivery__inpbtn">
													<input type="submit" value="Отправить">
												</div>
											</form>
										</div>
									</div>
									<div class="vacancies__rightpan">
										<div class="vacancies__contact">
											<div class="vacancies__avwrap">
												<img src="upload/vacancies_contact.png" alt="" width="86" height="86">
											</div>
											<p class="vacancies__ctcface">
												Контактное лицо
											</p>
											<p class="vacancies__ctcname">
												Константин Константинов
											</p>
											<p class="vacancies__ctcemail">
												vacancies@digybeex.com
											</p>
											<p class="vacancies__ctcpos">	Специалист по кадрам
											</p>
										</div>
									</div>				
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title vacancies__acrdnhead">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
										<span class="vacancies__time">28 июля 2016</span>
										Торговый представитель
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="vacancies__leftpan">
										<ul class="vacancies__requires">
											Требования:
											<li>опыт веб-разработки;</li>
											<li>хорошее знание JavaScript, HTML5, CSS3;</li>
											<li>желание профессионально развиваться.</li>
										</ul>
										<ul class="vacancies__requires">
											Плюсом будет:
											<li>ES6, LESS;</li>
											<li>опыт работы с MVC JS фреймворками (AngularJS, EmberJS);</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт работы с системой контроля версий.</li>
										</ul>
										<ul class="vacancies__requires">
											Условия:
											<li>работа в интересном и развивающемся проекте;</li>
											<li>современное оборудование и инфраструктура;;</li>
											<li>офис в центре города;</li>
											<li>перспективы профессионального и карьерного роста;</li>
											<li>оформление в соответствии с ТК РФ;</li>
											<li>корпоративное обучение;</li>
										</ul>
										<div class="delivery__form">
											<form >
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-name">Имя<span></span></label>
														<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-surname">Фамилия<span></span></label>
														<input type="text" id="deliver_inp-surname" placeholder="Ваша фамилия">
													</div>
												</div>
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-tel">Телефон<span></span></label>
														<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-email">E-mail<span></span></label>
														<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
													</div>
												</div>
												<div class="delivery__wrapper">
													<label for="deliver_txtar">О себе</label>
													<textarea name="" id="deliver_txtar" cols="30" rows="10"></textarea>
												</div>
												<div class="delivery__inpfilewrap">
													<label for="inpfilevac">Прикрепить файл</label>
													<input type="file" id="inpfilevac">
												</div>
												<div class="delivery__inpbtn">
													<input type="submit" value="Отправить">
												</div>
											</form>
										</div>
									</div>
									<div class="vacancies__rightpan">
										<div class="vacancies__contact">
											<div class="vacancies__avwrap">
												<img src="upload/vacancies_contact.png" alt="" width="86" height="86">
											</div>
											<p class="vacancies__ctcface">
												Контактное лицо
											</p>
											<p class="vacancies__ctcname">
												Константин Константинов
											</p>
											<p class="vacancies__ctcemail">
												vacancies@digybeex.com
											</p>
											<p class="vacancies__ctcpos">	Специалист по кадрам
											</p>
										</div>
									</div>				
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title vacancies__acrdnhead">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
										<span class="vacancies__time">28 июля 2016</span>
										Front-end разработчик
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse ">
								<div class="panel-body">
									<div class="vacancies__leftpan">
										<ul class="vacancies__requires">
											Требования:
											<li>опыт веб-разработки;</li>
											<li>хорошее знание JavaScript, HTML5, CSS3;</li>
											<li>желание профессионально развиваться.</li>
										</ul>
										<ul class="vacancies__requires">
											Плюсом будет:
											<li>ES6, LESS;</li>
											<li>опыт работы с MVC JS фреймворками (AngularJS, EmberJS);</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт написания Unit-тестов и понимание, зачем они нужны;</li>
											<li>опыт работы с системой контроля версий.</li>
										</ul>
										<ul class="vacancies__requires">
											Условия:
											<li>работа в интересном и развивающемся проекте;</li>
											<li>современное оборудование и инфраструктура;;</li>
											<li>офис в центре города;</li>
											<li>перспективы профессионального и карьерного роста;</li>
											<li>оформление в соответствии с ТК РФ;</li>
											<li>корпоративное обучение;</li>
										</ul>
										<div class="delivery__form">
											<form >
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-name">Имя<span></span></label>
														<input type="text" id="deliver_inp-name" placeholder="Ваше имя">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-surname">Фамилия<span></span></label>
														<input type="text" id="deliver_inp-surname" placeholder="Ваша фамилия">
													</div>
												</div>
												<div class="delivery__wrapper">
													<div class="delivery__forminput">
														<label for="deliver_inp-tel">Телефон<span></span></label>
														<input type="text" id="deliver_inp-tel" placeholder="Ваш телефон">
													</div>
													<div class="delivery__forminput">
														<label for="deliver_inp-email">E-mail<span></span></label>
														<input type="text" id="deliver_inp-email" placeholder="Ваш e-mail">
													</div>
												</div>
												<div class="delivery__wrapper">
													<label for="deliver_txtar">О себе</label>
													<textarea name="" id="deliver_txtar" cols="30" rows="10"></textarea>
												</div>
												<div class="delivery__inpfilewrap">
													<label for="inpfilevac">Прикрепить файл</label>
													<input type="file" id="inpfilevac">
												</div>
												<div class="delivery__inpbtn">
													<input type="submit" value="Отправить">
												</div>
											</form>
										</div>
									</div>
									<div class="vacancies__rightpan">
										<div class="vacancies__contact">
											<div class="vacancies__avwrap">
												<img src="upload/vacancies_contact.png" alt="" width="86" height="86">
											</div>
											<p class="vacancies__ctcface">
												Контактное лицо
											</p>
											<p class="vacancies__ctcname">
												Константин Константинов
											</p>
											<p class="vacancies__ctcemail">
												vacancies@digybeex.com
											</p>
											<p class="vacancies__ctcpos">	Специалист по кадрам
											</p>
										</div>
									</div>				
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>