<div class="about">
	<div class="container">
		<div class="about__promoimg">
			<img src="upload/img_aboutpromo.png" alt="" width="1260" height="516">
		</div>
	</div>
	<div class="about__block">
		<div class="container">
			<div class="about__in">
				<h1>О проекте</h1>
				<p class="about__dscrp">
					Центр мобильных аксессуаров, акустики и умных гаджетов DigyBeex представляет лучшие мировые бренды для обустройства дома, повседневной жизни, отдыха и для занятий спортом. В магазине можно выбрать подарок для меломана или спортсмена, любимой девушки или шефа. Все самые популярные бренды представлены теперь в DigyBeex.
				</p>
			</div>
		</div>
		<div class="about__videowrpapper">
			<div class="about__videoplay"></div>
			<div class="about__videoaction"></div>
		</div>
		<div class="container">
			<div class="about__in">
				<p class="about__videowdscrp">
					Брет Хаус из Anandtech провел с гарнитурой некоторое время и остался впечатленным
				</p>
				<p class="about__dscrp">
					Брет Хаус из Anandtech провел с гарнитурой некоторое время и остался впечатленным, но отметил, что модели и демонстрации, предложенные Microsoft, в целом были не очень сложными, а у аппаратной части возникали проблемы время от времени. Одно из различий между гарнитурами виртуальной и дополненной реальности в том, что HoloLens Microsoft не привязаны к компьютеру проводным соединением. Из плюсов, это позволяет вам ходить, используя оборудование. Из минусов, конечно, это наличие батареи и доступная мощность — они ограничены по сравнению с Oculus, Vive или любым другим устройством виртуальной реальности.
				</p>
			</div>
		</div>
		<div class="sliderabout">
			<div id="owl-sliderabout" class="owl-carousel owl-theme">
				<div class="sliderabout__item"><img src="upload/img_about_slider.jpg"></div>
				<div class="sliderabout__item"><img src="upload/img_about_slider.jpg"></div>
				<div class="sliderabout__item"><img src="upload/img_about_slider.jpg"></div>
				<div class="sliderabout__item"><img src="upload/img_about_slider.jpg"></div>
				<div class="sliderabout__item"><img src="upload/img_about_slider.jpg"></div>
		</div>
	</div>
</div>