<footer>
	<div class="container">
		<div class="footer">
			<div class="footer__nav">
				<nav>
					<a href="#" class="footer__navlink">О проекте</a>
					<a href="#" class="footer__navlink">Доставка</a>
					<a href="#" class="footer__navlink">Оплата</a>
					<a href="#" class="footer__navlink">Политика возврата</a>
					<a href="#" class="footer__navlink">Помощь</a>
					<a href="#" class="footer__navlink">Карта сайта</a>
				</nav>
			</div>
			<div class="footer__contacts">
				<p class="footer__contitem">
					Адресс: <br>	
					<span>г. Калининград, ул. Театральная, д. 30, ТРЦ «Европа»</span> 
				</p>
				<p class="footer__contitem">
					График работы: <br>
					<span>
						ежедневно с 10:00 до 20:00
					</span>
				</p>
			</div>
			<div class="footer__embox">
				<p class="footer__tel"> +7 (4012) 33-77-74</p>
				<p class="footer__email"> info@digybeex.com</p>
				<div class="footer__social">
					<a href="#" class="footer__linksocial footer__linksocial--vk"></a>
					<a href="#" class="footer__linksocial footer__linksocial--fb"></a>
					<a href="#" class="footer__linksocial footer__linksocial--in"></a>
				</div>
			</div>
			<div class="footer__paymentbox">
				<a href="#" class="footer__payments"><img src="upload/logo_visa.png" alt="" width="93" height="19"></a>
				<a href="#" class="footer__payments"><img src="upload/logo_mc.png" alt="" width="90" height="20"></a>
			</div>
		</div>
	</div>
</footer>
<div class="copyrights">
	<div class="container">
		<p class="copyrights__left">
			© Digybeex all rights reserved
		</p>
		<div class="copyrights__right">
			<p>Разработка сайта</p>
			<img src="upload/BDVlogo.png" alt="" width="91" height="30">
		</div>
		
	</div>
</div>