<div class="upperinfo">
	<div class="container">
		<span class="upperinfo__days">
			Eжедневно с 10:00 до 20:00
		</span>
		<span class="upperinfo__social">
			<a href="#" class="upperinfo__sociallk upperinfo__sociallk--vk"></a>
			<a href="#" class="upperinfo__sociallk upperinfo__sociallk--fb"></a>
			<a href="#" class="upperinfo__sociallk upperinfo__sociallk--in"></a>
		</span>

		<span class="upperinfo__tel">
			 +7 (4012) 33-77-74
		</span>
			</div>

</div>
<header id="header" class="default">
	<div class="header">
		<div class="container">
			<div class="header__menutoggle">
				<a href="#">
					<span class="header__menutoggle-one"></span>
					<span class="header__menutoggle-two"></span>
					<span class="header__menutoggle-three"></span>
				</a>
			</div>
			<a href="#" class="header__logo"><img src="upload/logo_Header.png" alt=""></a>
			<ul class="navmenu">
				<li>
					<a href="#" class="navmenu__link navmenu__link--dropdown navmenu__link--active">Каталог
					</a>
					<div class="submenu">
						<div class="container">
							<ul>
								<li>
									<a href="#" class="submenu__link submenu__link--look">Смартфоны и планшеты
									</a>
									<div class="submenu__imgblock submenu__imgblock--chat  ">
											<h3>Общайся!</h3>
											<p>Наушники, акустика</p>
											<div class="submenu__imgwrapper">
												<img src="upload/img__header.jpg" alt="" width="394" height="250">
											</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--use ">Электронные часы	
									</a>
									<div class="submenu__imgblock submenu__imgblock--use">
										<h3>Удивляйся!</h3>
										<p>Электронные часы</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--beinform">Фитнес и здоровье</a>
									<div class="submenu__imgblock submenu__imgblock--beinform">
										<h3>Тренируйся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--listen">Наушники</a>
									<div class="submenu__imgblock submenu__imgblock--listen">
										<h3>Слушай!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link submenu__link--listen">Акустика</a>
									<div class="submenu__imgblock submenu__imgblock--listen">
										<h3>Слушай!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
							</ul>
							<ul>
								<li>
									<a href="#" class="submenu__link submenu__link--use">Аксессуары и чехлы</a>
									<div class="submenu__imgblock submenu__imgblock--use">
										<h3>Удивляйся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>	
									<a href="#" class="submenu__link submenu__link--use">Фото и видео</a>
									<div class="submenu__imgblock submenu__imgblock--use">
										<h3>Удивляйся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li><a href="#" class="submenu__link submenu__link--play">Умный дом</a>
									<div class="submenu__imgblock submenu__imgblock--play">
										<h3>Играй!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--play">Игры и развлечения</a>
									<div class="submenu__imgblock submenu__imgblock--play">
										<h3>Играй!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--move">Транспорт будущего</a>
									<div class="submenu__imgblock submenu__imgblock--move">
										<h3>Передвигайся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="navmenu__link">Digy Club</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Подарки</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Акции</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Обзоры</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Сервисный центр</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Контакты</a>
				</li>
				<div class="flex-container">
					<div class="flex-container__item">
						<div class="header__search">
							<form>
								  <input id="search" name="search" type="text"><input id="search_submit" type="submit">
							</form>
						</div>
					</div>
					<div class="flex-container__item">
						<form>
							<input type="submit" value="ВОЙТИ" class="header__btn">
						</form>
					</div>

				</div>
			</ul>
			<a href="#" class="header__buy"></a>
		</div>
	</div>

</header>