<header>
	<div class="header">
		<div class="container">
			<div class="header__menutoggle">
				<a href="#">
					<span class="header__menutoggle-one"></span>
					<span class="header__menutoggle-two"></span>
					<span class="header__menutoggle-three"></span>
				</a>
			</div>
			<a href="#" class="header__logo"><img src="upload/logo_Header.png" alt=""></a>
			<ul class="navmenu">
				<li>
					<a href="#" class="navmenu__link navmenu__link--dropdown navmenu__link--active">Каталог
					</a>
					<div class="submenu">
						<div class="container">
							<ul>
								<li>
									<a href="#" class="submenu__link submenu__link--look">Смартфоны и планшеты
									</a>
									<div class="submenu__imgblock submenu__imgblock--look  ">
											<h3>Смотри!</h3>
											<p>Наушники, акустика</p>
											<div class="submenu__imgwrapper">
												<img src="upload/img__header.jpg" alt="" width="394" height="250">
											</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--use ">Электронные часы	
									</a>
									<div class="submenu__imgblock submenu__imgblock--use">
										<h3>Пользуйся!</h3>
										<p>Электронные часы</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--beinform">Фитнес и здоровье</a>
									<div class="submenu__imgblock submenu__imgblock--beinform">
										<h3>Будь форме!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--listen">Наушники</a>
									<div class="submenu__imgblock submenu__imgblock--listen">
										<h3>Слушай!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link submenu__link--listen">Акустика</a>
									<div class="submenu__imgblock submenu__imgblock--listen">
										<h3>Слушай!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
							</ul>
							<ul>
								<li>
									<a href="#" class="submenu__link submenu__link--use">Аксессуары и чехлы</a>
									<div class="submenu__imgblock submenu__imgblock--use">
										<h3>Пользуйся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>	
									<a href="#" class="submenu__link submenu__link--shoot">Фото и видео</a>
									<div class="submenu__imgblock submenu__imgblock--shoot">
										<h3>Пользуйся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li><a href="#" class="submenu__link submenu__link--live">Умный дом</a>
									<div class="submenu__imgblock submenu__imgblock--live">
										<h3>Живи!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--play">Игры и развлечения</a>
									<div class="submenu__imgblock submenu__imgblock--play">
										<h3>Сниимай</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
								<li>
									<a href="#" class="submenu__link submenu__link--move">Транспорт будущего</a>
									<div class="submenu__imgblock submenu__imgblock--move">
										<h3>Передвигайся!</h3>
										<p>Наушники, акустика</p>
										<div class="submenu__imgwrapper">
											<img src="upload/img__header.jpg" alt="" width="394" height="250">
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="#" class="navmenu__link">Digy Club</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Подарки</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Акции</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Обзоры</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Сервисный центр</a>
				</li>
				<li>
					<a href="#" class="navmenu__link">Контакты</a>
				</li>
				<div class="flex-container">
					<div class="flex-container__item">
						<div class="header__search">
							<form>
								  <input id="search" name="search" type="text"><input id="search_submit" type="submit">
							</form>
						</div>
					</div>
					<div class="flex-container__item">
						<div class="header__avbox">
							<div class="header__avwrapper">
								<img src="upload/av_sm.jpg" alt="" width="45" height="45">
							</div>
							<div class="header__accwrapper">
								<a href="#" class="header__account">Алексей</a>
								<ul class="header__ddwnlogged">
									<li><a href="#" class="header__linklogged">Личный кабинет</a></li>
									<li><a href="#" class="header__linklogged">История</a></li>
									<li><a href="#" class="header__linklogged">Избранное</a></li>
									<li><a href="#" class="header__linklogged">Выход</a></li>
								</ul>
							</div>
						</div>

					</div>

				</div>
			</ul>
			<a href="#" class="header__buylogged">
				<span class="header__buynum">2</span>
			</a>
		</div>
	</div>

</header>