<div class="leftbarwrapper">
	<div class="order">
		<h2>Ваш заказ</h2>
		<div>
			<span class="order__tittle">Сумма</span>
			<span class="order__value">54 973 ₽</span>
		</div>
		<div>
			<span class="order__tittle">Скидка</span>
			<span class="order__value">5 973 ₽</span>
		</div>
		<div>
			<span class="order__tittle cormb">Итого</span>
			<span class="order__value">54 973 ₽</span>
		</div>
		<span class="order__dscrp">Без учета доставки</span>
		<form>
			<div class="order__btn">
				<input type="submit" value="Оформить заказ">
			</div>
		</form>
	</div>
</div>