<div class="container">
	<div class="processbar">
		<div class="processbar__in">
			<span class="processbar__step  processbar__step--finished--ic-crt"></span>
			<span class="processbar__line processbar__line--finished"></span>
			<span class="processbar__step processbar__step--finished--ic-trn"></span>
			<span class="processbar__line processbar__line--active"></span>
			<span class="processbar__step processbar__step--active--ic-checkfin"></span>
		</div>
	</div>
</div>