<div class="container">
	<div class="processbar">
		<div class="processbar__in">
			<span class="processbar__step processbar__step--ic-crt"></span>
			<span class="processbar__line"></span>
			<span class="processbar__step processbar__step--ic-trn"></span>
			<span class="processbar__line "></span>
			<span class="processbar__step processbar__step--ic-checkfin"></span>
		</div>
	</div>
</div>