<div class="promobanner">
	<div class="promobanner__imgwrapper">
		<img src="upload/actionpromo.jpg" alt="" width="1252" height="346">
	</div>
	<div class="promobanner__overlay">
		<h2>Заряжайте своё авто — зажигайте громко!</h2>
		<p>А это лидер нашего сегодняшнего рейтинга, который поразил в этом году всех своим отличным качеством</p>
		<a href="#" class="promobanner__btn">Подробнее</a>
	</div>
</div>