=font($family, $size, $color)
	font-family: $family
	font-size: $size
	color: $color
=btn($brdrad,  $brdb, $brdcol, $brdbg)
	-webkit-border-radius: $brdrad
	-moz-border-radius: $brdrad
	border-radius: $brdrad
	border: $brdb solid $brdcol
	background: $brdbg
=brdrad2()
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
=shadowbloc()
    -webkit-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    -moz-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
=inpshadow
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
    -moz-box-shadow:    inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
    box-shadow:         inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15)
    font-family: 'robotoregular'
    font-size: 16px
    color: $FontclGrSidebar
=bordecategories($bgcolor)
      &:before
        background: $bgcolor
        content: " "
        width: 2px
        height: 0px
        display: inline-block
        position: absolute
        bottom: 0
        left: 0
        transition: all 0.5s ease-out
        -webkit-transition: all 0.1s ease-out
        -moz-transition: all 0.1s ease-out
        -ms-transition: all 0.1s ease-out
        -o-transition: all 0.1s ease-out
      &:hover::before
        content: " "
        height: 43px
        width: 2px
        display: inline-block
        position: absolute
        bottom: 0
        left: 0
        transition: all 0.5s ease-out
        -webkit-transition: all 0.5s ease-out
        -moz-transition: all 0.5s ease-out
        -ms-transition: all 0.5s ease-out
        -o-transition: all 0.5s ease-out

=bordecategoriesShort($bgcolor)
      &:before
        background: $bgcolor
        content: " "
        width: 4px
        height: 0px
        display: inline-block
        position: absolute
        bottom: 0
        left: 0
        transition: all 0.5s ease-out
        -webkit-transition: all 0.1s ease-out
        -moz-transition: all 0.1s ease-out
        -ms-transition: all 0.1s ease-out
        -o-transition: all 0.1s ease-out
      &:hover::before
        content: " "
        height: 12px
        width: 4px
        display: inline-block
        position: absolute
        bottom: 6px
        left: 0
        transition: all 0.5s ease-out
        -webkit-transition: all 0.5s ease-out
        -moz-transition: all 0.5s ease-out
        -ms-transition: all 0.5s ease-out
        -o-transition: all 0.5s ease-out


=btncatg($BgColor)
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    background: $BgColor
    font-family: 'robotomedium'
    color: #ffffff
    font-size: 10px
    padding: 7px 8px 5px 10px
    text-transform: uppercase
    letter-spacing: 2px
=btnaction($BrdsColor)
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    border: 1px solid $BrdsColor
    text-decoration: none
    font-size: 14px
    font-family: 'robotomedium'
    display: inline-block

