@media screen and (max-width: 640px)
  body
    min-width: 360px
    padding-top: 51px
  .container
    width: 90%
    position: relative

  // header
  header
    width: 100%
    min-width: 360px
    .navmenu
      float: none
      width: 100%
      margin: 0
      display: none
      position: fixed
      background: #fff
      z-index: 1000
      top: 0px
      left: -1000px
      padding: 49px 0px 120px 19px
      width: 76%
      +transition(left 0.5s ease-out)
      li
        display: block
        float: none
        margin: 0
        padding: 13px 0 14px 0
        width: 80%
      &__link
        // display: block
        // float: none
        // margin: 0
        // padding: 13px 0 14px 0
        // width: 80%
        padding: 0px
        &--active
          border: 0
          &:before,
          &:after
            display: none
    .transition
      left: 0
    .header
      min-height: 51px
      &__logo
        top: 6px
        left: 80px
      &__btn
        margin: 17px 0px 0px
        padding: 13px 83px 12px 84px
      &__search
        margin: 21px 0px 0px 192px
        input[type="text"],
        input[type="text"]:focus
          width: 212px
          z-index: 1
          height: 43px
          border: 1px solid $ColorBrbForm
          cursor: text
          background: $ColorBgSearchGr
          -webkit-border-radius: 2px
          -moz-border-radius: 2px
          border-radius: 2px
      &__buy
        margin: 17px 0px 0px 93%
      &__menutoggle
        top: 18px
        left: 1px
        z-index: 1001
        a
          display: block
      .flex-container
        -webkit-flex-direction: column-reverse
        -ms-flex-direction: column-reverse
        flex-direction: column-reverse
        margin-left: 0

  // breadcrumps
  .breadcrumps
    float: none
    width: 100%
    text-align: center
    margin-bottom: 0px
    padding-top: 20px
    &__item
      font-size: 30px
      &:last-child
        font-family: $RobotoLight
      &:not(:last-child) 
        display: none

  // sortbox
  .sortbox
    float: none
    width: 100%
    text-align: left
    padding-top: 20px
    &__tittle
      display: block
      margin: 0px 0px 15px 10px
      text-align: center
    &__btn
      margin: 0px 17px 10px 31px
      padding: 9px 0 11px 0
      width: 120px
      -moz-box-sizing: border-box
      box-sizing: border-box
      &:nth-child(3)
        margin: 0px 0px 10px
      &--bgimg
        display: inline-block
        padding: 9px 0 11px 0
        width: 260px
        -moz-box-sizing: border-box
        box-sizing: border-box
        background: url(../images/ic_filter.svg) 95% 56% no-repeat
  
  // sidebar
  .sidebar
    width: 100%
    +position(absolute, 2px nul null 0)
    z-index: 100
    display: none
    &__mobhead
      display: none
      +position(absolute, -50px null null 0)
      z-index: 101
    &__close
      margin: 16px 0px 0px 0px
    .form
      &__input
        input[type="text"]
          width: 287px
          -moz-box-sizing: border-box
          box-sizing: border-box
      &__inpwrap
        margin-right: 38px
        input[type="text"]
          width: 130px
      &__apply
        display: block
        input
          width: 277px
      &__reset
        input
          width: 277px

  // catalogitems
  .catalogitem_wrapper
    width: 100%
    margin-left: 16px
  .catalogitems
    &__linkwrapper:hover
      .catalogitems__overlay
        display: none
      .catalogitems__btncat
        display: none
    &__in 
      h2
        font-size: 16px
    &__tittle
      font-size: 13px
    &__dscrp
      display: none
    &__imgwrapper
      width: 100%
      height: 100%
    &__item
      width: 44%
      height: 257px
      margin: 0px 10px 10px 0px
      &--wide
        width: 91%
        .catalogitems__cost
          margin: 111px 0px 12px 10px
    &__yandexratetittle
        display: none
    &__yandexrate
      left: -12px
    &__yandexratenum

    &__imgfullwrapper
      width: 50%

  // promoabanner
  .promobannercatalog
    display: none

  //reviews
  .review_wrapper
    width: 100%
    margin-left: 0
  .reviews
    &__in 
      h2
        font-size: 16px
    &__tittle
      font-size: 16px
      margin: 0px 0px 80px 18px
    &__dscrp
      display: none
    &__imgwrapper
      width: 100%
      height: 100%
    &__item
      width: 100%
      height: 391px
      margin: 0px 0px 10px 0px
      &--wide
        display: none
    &__yandexratetittle
        display: none
    &__yandexrate
      left: -12px
    &__yandexratenum
    .reviews__linkwrapper
      .reviews__overlay
        opacity: 1
      .reviews__timebox
        top: 254px
        opacity: 1
      .reviews__hinews
        top: 330px
        opacity: 1
    &__imgfullwrapper
      width: 50%

  //pagination
  .pagination
    margin-left: -10px
    text-align: left
    &__arrowleft,
    &__arrowright
      display: none
    &__first
      width: 30px
      height: 30px
      display: inline-block
      padding: 0
      position: relative
      margin: 0px 31px -10px 0px
      &:after
        content: ""
        display: inline-block
        +position(absolute, 0 null null 0)
        width: 20px
        height: 20px
        background: url(../images/ic_prev_pagination.svg) 9px 10px no-repeat
      span
        display: none
    &__last
      width: 30px
      height: 30px
      display: inline-block
      padding: 0
      position: relative
      margin: 0px 0px -9px 26px
      &:after
        content: ""
        display: inline-block
        +position(absolute, 0 null null 0)
        width: 20px
        height: 20px
        background: url(../images/ic_next_pagination.svg) 9px 10px no-repeat
      span
        display: none
  // mailbar
  .mailbar
    &__dscrp
      width: 100%
      margin: 64px 0px 20px 0px
      float: none
      text-align: center
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 0px 20px 0px 20px
    &__form
      width: 100%

      float: none
      margin: 0px 0px 0px 16px
      input
        margin-bottom: 20px
      input[type="email"]
        width: 90%
      input[type="submit"]
        width: 90%
    &__bgimg
      left: 55px
      float: none
      span
        left: 0
  //footer
  .footer
    &__nav
      float: none
      width: 100%
      display: none
    &__paymentbox
      width: 100%
      text-align: center
      margin-top: 30px
    &__contacts
      width: 100%
      float: none
    &__contitem
      text-align: center
      &:last-child
        display: none
    .newline
      display: block
      span
        display: inline-block
        margin-top: 6px
  .copyrights
    &__left
      width: 100%
      float: none
      text-align: center
    &__right
      width: 100%
      float: none
      text-align: center
      p
        margin: 9px 0px 0px 0px