.about
  &__promoimg
    margin-bottom: 38px
    img
      display: block
      width: 100%
      height: auto

  &__in
    margin: 0px 106px 0px 318px
  &__block
    h1
      +font($RobotoLight, 50px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 0px 22px 0px
  &__dscrp
    +font($RobotoRegular, 16px, $FontclGrey)
    font-weight: 400
    margin: 0px 0px 31px 0px
    padding: 0px 144px 0px 0px
    line-height: 25px
  &__videowdscrp
    +font($RobotoRegular, 14px, $ColorBrbForm)
    margin: 0px 0px 20px 0px
  &__videoplay
    background: rgba(255,255,255, 0.5) url(../images/ic_play.svg) 50% 50% no-repeat
    width: 108px
    height: 108px
    display: inline-block
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    border-radius: 50px
    +position(absolute, 50% null null 50%)
    +transform(translate(-50%,-50%))
    cursor: pointer

  &__videowrpapper
    width: 828px
    height: 484px
    background:  url(../upload/bg_img.jpg) 0 0 no-repeat
    background-size: cover
    position: relative
    margin: 0px 108px 0px 50%
    +transform(translateX(-313px))
  &__videoplay
  .sliderabout
    margin: 0px 106px 0px 50%
    +transform(translateX(-313px))
  .owl-theme .owl-controls .owl-page 
    width: 22px
    height: 22px
    margin: 8px 16px 82px 3px
    span
      width: 9px
      height: 9px
      +transition(all 0.2s ease-out)
  .owl-theme .owl-controls .owl-page.active span, 
  .owl-theme .owl-controls.clickable .owl-page:hover span
    background: $ColorBordGreen
    width: 22px
    height: 22px
    margin: 0px
    +transition(all 0.2s ease-out)