.actioninside
  margin-bottom: 70px
  &__promowrapper
    width: 1260px
    height: 346px
    overflow: hidden
    margin-bottom: 40px
    img
      display: block
      width: 100%
      height: auto
  &__head
    +font($RobotoLight, 32px, $FontclGrSidebar)
    width: 730px
    font-weight: 400
    line-height: 40px
    margin: 0 auto
    text-align: center
  &__wrapper
    margin-left: -10px
    margin-right: -10px
    padding: 0px 0px 50px
    +clearfix
  .catalogitems
    margin-bottom: 24px
    &__linkwrapper
      text-decoration: none
    &__row
      +clearfix
    &__rowwide
      +clearfix
    &__item
      float: left
      width: 298px
      background: $ColorWhite
      height: 347px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -webkit-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      -moz-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      padding: 0px 0px 30px 0px
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 0px 10px 20px 10px
      border: 1px solid $ColorBrdImg
      position: relative
      &:hover
        -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        -moz-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      &--wide
        padding: 0px
        width: 616px
        overflow: hidden
        .catalogitems__linkwrapper
          +clearfix
        .catalogitems__cost
          margin: 0px 0px 12px 20px
        .catalogitems__linkwrapper
          .catalogitems__overlay
                top: 300px
                left: 0px
          &:hover
            .catalogitems__overlay
              top: 287px
              left: 0px
    &__bottombox
      +position(absolute, null null 0px -4px)
    &__tittle
      +font($RobotoRegular, 1.6em, $FontclGrSidebar)
      margin: 0px 0px 10px 18px
    &__cost
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      margin: 0px 0px 2px 0px
    &__linkwrapper
      overflow: hidden
      position: relative
    &__btncat
      display: block
      +position(absolute, 18px null null 18px)
      +btncatg($ColMainListenOrg)
      opacity: 1
      +transition(all 0.2s ease-out)
      &--look
        background: $ColMainLookBl
      &--listen
        background: $ColMainListenOrg
      &--beinfrm
        background: $ColMainBeinFormRd
      &--use
        background: $ColMainUse
      &--shoot
        background: $ColMainShootGr
      &--live
        background: $ColMainLiveDb
      &--play
        background: $ColMainPlayLlc
      &--move
        background: $ColMainMoveYlw
      &--hit
        background: $ColMainLookBl
      &--new
        background: $ColMainShootGr
    &__overlay
      +position(absolute, 210px null null 0px)
      text-align: center
      width: 100%
      opacity: 0
      z-index: 2
      +transition(all 0.2s ease-out)
    &__btnaction
      +btnaction($ColorBordGreen)
      width: 72px
      height: 35px
      position: relative
      -moz-box-sizing: border-box
      box-sizing: border-box
      +transition(width 0.2s ease-out)
      &:hover
        background: $ColorBordGreen
        width: 102px
        +transition(all 0.2s ease-out)
      &--compare
        background: $ColorWhite url(../images/ic_compare.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--favourite
        background: $ColorWhite url(../images/ic_feature.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--buy
        background: $ColorWhite url(../images/ic_cartgreen.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
        
      span
        display: block
        display: none
        width: 102%
        +position(absolute, 22px null null 50%)
        +font($RobotoMedium, 14px, $ColorWhite )
        opacity: 0
        line-height: 0
        +transition(all 0.2s ease-out)

    &__linkwrapper:hover
      .catalogitems__btncat
        opacity: 1
        top: 18px
      .catalogitems__overlay
        opacity: 1
        top: 201px
    &__yandexrate
      margin: 0px 0px 0px 19px
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      +position(absolute, null null 12px 0px)
    &__yandexratenum
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    &__imgwrapper
      overflow: hidden
      width: 298px
      height: 220px
      margin-bottom: 20px
      img
        display: block
        width: 100%
        height: auto
    &__in
      float: left
      width: 50%
      h2
        +font($RobotoLight, 32px, $FontclGrSidebar)
        margin: 0px 0px 16px 18px
        padding: 20px 0px 0px 0px
        font-weight: 400
    &__imgfullwrapper
      float: left
      width: 50%
      position: relative
    &__dscrp
      +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      margin: 0px 0px 0px 18px
      line-height: 21px
    &__imgfullwrapper
      width: 298px
      height: 347px
      img
        display: block
        width: 100%
        height: auto
    &__discounts
      +position(absolute, null 23px 134px null)
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      background: $ColorBgActiondisc
      display: inline-block 
      width: 50px
      height: 50px
      padding:  13px 0px 0px 11px
      +font($RobotoRegular, 18px, $ColorWhite)
      z-index: 0

