.promobanner
  position: relative
  margin-bottom: 60px
  &__imgwrapper
    width: 1260px
    height: 346px
    overflow: hidden
  img
    display: block
  &__overlay
    width: 308px
    +position(absolute, 0 0 null null)
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 0px 23px 0px
      padding: 29px 0px 0px 0px
      line-height: 38px
    p
      +font($RobotoRegular, 14px, $FontclGrey )
      margin: 0px 0px 26px 0px
      padding: 0px 52px 0px 0px
  &__btn
    +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen)
    +font($RobotoMedium, 16px, $ColorWhite)
    padding: 9px 87px 11px 87px
    margin: 0px 0px 0px 0px
.action
  +clearfix
  width: 934px
  margin: 0px 0px 95px 20px
  float: left
  &__wrapper
    margin-left: -10px
    margin-right: -10px
    margin-bottom: 25px
    +clearfix
  &__item
    float: left
    width: 298px
    height: 294px
    margin: 0px 10px 20px 10px
    display: block
    text-decoration: none
    background: $ColorWhite
    +shadowbloc
    +brdrad2
    &--wide
      width: 616px
      float: left
      padding: 0px 0px 0px 0px
      display: block
      text-decoration: none
      margin: 0px 10px 20px 10px
      +shadowbloc
      +clearfix
  &__textbox
    float: left
    width: 298px
    margin-right: 19px
    padding: 25px 0px 0px 17px
  &__imgwrapper
    float: left
    width: 298px
    height: 294px
    overflow: hidden
    img
      display: block
      width: 100%
      height: auto
  &__head
    +font($RobotoLight, 32px, $FontclGrSidebar)
    font-weight: 400
    line-height: 38px
    margin: 0px 0px 18px 0px
    padding: 0px
  &__text
    +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    margin: 0px 0px 0px 0px
  &__tittle
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    margin: 0px 0px 10px 0px
    padding: 15px 0px 0px 19px

