.cartitems
  float: left
  width: 934px
  padding: 0px 0px 67px
  &__item
    +clearfix
    background: $ColorWhite
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    margin-bottom: 17px
  &__imgwrap
    float: left
    display: inline-block
    width: 298px
    position: relative
    .catalogitems__btncat
      display: block
      opacity: 1


  &__textwrap
    float: left
    width: 520px
    margin-left: 20px
    h2
      font-weight: 400
      +font($RobotoLight, 24px, $FontclGrSidebar)
      line-height: 32px
      margin: 0px 0px 0px 0px
      padding: 12px 160px 0px 0px
  &__availibility
    +font($RobotoLight, 14px, $ColorBordGreen)
    font-weight: 400
    margin: 0px 0px 17px 0px
    display: inline-block
  &__actionbox
    margin: 0px 0px 25px 0px
  &__cost
    +font($RobotoMedium, 18px, $FontclGrSidebar)
    display: block
  &__minus 
    background: url(../images/ic_minus.svg) 50% 50% no-repeat
    margin: 0px 0px -13px 0px
  &__plus
    text-decoration: none
    background: url(../images/ic_plus.svg) 50% 50% no-repeat
    margin: 0px 0px -13px 0px
  &__plus,
  &__minus
    display: inline-block
    width: 35px
    height: 35px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    border: 1px solid $ColorBrbForm
    text-decoration: none
    +transition(all 0.2s)
    &:hover
      -webkit-box-shadow: 0px 2px 5px -2px rgba(59,82,83,0.7)
      -moz-box-shadow: 0px 2px 5px -2px rgba(59,82,83,0.7)
      box-shadow: 0px 2px 5px -2px rgba(59,82,83,0.7)
  &__match
    margin: 0px 39px 0px 37px
    +font($RobotoRegular, 16px, $FontclGrSidebar)
  &__color
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 0px 54px
    &:after
      content: " "
      width: 35px
      height: 35px
      display: inline-block
      border: 1px solid $ColorBrbForm
      -webkit-border-radius: 50px
      -moz-border-radius: 50px
      border-radius: 50px
      margin: 0px 0px -12px 19px
      background: rgb(255,255,255)
      background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 42%, rgba(255,232,220,1) 55%, rgba(243,153,120,1) 100%)
      background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,232,220,1) 55%,rgba(243,153,120,1) 100%)
      background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 42%,rgba(255,232,220,1) 55%,rgba(243,153,120,1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f39978',GradientType=0 )
  &__basket
    display: inline-block
    width: 35px
    height: 35px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    float: left
    border: 1px solid $ColorBgFooter
    background: url(../images/ic_basket.svg) 50% 50% no-repeat
    margin: 17px 0px 0px 35px
    +transition(all 0.2s)
    &:hover
      border: 1px solid $ColorBrbForm
      background: url(../images/ic_basket_drkr.svg) 50% 50% no-repeat