.catalogitem_wrapper
  float: left
  width: 934px
  margin-left: 20px
  margin-bottom: 146px
.promobannercatalog
  min-height: 327px
  background: url(../images/bg_promo.jpg) 0 0 no-repeat
  background-size: cover
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  padding-bottom: 20px
  margin-bottom: 20px
  &__tittle
    margin: 0px 0px 0px 39px
    width: 320px
    +font($RobotoRegular, 16px, $ColorWhite)
    line-height: 24px
  &__logo
    display: inline-block
    background: url(../upload/logo_pbcatalog.png) 0 0 no-repeat
    width: 34px
    height: 36px
    margin: 30px 0px 15px 39px
  h2
    margin: 0px 0px 21px 39px
    +font($RobotoLight, 32px, $ColorWhite)
    line-height: 38px
    width: 320px
    font-weight: 400
.catalogitems
  margin-bottom: 24px
  &__wrapper
    margin-left: -10px
    margin-right: -10px
    +clearfix
  &__linkwrapper
    text-decoration: none
  &__row
    +clearfix
  &__rowwide
    +clearfix
  &__item
    float: left
    width: 31.18809999%
    background: $ColorWhite
    height: 347px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    -webkit-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
    -moz-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
    box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
    padding: 0px 0px 30px 0px
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0px 10px 20px 10px
    border: 1px solid $ColorBrdImg
    position: relative
    &:hover
      -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      -moz-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
    &--wide
      padding: 0px
      width: 64.61918%
      overflow: hidden
      .catalogitems__linkwrapper
        +clearfix
      .catalogitems__cost
        margin: 0px 0px 12px 20px
      .catalogitems__linkwrapper
        .catalogitems__overlay
          top: 300px
          left: 0px
        &:hover
          .catalogitems__overlay
            top: 294px
            left: 0px
  &__bottombox
    +position(absolute, null null 0px -4px)
  &__tittle
    +font($RobotoRegular, 1.6em, $FontclGrSidebar)
    margin: 0px 15px 10px 18px
  &__cost
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 2px 0px
  &__linkwrapper
    overflow: hidden
    position: relative
  &__btncat
    display: block
    +position(absolute, 18px null null 18px)
    +btncatg($ColMainListenOrg)
    opacity: 1
    +transition(all 0.2s ease-out)
    &--chat
      background: $ColMainLookBl
    &--listen
      background: $ColMainListenOrg
    &--beinfrm
      background: $ColMainBeinFormRd
    &--use
      background: $ColMainUse
    &--shoot
      background: $ColMainShootGr
    &--move
      background: $ColMainLiveDb
    &--play
      background: $ColMainPlayLlc
    &--travel
      background: $ColMainMoveYlw
    &--hit
      background: $ColMainLookBl
    &--new
      background: $ColMainShootGr
  &__overlay
    +position(absolute, 210px null null 0px)
    text-align: center
    width: 100%
    opacity: 0
    z-index: 1
    +transition(all 0.2s ease-out)
  &__btnaction
    +btnaction($ColorBordGreen)
    width: 72px
    height: 35px
    position: relative
    -moz-box-sizing: border-box
    box-sizing: border-box
    +transition(width 0.2s ease-out)
    &:hover
      background: $ColorBordGreen
      width: 102px
      +transition(all 0.2s ease-out)
    &--compare
      background: $ColorWhite url(../images/ic_compare.svg) 50% 10px no-repeat
      &:hover
        span
          display: block
          +position(absolute, 17px null null 0)
          opacity: 1
          +transition(all 0.2s ease-out)
    &--favourite
      background: $ColorWhite url(../images/ic_feature.svg) 50% 10px no-repeat
      &:hover
        span
          display: block
          +position(absolute, 17px null null 0)
          opacity: 1
          +transition(all 0.2s ease-out)
    &--buy
      background: $ColorWhite url(../images/ic_cartgreen.svg) 50% 10px no-repeat
      &:hover
        span
          display: block
          +position(absolute, 17px null null 0)
          opacity: 1
          +transition(all 0.2s ease-out)
      
    span
      display: block
      display: none
      width: 102%
      +position(absolute, 22px null null 50%)
      +font($RobotoMedium, 14px, $ColorWhite )
      opacity: 0
      line-height: 0
      +transition(all 0.2s ease-out)

  &__linkwrapper:hover
    .catalogitems__btncat
      opacity: 1
      top: 18px
    .catalogitems__overlay
      opacity: 1
      top: 201px
    .catalogitems__imgwrapper,
    .catalogitems__imgfullwrapper
      > a:before
          content: ""
          +position(absolute, 0px null null 0px)
          display: block
          width: 100%
          height: 100%
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 2%, rgba(255,255,255,0) 51%, rgba(255,255,255,0.02) 52%, rgba(127,223,177,1) 100%)
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 51%,rgba(255,255,255,0.02) 52%,rgba(127,223,177,1) 100%)
          background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 51%,rgba(255,255,255,0.02) 52%,rgba(127,223,177,1) 100%)
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#7fdfb1',GradientType=0 )
          opacity: 0.34
  &__yandexrate
    margin: 0px 0px 0px 19px
    +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    +position(absolute, null null 12px 0px)
  &__yandexratenum
    +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
  &__imgwrapper
    overflow: hidden
    width: 298px
    height: 220px
    margin-bottom: 20px
    border-bottom: 1px solid $ColorBrdImg
    position: relative
    img
      display: block
      width: 100%
      height: auto
  &__in
    float: left
    width: 50%
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      margin: 0px 0px 16px 18px
      padding: 20px 0px 0px 0px
      font-weight: 400
  &__imgfullwrapper
    float: left
    width: 50%
    position: relative
  &__dscrp
    +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    margin: 0px 0px 0px 18px
    line-height: 21px
  &__imgfullwrapper
    width: 307px
    height: 347px
    img
      display: block
      width: 100%
      height: auto

.pagination
  text-align: center
  position: relative
  &__first
    +btn(2px, 1px, $ColorBordGreen, transparent)
    +font($RobotoRegular, 14px, $FontclGrey)
    display: inline-block
    padding: 5px 12px 5px 9px
    margin: 0px 30px 0px 0px
    text-decoration: none
  &__number
    display: inline-block
    text-decoration: none
    +font($RobotoRegular, 14px, $FontclGrey)
    padding: 6px 11px 5px 11px
    margin: 0px 5px 0px 0px
    border: 1px solid transparent
    &:hover
      border: 1px solid $ColorBordGreen
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
    &--active
      background: $ColorBordGreen
      color: $ColorWhite
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
  &__last
    +btn(2px, 1px, $ColorBordGreen, transparent)
    +font($RobotoRegular, 14px, $FontclGrey)
    display: inline-block
    padding: 5px 6px 5px 5px
    margin: 0px 0px 0px 10px
    text-decoration: none
  &__arrowleft
    +position(absolute, -5px null null 0)
    a
      display: inline-block
      width: 19px
      height: 48px
      position: relative
      &:hover::before,
      &:hover::after
        background: $FontclGrSidebar
      &:before
        content: " "
        width: 1px
        height: 22px
        display: inline-block
        background: $ColorBrbForm
        +transform(rotate(39deg))
        +position(absolute, -1px null null 7px)
      &:after
        content: " "
        width: 1px
        height: 22px
        display: inline-block
        background: $ColorBrbForm
        +transform(rotate(-39deg))
        +position(absolute, null null 10px 7px)
  &__arrowright
    +position(absolute, -5px 0 null null )
    a
      display: inline-block
      width: 19px
      height: 48px
      position: relative
      &:hover::before,
      &:hover::after
        background: $FontclGrSidebar
      &:before
        content: " "
        width: 1px
        height: 22px
        display: inline-block
        background: $ColorBrbForm
        +transform(rotate(-39deg))
        +position(absolute, -1px null null 7px)
      &:after
        content: " "
        width: 1px
        height: 22px
        display: inline-block
        background: $ColorBrbForm
        +transform(rotate(39deg))
        +position(absolute, null null 10px 7px)
.stars5
  width: 116px
  height: 14px
  background: url(../images/ic_sprite_stars.svg) 0 -16px repeat-x
  position: relative
  display: inline-block
  span
    display: inline-block
    height: 16px
    position: absolute
    top: 0
    left: 0
    cursor: pointer
    z-index: 5
    // &:hover
    //   background: url(../images/ic_sprite_stars.svg) 0 0px repeat-x  
    &.star-active:hover,
    &.star-active
      background: url(../images/ic_sprite_stars.svg) 0 1px repeat-x
      z-index: 6
  .star
    &-0_5
      width: 9px
    &-1
      width: 16px
    &-1_5
      width: 32px
    &-2
      width: 44px
    &-2_5
      width: 55px 
    &-3
      width: 66px
    &-3_5
      width: 78px
    &-4
      width: 90px
    &-4_5
      width: 101px
    &-5
      width: 116px


