.checkout
  float: left
  width: 934px
  padding: 0px 0px 67px
  .enter
    padding: 6px 10px 10px 20px
    background: $ColorWhite
    -webkit-box-shadow: 0px 2px 4px -2px rgba(59, 82, 83, 0.34)
    -moz-box-shadow:    0px 2px 4px -2px rgba(59, 82, 83, 0.34)
    box-shadow:         0px 2px 4px -2px rgba(59, 82, 83, 0.34)
    margin: 0px 0px 20px
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      margin: 0px 0px 20px 0px
      font-weight: 400
    &__adddscrp
      +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      display: inline-block
      margin-left: 13px
  .form__radiobtncircl
    margin: 0px 0px 8px 0px
.delivery
  padding: 6px 10px 20px 20px
  background: $ColorWhite
  -webkit-box-shadow: 0px 2px 4px -2px rgba(59, 82, 83, 0.34)
  -moz-box-shadow:    0px 2px 4px -2px rgba(59, 82, 83, 0.34)
  box-shadow:         0px 2px 4px -2px rgba(59, 82, 83, 0.34)
  margin: 0px 0px 20px

  h2
    +font($RobotoLight, 32px, $FontclGrSidebar)
    margin: 0px 0px 25px 0px
    font-weight: 400
    padding: 15px 0px 0px
  .numberaction
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: 1px solid $FontclGrSidebar
    display: inline-block
    width: 42px
    height: 42px 
    background: transparent
    float: left
    margin: 18px 9px 0px 0px
    &--active
      background: $ColorBordGreen
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      display: inline-block
      width: 42px
      height: 42px 
      background: $ColorBordGreen
      float: left
      margin: 18px 9px 0px 0px
      span
        display: inline-block
        margin: -2px 0px 0px 12px
        +font($RobotoLight, 32px, $ColorWhite)
    span
      display: inline-block
      margin: -3px 0px 0px 11px
      +font($RobotoLight, 32px, $FontclGrSidebar)
  &__form
  &__wrapper
    +clearfix
  &__tittle
    +font($RobotoRegular, 20px, $FontclGrSidebar)
    margin: 30px 0px 18px 0px
  &__forminput
    width: 258px
    float: left
    margin: 0px 20px 21px 0px
    input
      width: 258px
      height: 44px
      -moz-box-sizing: border-box
      box-sizing: border-box
      padding: 0px 15px 0px 10px
      +font($RobotoRegular, 16px, $FontclGrSidebar)
      +brdrad2
      +inpshadow
      border: 1px solid $ColorBrdBl
      &:focus
        outline: none
        border: 1px solid $ColorBrdBl
    input.delivery__dropdown
      background: url(../images/ic_arrowdropd.svg) 96% 50% no-repeat
    label
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      margin: 0px 0px 10px 0px
      span
        display: inline-block
        width: 5px
        height: 5px
        &:before
          content: "*"
          color: $ColorRedStar
  &__adddscrp
    @extend .enter__adddscrp
    &--mgt
      margin: 44px 0px 1px 0px
      @extend .enter__adddscrp
      border-bottom: 1px dashed $FontclGtliteBrcrmp
  &__btn
    margin-top: 22px
    input
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen)
      +font($RobotoMedium, 16px, $ColorWhite)
      width: 258px
      height: 44px
      background: $ColorBordGreen url(../images/ic_arrow-white.svg) 67% 54.5% no-repeat
  .form__radiobtncircl input[type="radio"] + label
    width: 217px
    i.ic_alfabank
      background: url(../images/ic_alfa.png) 0 0 no-repeat
      width: 37px
      height: 37px
      display: inline-block
      margin: 0px 0px -13px -10px
    i.ic_yandex
      background: url(../images/ic_yandex.png) 0 0 no-repeat
      width: 37px
      height: 37px
      display: inline-block
      margin: 0px -11px -20px 0px
    i.ic_paypal
      background: url(../images/ic_paypall.png) 0 0 no-repeat
      width: 37px
      height: 37px
      display: inline-block
      margin: 0px -11px -22px 0px
  .form__radiobtncircl
    margin: 0px 0px 1px 0px
    +brdrad2
  .ptop40
    padding-top: 30px
.delivery__wrapper
  label
    display: block
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 10px 0px
  textarea
    width: 537px
    height: 118px
    -moz-box-sizing: border-box
    box-sizing: border-box
    padding: 10px 15px 10px 10px
    resize: none
    +brdrad2
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    +inpshadow
    &:focus
      outline: none
      border: 1px solid $ColorBrdBl
