.checkout-end
  background: $ColorBGmainReviews url(../images/ic_car.svg) 49% 19% no-repeat
  padding: 215px 0px 109px 0px
  margin-bottom: 85px
  h2
    text-align: center
    +font($RobotoLight, 50px, $FontclGrSidebar)
    font-weight: 400
    margin: 0px 0px 13px 0px
  p
    +font($RobotoLight, 24px, $FontclGrSidebar)
    text-align: center
    margin: 0px auto 32px
    width: 450px
  &__wrapperbtn
    text-align: center
  &__btn
    +btn(2px,1px,$ColorBordGreen,$ColorBordGreen)
    +font($RobotoMedium, 16px, $ColorWhite)
    display: inline-block
    padding: 10px 85px 10px 85px