.compare
  margin-bottom: 70px
  .catalogitems__btncat
    opacity: 1
    display: inline-block
    position: initial
  .catalogitems__item
    width: 23%
    float: left
    height: auto
    margin: 0px 0px 0px 0px
    background: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    border: none
    &:hover
      .cartitems__basket
        display: block
      .catalogitems__linkwrapper
        -webkit-box-shadow: 0px 220px 0px 0px rgba(59, 82, 83, 0.044)
        -moz-box-shadow:    0px 220px 0px 0px rgba(59, 82, 83, 0.044)
        box-shadow:         0px 220px 0px 0px rgba(59, 82, 83, 0.044)
      .catalogitems__btncat
        top: 40px
        left: 18px
  &__active
    -webkit-box-shadow: 0px 5px 15px 0px rgba(59, 82, 83, 0.14)
    -moz-box-shadow:    0px 5px 15px 0px rgba(59, 82, 83, 0.14)
    box-shadow:         0px 5px 15px 0px rgba(59, 82, 83, 0.14)
  &__noneactive
    background: transparent
    border: 1px solid $ColorBrdCompare
    color: $FontclGrey
    padding: 6px 7px 4px 9px
    .compare__num
      border: 1px solid $FontclGrey
  &__elementsbox
    .compare__element--same
      &:nth-child(n)
        background: $ColorBgTableSame
        width: 271px
        margin: 0px 0px 0px 10px
  &__element
    text-align: center
    +font($RobotoRegular, 14px, $FontclGrey)
    margin: 0px
    padding: 10px 0px
    &:nth-child(2n+1)
      background: $ColorBgTableCompare
    &:nth-child(2n)
      background: transparent
  &__elementhead
    text-align: left
    margin: 0px
    padding: 10px 0px 10px 20px
    +font($RobotoMedium, 14px, $FontclGrey)
    &:nth-child(2n+1)
      background: transparent
    &:nth-child(2n)
      background: $ColorBgTableCompare
  &__num
    display: inline-block
    width: 20px
    height: 20px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: 1px solid $ColorWhite
    padding: 2px 0px 0px 6px
    margin-left: 5px
  &__categbox
    width: 24%
    float: left
  &__catboxwrapper
    height: 283px
    margin-bottom: 21px
    div
      margin-bottom: 10px
  &__tittle
    margin: 0px 0px 0px 18px
    padding-top: 130px
    +font($RobotoMedium, 24px, $ColorTextTable)
    width: 123px
  &__wrapper
    +clearfix
  &__categbox
  .cartitems__basket
    float: none
    +position(absolute, 7px 21px null null)
    display: none
  .catalogitems__linkwrapper
    background: $ColorWhite
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    padding: 0px 0px 30px 0px
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0px 10px 20px 10px
    border: 1px solid $ColorBrdImg
  .compare__btncat
   @extend .catalogitems__btncat
   position: absolute