.contacts
  &__wrapper
    +clearfix
    +shadowbloc
    margin-bottom: 85px
    overflow: hidden
  &__mapwrapper
    width: 50%
    float: left
  &__lefttext
    width: 50%
    float: left
    background: $ColorWhite
    padding: 26px 0px 57px 31px
  &__adress
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 3px 0px
    span
      +font($RobotoRegular, 16px, $FontclGrSidebar )
      padding-left: 10px
  h2
    +font($RobotoLight, 32px, $FontclGrSidebar)
    font-weight: 400
    margin: 44px 0px 16px 0px
  &__btn
    padding-top: 15px
    input
      +font($RobotoMedium,  16px, $ColorWhite)
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen)
      padding: 10px 18px 10px 17px

  
  #map
    height: 669px
 