footer
  background: $ColorBgFooter
  // .container
  //   height: 100%
  border-bottom: 1px solid $ColorBrdFooter
.footer
  +clearfix
  padding: 26px 0px 9px 0px
  &__nav
    float: left
    width: 55%
  &__navlink
    display: inline-block
    +font($RobotoRegular, 14px, $FontclGrey)
    margin: 0px 35px 29px 1px
    border-bottom: 1px solid $ColorBrbForm
    line-height: 16px
    &:last-child
      margin: 0px
  &__paymentbox
    display: block
    clear: left
    width: 40%
  &__payments
    display: inline-block
  &__embox
    float: right
    margin-right: 20px
  &__tel
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    background: url(../images/ic_smartphone.svg) 3px 0 no-repeat
    padding-left: 20px
    margin: 0px 0px 10px
  &__email
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    background: url(../images/ic_letter.svg) 0 0 no-repeat
    padding-left: 24px
    margin: 0px 0px 10px
  &__linksocial
    display: inline-block
    width: 
  &__contacts
    width: 18%
    float: right
  &__social
    margin-left: 8px
  &__linksocial
    width: 30px
    height: 30px
    display: inline-block
    margin-left: 13px
    @each $icsoc in vk, fb, in 
      &--#{$icsoc}
       background: url(../images/#{$icsoc}_ft_grey.svg) 50% 50% no-repeat
    @each $icsoc in vk, fb, in 
      &--#{$icsoc}:hover
       background: url(../images/#{$icsoc}_ft_green.svg) 50% 50% no-repeat
  &__contitem
    +font($RobotoMedium, 14px, $FontclGrey)
    line-height: 19px
    margin: 0px 0px 6px 0px
    span
      +font($RobotoRegular, 14px, $FontclGrey)
      line-height: 19px
  .mr
    margin-right: 15px
.copyrights
  padding: 10px 0px 0px 0px
  background: $ColorBgFooter
  +clearfix
  &__left
    float: left
    width: 20%
    margin: 0px
    +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    padding: 20px 0px 0px 3px
  &__right
    float: right
    width: 20%
    p
      display: inline-block
      text-align: right
      width: 70px
      margin: 9px 0px 0px 70px
      +font($RobotoRegular, 12px, $FontclGtliteBrcrmp)
    img
      display: inline-block
      margin: 0px 0px 18px 11px
