body
  background: $ColorBgMain
  font-size: 10px
  min-width: 1260px
  font-synthesis: none;
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -moz-font-feature-settings: 'liga', 'kern'
.container
  max-width: 1260px
  margin: 0 auto
label
  font-weight: 400
input
  cursor: pointer
a
 color: inherit
input:focus
  outline: none
.padtop
  padding-top: 79px
.wrapper
  +clearfix
.breadcrumps
  float: left
  width: 50%
  padding-top: 33px
  margin-bottom: 27px
  &__item
    display: inline-block
    text-decoration: none
    color: $FontclGtliteBrcrmp
    font-family: $RobotoRegular
    font-size: 14px
    &::after
      content: "/"
      display: inline-block
      color: inherit
    &:last-child
      font-family: $RobotoMedium
      &::after
        display: none
.sortbox
  float: right
  width: 30%
  text-align: right
  padding: 38px 0px 0px 0px
  margin: 0px 9px 20px 0px
  &__tittle
    +font($RobotoRegular, 16px, $FontclGrSidebar)
  &__btn
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    +btn(2px, 1px, $ColorBordGreen, transparent)
    text-decoration: none
    display: inline-block
    padding: 9px 17px 11px 21px
    margin: 0px 0px 0px 7px
    min-width: 118px
    -moz-box-sizing: border-box
    box-sizing: border-box
    text-align: center
    &:active
      -webkit-box-shadow: inset 0px 0px 0px 1px rgba(53, 189, 142, 0.75)
      -moz-box-shadow:    inset 0px 0px 0px 1px rgba(53, 189, 142, 0.75)
      box-shadow:         inset 0px 0px 0px 1px rgba(53, 189, 142, 0.75)
    &--bgimg
      display: none
    .bglines
      width: 10px
      height: 2px
      background: $ColorBordGreen
      display: inline-block
      font-size: 2px
      margin: 0px 0px 4px 4px
      +position(relative)
      &::before
        content: ""
        display: inline-block
        width:  5px
        height: 2px
        background: $ColorBordGreen
        +position(absolute, -4px null null 0)
        +transition(all 0.5s ease-out)
      &::after
        content: ""
        display: inline-block
        width:  15px
        height: 2px
        background: $ColorBordGreen
        +position(absolute, 4px null null 0)
        +transition(all 0.5s ease-out)
    &:hover,
    &:active
      .bglines
        &::before
          content: ""
          display: inline-block
          width:  15px
          height: 2px
        +transition(all 0.5s ease-out)
        &::after
          content: ""
          display: inline-block
          width:  5px
          height: 2px
          +transition(all 0.5s ease-out)   
.processbar
  margin: 0px 0px 38px 0px
  padding: 41px 0px 0px
  text-align: center
  &__in
    +clearfix
    display: inline-block
  &__step
    display: inline-block
    float: left
    width: 40px
    height: 40px
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    border: 1px solid $ColorBrdFooter
    background: $ColorBgProccesbar
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(66, 66, 66, 0.3)
    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(66, 66, 66, 0.3)
    box-shadow:         inset 0px 1px 3px 0px rgba(66, 66, 66, 0.3)
    &--finished
      @each $icon in crt, trn, checkfin
        &--ic-#{$icon}
          background: #72d1b0 url(../images/ic-#{$icon}-white.svg) 12px 14px no-repeat
          border: 1px solid $ColorBrdFooter
    &--active
      @each $icon in crt, trn, checkfin
        &--ic-#{$icon}
          background:  url(../images/ic-#{$icon}-green.svg) 12px 14px no-repeat
          border: 1px solid $ColorBrdFooter
    @each $icon in crt, trn, checkfin
      &--ic-#{$icon}
        background: $ColorBgProccesbar url(../images/ic-#{$icon}.svg) 12px 14px no-repeat
  &__line
    display: inline-block
    float: left
    width: 248px
    height: 5px
    border-top: 1px solid $ColorBrdFooter
    border-bottom: 1px solid $ColorBrdFooter
    margin: 18px 0px 0px 0px
    &--active
      border-bottom: 1px solid #53b598
      border-top: 1px solid #53b598
      background: -moz-linear-gradient(-45deg,  rgba(83,181,152,1) 0%, rgba(84,182,153,1) 1%, rgba(114,209,176,0.99) 43%, rgba(232,255,251,0.97) 100%)
      background: -webkit-linear-gradient(-45deg,  rgba(83,181,152,1) 0%,rgba(84,182,153,1) 1%,rgba(114,209,176,0.99) 43%,rgba(232,255,251,0.97) 100%)
      background: linear-gradient(135deg,  rgba(83,181,152,1) 0%,rgba(84,182,153,1) 1%,rgba(114,209,176,0.99) 43%,rgba(232,255,251,0.97) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53b598', endColorstr='#f7e8fffb',GradientType=1 )
    &--finished
      background: #53b598
      border-bottom: 1px solid #53b598
      border-top: 1px solid #53b598
