.default
  width: 100%
  min-width: 1260px
  .submenu
    top: 111px
.fixed
  position: fixed
  width: 100%
  z-index: 1200
  top: 0
header
  background: $ColorWhite
  -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2)
  -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2)
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.2)
  width: 100%
  min-width: 1260px
  .header
    min-height: 79px
    .container
      +clearfix
    .flex-container
      float: left
      margin-left: 33px
      display: -webkit-box
      display: -moz-box
      display: -ms-inline-flexbox
      display: -webkit-inline-flex
      display: inline-flex
      -webkit-box-direction: normal
      -moz-box-direction: normal
      -webkit-box-orient: horizontal
      -moz-box-orient: horizontal
      -webkit-flex-direction: row
      -ms-flex-direction: row
      flex-direction: row
      -webkit-flex-wrap: wrap
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -webkit-box-pack: start
      -moz-box-pack: start
      -webkit-justify-content: flex-start
      -ms-flex-pack: start
      justify-content: flex-start
      -webkit-align-content: stretch
      -ms-flex-line-pack: stretch
      align-content: stretch
      -webkit-box-align: start
      -moz-box-align: start
      -webkit-align-items: flex-start
      -ms-flex-align: start
      align-items: flex-start
    .flex-item
      -webkit-box-ordinal-group: 1
      -moz-box-ordinal-group: 1
      -webkit-order: 0
      -ms-flex-order: 0
      order: 0
      -webkit-box-flex: 0
      -moz-box-flex: 0
      -webkit-flex: 0 1 auto
      -ms-flex: 0 1 auto
      flex: 0 1 auto
      -webkit-align-self: auto
      -ms-flex-item-align: auto
      align-self: auto
    &__avbox
      display: inline-block
      float: left
      position: relative
    &__avwrapper
      display: inline-block
      margin: 20px 0px 0px 10px
      img
        margin: -3px 0px 0px 0px
    &__account
      display: inline-block
      +font($RobotoMedium, 14px, $FontclGrey)
      margin: 24px 0px 0px 4px
    &__accwrapper
      position: relative
      display: inline-block
      &:hover
        .header__ddwnlogged
          display: block
      &::after
        content: " "
        background: $FontclGrey
        width: 4px
        height: 1px
        display: inline-block
        +position(absolute, 33px -11px null null)
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        transition: all 0.3s ease-out
      &::before
        content: " "
        background: $FontclGrey
        width: 4px
        height: 1px
        display: inline-block
        +position(absolute, 33px -14px null null)
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        transition: all 0.3s ease-out
      &:hover::after
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        transition: all 0.3s ease-out
      &:hover::before
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        transition: all 0.3s ease-out

    &__ddwnlogged
      display: none
      +position(absolute, 40px null null -2px)
      list-style: none
      padding: 20px 0px 0px 0px
      margin: 0px
      width: 128px
      background: $ColorWhite
    &__linklogged
      +font($RobotoRegular, 14px, $FontclGrey)
      padding: 5px 0px 4px 10px
      display: inline-block
      width: 100%
      &:hover
        background: $ColorLtBl
    &__logo
      display: inline-block
      margin: 21px 0px 0px 0px
      padding: 0px 0px 0px 0px
      float: left
      // background: url(../upload/logo.svg) 0 0 no-repeat
      // width: 40px
      // height: 40px
    &__search
      font-size: 100%
      display: inline-block
      height: 20px
      width: 20px
      float: left
      margin: 18px 0px 0px 0px
      position: relative
      input[type="text"]
        height: 43px
        +font($RobotoRegular, 16px, $FontclGrey)
        display: inline-block
        border: none
        outline: none
        padding: 3px 30px 3px 10px
        width: 0px
        position: absolute
        top: 0
        right: 0
        background: none
        z-index: 3
        +transition(width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000))
        cursor: pointer
        -moz-box-sizing: border-box
        box-sizing: border-box
      input[type="text"]:hover
        background: url(../images/ic_search_green.svg) 71% 49% no-repeat
      input[type="text"]:focus:hover 
        border-bottom: 1px solid #BBB
      input[type="text"]:focus
        width: 280px
        z-index: 1
        border: 1px solid $ColorBrbForm
        cursor: text
        background: $ColorBgSearchGr
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
      input[type="text"]:focus+input[type="submit"]
        outline: none
        border: none
        background: url(../images/ic_search_green.svg) 50% 92% no-repeat
      input[type="submit"]
        height: 30px
        width: 30px
        display: inline-block
        float: right
        background: url(../images/ic_search.svg) 50% 92% no-repeat
        text-indent: -10000px
        border: none
        outline: none
        position: absolute
        top: 0
        right: 0
        z-index: 2
        cursor: pointer
        opacity: 0.4
        cursor: pointer
        +transition(opacity .4s ease-out)
      input[type="submit"]:hover
        background: url(../images/ic_search_green.svg) 50% 92% no-repeat
        opacity: 1



    &__btn
      +btn(2px, 1px, $ColorBordGreen, transparent)
      +font($RobotoMedium, 1.3em, $FontclGrey)
      margin: 17px 0px 0px 28px
      padding: 13px 38px 12px 36px
      cursor: pointer
      float: left
      &:hover
        -webkit-box-shadow: 0px 2px 2px -2px rgba(69, 96, 97, 0.72)
        -moz-box-shadow:    0px 2px 2px -2px rgba(69, 96, 97, 0.72)
        box-shadow:         0px 2px 2px -2px rgba(69, 96, 97, 0.72)

    &__buy
      width: 20px
      height: 20px
      display: inline-block
      float: left
      background: url(../images/ic_carret_grey.svg) no-repeat 50% 50%
      margin: 30px 0px 0px 80px
      padding: 0
    &__buylogged
      width: 80px
      height: 81px
      display: inline-block
      float: left
      background: $ColorBordGreen url(../images/ic_carret_white.svg) no-repeat 50% 50%
      position: relative
    &__buynum
      +position(absolute, 0 0px null null)
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      background: $ColorWhite
      width: 20px
      height: 20px
      padding: 0px 0px 0px 6px
      margin: 23px 18px 3px 8px
      +font($RobotoMedium, 14px, $ColorBordGreen)
    &__menutoggle
      +position(absolute, 0px null null 0px)
      z-index: 10
      a
        display: none
        width: 16px
        height: 16px
        span
          background: $FontclGrey
          display: block
          line-height: 0
          margin: 0px 0px 5px
          +transition( all 0.5s ease-out)
      &-one
        width: 16px
        height: 2px
      &-two
        width: 8px
        height: 2px
      &-three
        width: 16px
        height: 2px
      &.on
        .header__menutoggle-one
          +transform(rotate(45deg) translate(5px, 2px))
        .header__menutoggle-two
          opacity: 0
        .header__menutoggle-three
          +transform(rotate(-45deg) translate(8px, -5px))    


  

  .navmenu
    +clearfix
    margin: 0px
    margin-left: 70px
    float: left
    width: 960px
    list-style: none
    padding: 0px
    >li
      display: inline-block
      float: left
      margin: 31px 10px 0px 17px
      &:hover
        .submenu
          display: block
        .navmenu__link--dropdown
          color: $ColorBordGreen
          &::after
            transform: rotate(-45deg)
            -webkit-transform: rotate(-45deg)
            -ms-transform: rotate(-45deg)
            -moz-transform: rotate(-45deg)
            transition: all 0.3s ease-out
          &::before
            transform: rotate(45deg)
            -webkit-transform: rotate(45deg)
            -ms-transform: rotate(45deg)
            -moz-transform: rotate(45deg)
            transition: all 0.3s ease-out

    &__link
      display: inline-block
      +font($RobotoMedium, 1.3em, $FontclGrey)
      text-decoration: none
      text-transform: uppercase
      letter-spacing: 1px
      position: relative
      &:not(.navmenu__link--dropdown)
        &::before
          content: " "
          width: 100%
          height: 0px
          background: $ColorBordGreen
          opacity: 0.4
          display: block
          +position(absolute, null null 0px 0px)
          +transition(all 0.2s ease-out)
        &:hover::before
          content: " "
          width: 100%
          height: 7px
          background: $ColorBordGreen
          opacity: 0.4
          display: block
          +position(absolute, null null 0px 0px)
          +transition(all 0.2s ease-out)
      &--dropdown

        &::after
          content: " "
          background: $FontclGrey
          width: 4px
          height: 1px
          display: inline-block
          +position(absolute, 9px -9px null null)
          transform: rotate(45deg)
          -webkit-transform: rotate(45deg)
          -ms-transform: rotate(45deg)
          -moz-transform: rotate(45deg)
          transition: all 0.3s ease-out
        &::before
          content: " "
          background: $FontclGrey
          width: 4px
          height: 1px
          display: inline-block
          +position(absolute, 9px -12px null null)
          transform: rotate(-45deg)
          -webkit-transform: rotate(-45deg)
          -ms-transform: rotate(-45deg)
          -moz-transform: rotate(-45deg)
          transition: all 0.3s ease-out
      &--active
        border-bottom: 4px solid $ColorBordGreen
        padding-bottom: 28px
      &:first-child
        margin-left: 0

  .submenu
    display: none
    +position(absolute, 70px 0px null 0px)
    z-index: 20000
    +clearfix
    width: 100%
    background: $ColorWhite
    padding: 37px 0px 73px 0px
    -webkit-box-shadow: 0px 4px 15px 0px rgba(59, 82, 83, 0.34)
    -moz-box-shadow:    0px 4px 15px 0px rgba(59, 82, 83, 0.34)
    box-shadow:         0px 4px 15px 0px rgba(59, 82, 83, 0.34)
    ul
      margin: 0px 41px 0px 0px
      list-style: none
      float: left
      padding: 0px 
      width: 202px
      position: relative
      &:nth-child(2)
        .submenu__imgblock
          right: -808px


    li
    &__link
      text-decoration: none
      display: inline-block
      +font($RobotoRegular, 16px, $FontclGrey)
      margin: 0px 0px 20px 0px
      padding: 0px 0px 0px 0px
      position: relative
      +transition(all 0.2s)
      &:hover
        padding-left: 15px
        +transition(all 0.2s)
      &:hover +.submenu__imgblock
        display: block
      &--look
        +bordecategoriesShort($ColMainLookBl)
        &:hover
          color: $ColMainLookBl    
      &--beinform
        +bordecategoriesShort($ColMainBeinFormRd)
        &:hover
          color: $ColMainBeinFormRd
      &--listen
        +bordecategoriesShort($ColMainListenOrg)
        &:hover
          color: $ColMainListenOrg
      &--use
        +bordecategoriesShort($ColMainUse)
        &:hover
          color: $ColMainUse
      &--shoot
        +bordecategoriesShort($ColMainShootGr)
        &:hover
          color: $ColMainShootGr
      &--move
        +bordecategoriesShort($ColMainLiveDb)
        &:hover
          color: $ColMainLiveDb
      &--play
        +bordecategoriesShort($ColMainPlayLlc)
        &:hover
          color: $ColMainPlayLlc
      &--travell
        +bordecategoriesShort($ColMainMoveYlw)
        &:hover
          color: $ColMainMoveYlw
    
    &__imgblock
      +position(absolute, null -1053px -55px null)
      width: 722px
      height: 270px
      display: none
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      background:  $ColMainListenOrg url(../images/ic_listen.svg) 17% 36% no-repeat
      &--listen
        background:  $ColMainListenOrg url(../images/ic_listen.svg) 17% 36% no-repeat
      &--use
        background: $ColMainUse  url(../images/ic_use.svg) 17% 36% no-repeat
      &--beinform
        background: $ColMainBeinFormRd  url(../images/ic_beinform.svg) 17% 36% no-repeat
      &--chat
        background: $ColMainLookBl  url(../images/ic_chat.svg) 17% 36% no-repeat
        background-size: 100px
      &--shoot
        background: $ColMainShootGr  url(../images/ic_shoot.svg) 17% 36% no-repeat
      &--move
        background: $ColMainLiveDb  url(../images/ic_move.svg) 17% 36% no-repeat
      &--play
        background: $ColMainPlayLlc  url(../images/ic_play-1.svg) 17% 36% no-repeat
      &--travel
        background: $ColMainMoveYlw  url(../images/ic_travel.svg) 17% 36% no-repeat
        background-size: 100px
      h3
        margin: 175px 0px 0px 0px
        +font($RobotoLight, 26px, $ColorWhite)
        width: 318px
        text-align: center
        font-weight: 400
      p
        margin: 0px 0px 0px 0px
        +font($RobotoLight, 16px, $ColorWhite)
        width: 318px
        text-align: center
    &__imgwrapper
      position: relative
      img
        display: block
        +position(absolute, -222px 10px null null )
/* Buzz */
@-webkit-keyframes buzz
  0%
    -webkit-transform: rotate(0deg)
  4%
    -webkit-transform: rotate(10deg)
  8%
    -webkit-transform: rotate(-10deg)
  12%
    -webkit-transform: rotate(5deg)
  16%
    -webkit-transform: rotate(-5deg)
  20%
    -webkit-transform: rotate(5deg)
  24%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(0deg)

@keyframes buzz
  0% 
    transform: rotate(0deg)
  4%
    transform: rotate(10deg)
  8% 
    transform: rotate(-10deg)
  12%
    transform: rotate(5deg)
  16%
    transform: rotate(-5deg)
  20%
    transform: rotate(5deg)
  24%
    transform: rotate(0deg)
  100%
    transform: rotate(0deg)

.upperinfo
  background: $ColorBgMain
  +clearfix
  min-height: 48px
  padding: 15px 0px 0px
  &__days
    display: inline-block
    float: left
    background: url(../images/ic_calend.svg) 0 0  no-repeat
    +font($RobotoRegular, 13px, $ColorBrbForm)
    padding: 0px 0px 0px 25px
  &__tel
    display: inline-block
    float: right
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    padding-left: 20px
    margin: 0px 30px 0px 0px
    &:before
      content: " "
      width: 20px
      height: 20px
      display: inline-block
      background: url(../images/ic_smartphone.svg) 0 0 no-repeat
      -webkit-animation: buzz 2s linear 2s infinite
      animation: buzz 2s linear 2s infinite
      margin: 0px 0px -3px 0px
  &__social
    float: right
  &__sociallk
    display: inline-block
    width: 20px
    height: 20px
    margin: 0px 0px 0px 5px
    @each $ics in fb, vk, in
      &--#{$ics}
        background: url(../images/#{$ics}.svg) 50% 50% no-repeat
    @each $ics in fb, vk, in
      &--#{$ics}:hover
        background: url(../images/#{$ics}_green.svg) 50% 50% no-repeat
