.itempage
  .item
    padding: 0px 0px 100px 0px
    +clearfix
    &__slider
      width: 50%
      float: left
      .bx-wrapper .bx-loading
        background: none
      .bx-wrapper
        margin: 0 auto 10px
      .bx-wrapper .bx-viewport
        -webkit-box-shadow: none
        box-shadow: none
        border: none
        outline: none
        left: 0px
    &__dscrpbox
      width: 50%
      float: left
      padding: 0px 0px 0px 110px
      .catalogitems__yandexrate
        margin: 0px 0px 36px 1px
        position: initial
    &__bxslider
      img
        margin: 0px 0px 0px 103px
    &__prevcost
      margin: 0px 0px 0px 3px
      display: inline-block
      position: relative
      +font($RobotoRegular, 16px, $FontclGtliteBrcrmp)
      span
        display: inline-block
        width: 100%
        border-bottom: 1px solid $FontclGtliteBrcrmp
        +position(absolute, 50% null null 0)
    &__actionbox
    &__head
      +font($RobotoLight, 32px ,$FontclGrSidebar)
      font-weight: 400
      width: 430px
      line-height: 40px
      margin: 0px 0px 12px 0px
    &__cost
      +font($RobotoLight, 34px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 36px 0px 0px
    &__btn
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen )
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 10px 34px 10px 30px
      margin: 0px 31px 0px 0px
    &__availibility
      +font($RobotoRegular, 14px, $ColorBordGreen)
      display: inline-block
      margin: 0px 0px 0px 5px
    &__tablist
      list-style: none
      margin: 0px 
      padding: 0px
      li
        +font($RobotoRegular, 16px, $FontclGrey)
        margin: 0px 0px 8px 0px
        &:before
          content: "•"
          display: inline-block
          margin: 0px 10px 0px 0px
          color: $ColorBordGreen
    &__slideroverl
      display: inline-block
      width: 30px
      height: 30px
      margin: -15px 0px 0px -15px
      +position(absolute, 50% null null 50%)
      background: url(../images/ic_playslider.svg) 0 0 no-repeat
    &__article
      margin: 22px 0px 0px 0px
      +font($RobotoRegular, 14px, $ColorBrdBl)
    .form
      margin-bottom: 20px
    .nav-tabs
      border-bottom: 1px solid $ColorBgFooter
      margin-bottom: 25px
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus
      background: none
      outline: none
      border: none
      -webkit-box-shadow: none
      -moz-box-shadow:    none
      box-shadow:         none
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      border-bottom: 4px solid $ColorBordGreen
    .nav-tabs > li.active > a
      +font($RobotoMedium, 16px, $FontclGrSidebar) 
    .nav-tabs > li > a
      +font($RobotoRegular, 16px, $FontclGrSidebar)
    .nav-tabs > li > a,
    .nav-tabs > li > a:hover,
    .nav-tabs > li > a:focus
      background: none
      border: none
      -webkit-box-shadow: none
      -moz-box-shadow:    none
      box-shadow:         none
      -webkit-border-radius: 0
      -moz-border-radius: 0
      border-radius: 0
      padding: 10px 0px 4px 0px
      margin: 0px 50px 0px 0px
    .nav-tabs > li > a:focus
       +font($RobotoMedium, 16px, $FontclGrSidebar) 
    .catalogitems__btnaction
      margin: 0px 0px -16px 9px
    .catalogitems__btnaction:hover
    .catalogitems__btnaction--compare:hover span
      left: 18px
    .catalogitems__btnaction--favourite:hover span
      left: 10px
    #bx-pager
      a
        display: inline-block
        width: 96px
        height: 70px
        background: $ColorWhite
        text-align: center
        -moz-box-sizing: border-box
        box-sizing: border-box
        margin: 0px 10px 0px 0px
        overflow: hidden
        position: relative
        border: 1px solid transparent
        +transition(all 0.5s ease-out)
        img
          display: inline-block
      a.active
        border: 1px solid $ColorBordGreen
        -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        -moz-box-shadow:    0px 6px 12px -10px rgba(74, 103, 104, 1)
        box-shadow:         0px 6px 12px -10px rgba(74, 103, 104, 1)
        +transition(all 0.5s ease-out)
  .similar
    +clearfix
    &__wrapper
      margin-left: -10px
      margin-right: -10px
      padding: 0px 0px 50px
    &__header
      +font($RobotoLight, 50px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 0px 30px
      padding: 30px 0px 0px
      text-align: center
  .oftenbuy
    +clearfix
    background: $ColorBGmainReviews
    padding-bottom: 40px
  .catalogitems
    margin-bottom: 24px
    &__linkwrapper
      text-decoration: none
    &__row
      +clearfix
    &__rowwide
      +clearfix
    &__item
      float: left
      width: 298px
      background: $ColorWhite
      height: 347px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -webkit-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      -moz-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      padding: 0px 0px 30px 0px
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 0px 10px 20px 10px
      border: 1px solid $ColorBrdImg
      position: relative
      &:hover
        -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        -moz-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      &--wide
        padding: 0px
        width: 616px
        overflow: hidden
        .catalogitems__linkwrapper
          +clearfix
        .catalogitems__cost
          margin: 0px 0px 12px 20px
        .catalogitems__linkwrapper
          .catalogitems__overlay
                top: 300px
                left: 0px
          &:hover
            .catalogitems__overlay
              top: 287px
              left: 0px
    &__bottombox
      +position(absolute, null null 0px -4px)
    &__tittle
      +font($RobotoRegular, 1.6em, $FontclGrSidebar)
      margin: 0px 0px 10px 18px
    &__cost
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      margin: 0px 0px 2px 0px
    &__linkwrapper
      overflow: hidden
      position: relative
    &__btncat
      display: block
      +position(absolute, 18px null null 18px)
      +btncatg($ColMainListenOrg)
      opacity: 1
      +transition(all 0.2s ease-out)
      &--look
        background: $ColMainLookBl
      &--listen
        background: $ColMainListenOrg
      &--beinfrm
        background: $ColMainBeinFormRd
      &--use
        background: $ColMainUse
      &--shoot
        background: $ColMainShootGr
      &--live
        background: $ColMainLiveDb
      &--play
        background: $ColMainPlayLlc
      &--move
        background: $ColMainMoveYlw
      &--hit
        background: $ColMainLookBl
      &--new
        background: $ColMainShootGr
    &__overlay
      +position(absolute, 210px null null 0px)
      text-align: center
      width: 100%
      opacity: 0
      +transition(all 0.2s ease-out)
    &__btnaction
      +btnaction($ColorBordGreen)
      width: 72px
      height: 35px
      position: relative
      -moz-box-sizing: border-box
      box-sizing: border-box
      +transition(width 0.2s ease-out)
      &:hover
        background: $ColorBordGreen
        width: 102px
        +transition(all 0.2s ease-out)
      &--compare
        background: $ColorWhite url(../images/ic_compare.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--favourite
        background: $ColorWhite url(../images/ic_feature.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--buy
        background: $ColorWhite url(../images/ic_cartgreen.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
        
      span
        display: block
        display: none
        width: 102%
        +position(absolute, 22px null null 50%)
        +font($RobotoMedium, 14px, $ColorWhite )
        opacity: 0
        line-height: 0
        +transition(all 0.2s ease-out)

    &__linkwrapper:hover
      .catalogitems__btncat
        opacity: 1
        top: 18px
      .catalogitems__overlay
        opacity: 1
        top: 201px
    &__yandexrate
      margin: 0px 0px 0px 19px
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      +position(absolute, null null 12px 0px)
    &__yandexratenum
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    &__imgwrapper
      overflow: hidden
      width: 298px
      height: 220px
      margin-bottom: 20px
      img
        display: block
        width: 100%
        height: auto
    &__in
      float: left
      width: 50%
      h2
        +font($RobotoLight, 32px, $FontclGrSidebar)
        margin: 0px 0px 16px 18px
        padding: 20px 0px 0px 0px
        font-weight: 400
    &__imgfullwrapper
      float: left
      width: 50%
      position: relative
    &__dscrp
      +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      margin: 0px 0px 0px 18px
      line-height: 21px
    &__imgfullwrapper
      width: 298px
      height: 347px
      img
        display: block
        width: 100%
        height: auto
  .coloredcircle
    margin-bottom: 20px
    &__row
      margin: 0px 0px 0px 1px
      input[type="checkbox"] + label
        margin: 0px 21px 6px 0px
    &__cost
      +font($RobotoMedium, 16px, $FontclGrSidebar) 
      float: left
      margin: 5px 21px 0px 0px 
.disquswrapper
  min-height: 407px
  background: url(../images/disqus.jpg) 0 0 no-repeat
  background-size: cover
  margin: 60px 0px 60px 0px
