.lk
  margin-bottom: 100px
  .nav-tabs
    border-bottom: 1px solid $ColorBgFooter
    margin-bottom: 25px
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus
    background: none
    outline: none
    border: none
    -webkit-box-shadow: none
    -moz-box-shadow:    none
    box-shadow:         none
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    border-bottom: 4px solid $ColorBordGreen
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus
    background: none
    border: none
    -webkit-box-shadow: none
    -moz-box-shadow:    none
    box-shadow:         none
    -webkit-border-radius: 0
    -moz-border-radius: 0
    border-radius: 0
    padding: 10px 0px 4px 0px
    margin: 0px 50px 0px 0px
    +font($RobotoMedium, 16px, $FontclGrSidebar)
  .tab-content
  .tab-pane--fst
  &__left
    width: 510px
    float: left
    background: $ColorWhite
    -webkit-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    -moz-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    +brdrad2()
    padding: 35px 0px 0px 29px
  &__right
    width: 404px
    float: left
  &__wrapper
    +clearfix
  &__av
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    display: block
    text-decoration: none
    width: 80px
    height: 80px
    overflow: hidden
    position: relative
    img
      display: block
    &:hover
      .lk__overlayav
        background: rgba(67, 72, 77, 0.8) url(../images/ic_cloud.svg) 50% 50% no-repeat
        +transition(all 0.2s ease-out)
        opacity: 1
  &__overlayav
    width: 80px
    height: 80px
    display: inline-block
    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    +position(absolute, 0 null null 0)
    opacity: 0
    background: rgba(67, 72, 77, 0.8) url(../images/ic_cloud.svg) 50% 50% no-repeat
    +transition(all 0.2s ease-out)
  &__tittle
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    span
      +font($RobotoRegular, 16px, $FontclGrey)
      display: inline-block
      margin-left: 20px
  &__pencil
    width: 11px
    height: 16px
    display: inline-block
    background: url(../images/ic_pencil.svg) 0 0 no-repeat
    margin-left: 20px
    opacity: 0.1
    &:hover
      opacity: 1
  &__header
    +font($RobotoRegular, 20px, $FontclGrSidebar)
    font-weight: 400
    margin: 25px 0px -3px
  &__hiddeninput
    display: none
    input[type="email"]
      width: 258px
      height: 44px
      -moz-box-sizing: border-box
      box-sizing: border-box
      +brdrad2
      border: 1px solid  $ColorBrbForm
      +inpshadow
      padding: 0px 10px 0px 10px
      margin: 0px 15px 0px 0px
      &:focus
        border: 1px solid  $ColorBrbForm
        outline: none
    input[type="text"]
      width: 258px
      height: 44px
      -moz-box-sizing: border-box
      box-sizing: border-box
      +brdrad2
      border: 1px solid  $ColorBrbForm
      +inpshadow
      padding: 0px 10px 0px 10px
      margin: 0px 15px 0px 0px
      &:focus
        border: 1px solid  $ColorBrbForm
        outline: none
    input[type="submit"]
      border: 1px solid  $ColorBordGreen
      outline: none
      background: none
      width: 44px
      height: 44px
      display: inline-block
      padding: 0px 0px 15px 0px
      margin: 0px 15px 0px 0px
      +brdrad2
      background: url(../images/ic_inpchekmark_green.svg) 50% 50% no-repeat
    input[type="reset"]
      border: 1px solid  $ColorBgActiondisc
      outline: none
      background: none
      width: 44px
      height: 44px
      display: inline-block
      padding: 0px 0px 15px 0px
      background: url(../images/ic_redreset.svg) 50% 50% no-repeat
      +brdrad2
  .form__radiobtnsquare
    margin: 22px 0px 22px 0px
    +clearfix
    label
      +font($RobotoRegular, 16px, $FontclGrSidebar)
      width: 284px
  .form__radiobtnsquare input[type="radio"] + label span
    display: block
    float: left
    margin-bottom: 20px
    margin-top: 4px
  &__bonuscard
    margin: 0px 0px 0px 18px
    .lk__tittle
      margin: 0px 0px 25px 0px
      padding: 0px 0px 0px 0px
  &__bonuscardimg
    width: 388px
    height: 244px
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    border-radius: 8px
    overflow: hidden
    -webkit-box-shadow: 0px 4px 20px -8px rgba(50, 50, 50, 0.5)
    -moz-box-shadow:    0px 4px 20px -8px rgba(50, 50, 50, 0.5)
    box-shadow:         0px 4px 20px -8px rgba(50, 50, 50, 0.5)
    margin-bottom: 50px
    img
      display: block
  &__btn
    +btn(2px, 1px, $ColorBordGreen, transparent)
    +font($RobotoMedium, 16px, $ColorBordGreen)
    padding: 10px 40px 10px 40px
    margin-left: 56px

  .table
    padding-top: 17px
    margin-bottom: 50px
    &__line
      +clearfix
      padding: 24px 0px 24px 0px
      background: $ColorBgTableltW
      &:nth-child(2n+1)
        background: $ColorBgTable
      &--fstcolored
        background: $ColorBordGreen
        +clearfix
        padding: 24px 0px 24px 0px
        .table__item
          span
            +font($RobotoMedium, 14px, $ColorTextTable)
            text-transform: uppercase
    &__item
      width: 25%
      float: left
      span
        +font($RobotoRegular, 14px, $ColorTextTable)
        display: inline-block
        padding-left: 108px
    span.table__hidden
      display: none

  .hits__wrapper
    +clearfix
    margin-left: -10px
    margin-right: -10px
    padding: 0px 0px 50px
  .catalogitems
    margin-bottom: 24px
    &__linkwrapper
      text-decoration: none
    &__row
      +clearfix
    &__rowwide
      +clearfix
    &__item
      float: left
      width: 298px
      background: $ColorWhite
      height: 347px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -webkit-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      -moz-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      padding: 0px 0px 30px 0px
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 0px 10px 20px 10px
      border: 1px solid $ColorBrdImg
      position: relative
      &:hover
        -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        -moz-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      &--wide
        padding: 0px
        width: 616px
        overflow: hidden
        .catalogitems__linkwrapper
          +clearfix
        .catalogitems__cost
          margin: 0px 0px 12px 20px
        .catalogitems__linkwrapper
          .catalogitems__overlay
                top: 300px
                left: 0px
          &:hover
            .catalogitems__overlay
              top: 294px
              left: 0px
    &__bottombox
      +position(absolute, null null 0px -4px)
    &__tittle
      +font($RobotoRegular, 1.6em, $FontclGrSidebar)
      margin: 0px 0px 10px 18px
    &__cost
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      margin: 0px 0px 2px 0px
    &__linkwrapper
      overflow: hidden
      position: relative
    &__btncat
      display: block
      +position(absolute, 18px null null 18px)
      +btncatg($ColMainListenOrg)
      opacity: 1
      +transition(all 0.2s ease-out)
      &--look
        background: $ColMainLookBl
      &--listen
        background: $ColMainListenOrg
      &--beinfrm
        background: $ColMainBeinFormRd
      &--use
        background: $ColMainUse
      &--shoot
        background: $ColMainShootGr
      &--live
        background: $ColMainLiveDb
      &--play
        background: $ColMainPlayLlc
      &--move
        background: $ColMainMoveYlw
      &--hit
        background: $ColMainLookBl
      &--new
        background: $ColMainShootGr
    &__overlay
      +position(absolute, 210px null null 0px)
      text-align: center
      width: 100%
      opacity: 0
      +transition(all 0.2s ease-out)
    &__btnaction
      +btnaction($ColorBordGreen)
      width: 72px
      height: 35px
      position: relative
      -moz-box-sizing: border-box
      box-sizing: border-box
      +transition(width 0.2s ease-out)
      &:hover
        background: $ColorBordGreen
        width: 102px
        +transition(all 0.2s ease-out)
      &--compare
        background: $ColorWhite url(../images/ic_compare.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--favourite
        background: $ColorWhite url(../images/ic_feature.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--buy
        background: $ColorWhite url(../images/ic_cartgreen.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
        
      span
        display: block
        display: none
        width: 102%
        +position(absolute, 22px null null 50%)
        +font($RobotoMedium, 14px, $ColorWhite )
        opacity: 0
        line-height: 0
        +transition(all 0.2s ease-out)

    &__linkwrapper:hover
      .catalogitems__btncat
        opacity: 1
        top: 18px
      .catalogitems__overlay
        opacity: 1
        top: 201px
    &__yandexrate
      margin: 0px 0px 0px 19px
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      +position(absolute, null null 12px 0px)
    &__yandexratenum
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    &__imgwrapper
      overflow: hidden
      width: 298px
      height: 220px
      margin-bottom: 20px
      img
        display: block
        width: 100%
        height: auto
    &__in
      float: left
      width: 50%
      h2
        +font($RobotoLight, 32px, $FontclGrSidebar)
        margin: 0px 0px 16px 18px
        padding: 20px 0px 0px 0px
        font-weight: 400
    &__imgfullwrapper
      float: left
      width: 50%
      position: relative
    &__dscrp
      +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      margin: 0px 0px 0px 18px
      line-height: 21px
    &__imgfullwrapper
      width: 307px
      height: 347px
      img
        display: block
        width: 100%
        height: auto