.mailbar
  background: $ColorBgMailbar
  position: relative
  padding: 16px 0px 16px 0px
  +clearfix
  &__bgimg
    width: 3px
    height: 10px
    float: left
    display: inline-block
    position: relative
    span
      +position(absolute, -61px null null -27px)
      display: inline-block
      width: 207px
      height: 130px
      background: url(../images/bg_mailbox.png) 0 0 no-repeat
  &__dscrp
    +font($RobotoRegular, 18px, $FontclGrSidebar)
    width: 416px
    margin: 0px 140px 0px 184px
    float: left
  &__form
    width: 516px
    float: left
    padding-top: 4px
    position: relative
    input[type="email"]
      outline: none
      border: 1px solid $ColorBrdBl
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      width: 258px
      height: 44px
      -moz-box-sizing: border-box
      box-sizing: border-box
      background: $ColorWhite
      +font($RobotoRegular, 16px, $FontclGrSidebar)
      padding: 0px 0px 0px 20px
      margin-right: 7px
    input[type="submit"]
      outline: none
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      +font($RobotoMedium, 16px, $ColorWhite)
      background: $ColorBordGreen
      padding: 10px
      border: none
      &:hover
        -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.05)
        -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.05)
        box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.05)


  &__close
    display: inline-block
    width: 1px
    height: 1px
    position: relative
    float: left
    a
      +position(absolute, 12px -44px null null)
      display: inline-block
      text-decoration: none
      color: $ColorWhite
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      width: 32px
      height: 32px
      background: $ColorBtnClose
      font-size: 20px
      span
        position: relative
        display: inline-block
        width: 1px
        height: 1px
        &:before
          content: ""
          width: 16px
          height: 2px
          background: $ColorWhite
          display: inline-block
          +position(relative, -1px null null 8px)
          +transform(rotate(45deg))
        &:after
          content: ""
          width: 2px
          height: 16px
          background: $ColorWhite
          display: inline-block
          +position(relative, -17px null null 15px)
          +transform(rotate(45deg))

  &__hiddenspan
    +font($RobotoRegular, 13px, $FontclGrey)
    display: block
    +position(absolute, null null -19px 0)
    display: none

          









