.main
  .container
    min-width: 1260px
  .mainslider
    &__item
      width: 100%
      min-height: 502px
      background: $ColorWhite url(../upload/main_fullscreen.png) 
      background-repeat: no-repeat
      background-size: cover
      h2
        +font($RobotoLight, 35px, $FontclGrey)
        padding: 117px 0px 0px 0px
        margin: 0px 0px 59px
        font-weight: 400
        width: 404px
    &__wrapper
      width: 1050px
      margin: 0 auto

    &__btn
      +btn(2px,1px, $ColorBordGreen, $ColorBordGreen)
      text-decoration: none
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 10px 62px 10px 42px
      margin: 0px 0px 0px 0px
      background: $ColorBordGreen url(../images/ic_arrow-white.svg) 82% 54.5% no-repeat
      font-weight: 400
    &__nav
      background: $ColMainListenOrg
      min-height: 118px
      -moz-box-sizing: border-box
      box-sizing: border-box
      
      .nav-tabs
        border: none
        margin: 0px
    &__chat
      background: url(../images/ic_chat.svg) 50% 20px no-repeat
    &__beinform
      background: url(../images/ic_beinform.svg) 50% 20px no-repeat
      background-size: 35px 35px
    &__listen
      background: url(../images/ic_listen.svg) 50% 20px no-repeat
      background-size: 35px 35px
    &__surprise
      background: url(../images/ic_use.svg) 50% 20px no-repeat
      background-size: 35px 35px
    &__move
      background: url(../images/ic_move.svg) 50% 20px no-repeat
      background-size: 35px 35px
    &__play
      background: url(../images/ic_play-1.svg) 50% 20px no-repeat
      background-size: 35px 35px
    &__travel
      background: url(../images/ic_travel.svg) 50% 20px no-repeat
      background-size: 35px 35px
  .slidercontent
    border-bottom: 10px solid  $ColMainListenOrg
    border-left: 10px solid  $ColMainListenOrg
    border-right: 10px solid  $ColMainListenOrg
    &--beinform
      border-bottom: 10px solid  $ColMainBeinFormRd
      border-left: 10px solid  $ColMainBeinFormRd
      border-right: 10px solid  $ColMainBeinFormRd
      .slidercontent__categorybox
        background:  $ColMainBeinFormRd url(../images/ic_beinform.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--chat
      border-bottom: 10px solid  $ColMainLookBl
      border-left: 10px solid  $ColMainLookBl
      border-right: 10px solid  $ColMainLookBl
      .slidercontent__categorybox
        background:  $ColMainLookBl url(../images/ic_chat.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--listen
      border-bottom: 10px solid  $ColMainListenOrg
      border-left: 10px solid  $ColMainListenOrg
      border-right: 10px solid  $ColMainListenOrg
      .slidercontent__categorybox
        background:  $ColMainListenOrg url(../images/ic_chat.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--surprise
      border-bottom: 10px solid  $ColMainUse
      border-left: 10px solid  $ColMainUse
      border-right: 10px solid  $ColMainUse
      .slidercontent__categorybox
        background:  $ColMainUse url(../images/ic_use.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--move
      border-bottom: 10px solid $ColMainLiveDb
      border-left: 10px solid $ColMainLiveDb
      border-right: 10px solid $ColMainLiveDb
      .slidercontent__categorybox
        background:  $ColMainLiveDb url(../images/ic_move.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--play
      border-bottom: 10px solid $ColMainPlayLlc
      border-left: 10px solid $ColMainPlayLlc
      border-right: 10px solid $ColMainPlayLlc
      .slidercontent__categorybox
        background:  $ColMainPlayLlc url(../images/ic_play-1.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &--travel
      border-bottom: 10px solid $ColMainMoveYlw
      border-left: 10px solid $ColMainMoveYlw
      border-right: 10px solid $ColMainMoveYlw
      .slidercontent__categorybox
        background:  $ColMainMoveYlw url(../images/ic_travel.svg) 50% 23% no-repeat
        background-size: 122px 122px
    &__wrapper
      +clearfix
      margin-left: -10px
      margin-right: -10px
      padding: 50px 0px 30px
    &__categorybox
      width: 298px
      height: 347px
      text-align: center
      background: $ColMainListenOrg url(../images/ic_listen.svg) 50% 23% no-repeat
      float: left
      margin: 0px 10px 20px 10px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      h2
        margin: 0px 0px 0px 0px
        text-align: center
        padding: 203px 0px 0px 0px
        +font($RobotoLight, 26px, $ColorWhite)
        font-weight: 400
      p
        margin: 0px 0px 34px 0px
        text-align: center
        +font($RobotoLight, 16px, $ColorWhite)
        font-weight: 400
    &__btn
      +btn(2px,1px, $ColorWhite, transparent)
      text-decoration: none
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 10px 61px 10px 61px
      margin: 0px 0px 0px 0px
      background: url(../images/ic_arrow-white.svg) 82% 54.5% no-repeat
  .catalogitems
    margin-bottom: 24px
    &__linkwrapper
      text-decoration: none
    &__row
      +clearfix
    &__rowwide
      +clearfix
    &__item
      float: left
      width: 298px
      background: $ColorWhite
      height: 347px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -webkit-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      -moz-box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      box-shadow: 0px 1px 3px -2px rgba(36, 50, 50, 1)
      padding: 0px 0px 30px 0px
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 0px 10px 20px 10px
      border: 1px solid $ColorBrdImg
      position: relative
      &:hover
        -webkit-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        -moz-box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
        box-shadow: 0px 6px 12px -10px rgba(74, 103, 104, 1)
      &--wide
        padding: 0px
        width: 616px
        overflow: hidden
        .catalogitems__linkwrapper
          +clearfix
        .catalogitems__cost
          margin: 0px 0px 12px 20px
        .catalogitems__linkwrapper
          .catalogitems__overlay
                top: 300px
                left: 0px
          &:hover
            .catalogitems__overlay
              top: 287px
              left: 0px
    &__bottombox
      +position(absolute, null null 0px -4px)
    &__tittle
      +font($RobotoRegular, 1.6em, $FontclGrSidebar)
      margin: 0px 15px 10px 18px
    &__cost
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      margin: 0px 0px 2px 0px
    &__linkwrapper
      overflow: hidden
      position: relative
    &__btncat
      display: block
      +position(absolute, 18px null null 18px)
      +btncatg($ColMainListenOrg)
      opacity: 1
      +transition(all 0.2s ease-out)
      &--look
        background: $ColMainLookBl
      &--listen
        background: $ColMainListenOrg
      &--beinfrm
        background: $ColMainBeinFormRd
      &--use
        background: $ColMainUse
      &--shoot
        background: $ColMainShootGr
      &--live
        background: $ColMainLiveDb
      &--play
        background: $ColMainPlayLlc
      &--move
        background: $ColMainMoveYlw
      &--hit
        background: $ColMainLookBl
      &--new
        background: $ColMainShootGr
    &__overlay
      +position(absolute, 210px null null 0px)
      text-align: center
      width: 100%
      opacity: 0
      z-index: 1
      +transition(all 0.2s ease-out)
    &__btnaction
      +btnaction($ColorBordGreen)
      width: 72px
      height: 35px
      position: relative
      -moz-box-sizing: border-box
      box-sizing: border-box
      +transition(width 0.2s ease-out)
      &:hover
        background: $ColorBordGreen
        width: 102px
        +transition(all 0.2s ease-out)
      &--compare
        background: $ColorWhite url(../images/ic_compare.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--favourite
        background: $ColorWhite url(../images/ic_feature.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
      &--buy
        background: $ColorWhite url(../images/ic_cartgreen.svg) 50% 10px no-repeat
        &:hover
          span
            display: block
            +position(absolute, 17px null null 0)
            opacity: 1
            +transition(all 0.2s ease-out)
        
      span
        display: block
        display: none
        width: 102%
        +position(absolute, 22px null null 50%)
        +font($RobotoMedium, 14px, $ColorWhite )
        opacity: 0
        line-height: 0
        +transition(all 0.2s ease-out)

    &__linkwrapper:hover
      .catalogitems__btncat
        opacity: 1
        top: 18px
      .catalogitems__overlay
        opacity: 1
        top: 201px
      .catalogitems__imgwrapper,
      .catalogitems__imgfullwrapper
        > a:before
            content: ""
            +position(absolute, 0px null null 0px)
            display: block
            width: 100%
            height: 100%
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 1%, rgba(255,255,255,0) 2%, rgba(255,255,255,0) 51%, rgba(255,255,255,0.02) 52%, rgba(127,223,177,1) 100%)
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 51%,rgba(255,255,255,0.02) 52%,rgba(127,223,177,1) 100%)
            background: linear-gradient(to bottom, rgba(255,255,255,0) 1%,rgba(255,255,255,0) 2%,rgba(255,255,255,0) 51%,rgba(255,255,255,0.02) 52%,rgba(127,223,177,1) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#7fdfb1',GradientType=0 )
            opacity: 0.34
    &__yandexrate
      margin: 0px 0px 0px 19px
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      +position(absolute, null null 12px 0px)
    &__yandexratenum
      +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    &__imgwrapper
      overflow: hidden
      width: 298px
      height: 220px
      margin-bottom: 20px
      img
        display: block
        width: 100%
        height: auto
    &__in
      float: left
      width: 50%
      h2
        +font($RobotoLight, 32px, $FontclGrSidebar)
        margin: 0px 0px 16px 18px
        padding: 20px 0px 0px 0px
        font-weight: 400
    &__imgfullwrapper
      float: left
      width: 50%
      position: relative
    &__dscrp
      +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
      margin: 0px 0px 0px 18px
      line-height: 21px
    &__imgfullwrapper
      width: 307px
      height: 347px
      img
        display: block
        width: 100%
        height: auto
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus 
    background-color: transparent
    cursor: pointer
    border: none
    outline: none
    +font($RobotoLight, 16px, $ColorWhite)
  .nav-tabs > li > a
    cursor: pointer
    border: none
    outline: none
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    padding: 60px 10px 10px
    margin: 0px 40px 0px 40px
    display: inline-block
    +font($RobotoLight, 16px, $ColorWhite)
  .nav-tabs > li > a:hover
    background-color: transparent
  .bx-wrapper .bx-viewport
    border: none
    -webkit-box-shadow: none
    box-shadow: none
    left: 0px
  .bx-wrapper
    margin: -8px auto 0px

  .hits
    margin: 0px 0px 40px
    +clearfix
    &__wrapper
      margin-left: -10px
      margin-right: -10px
      padding: 0px 0px 50px
    &__header
      +font($RobotoLight, 50px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 0px 40px
      padding: 40px 0px 0px
      text-align: center
  .reviewsmain
    background: $ColorBGmainReviews
    +clearfix
    &__header
      +font($RobotoLight, 50px, $FontclGrSidebar)
      font-weight: 400
      margin: 0px 0px 40px
      padding: 40px 0px 0px
      text-align: center
    .reviews__item
      width: 298px
    .reviews__wrapper
      +clearfix
    &__btn
      +btn(2px,1px, $ColorBordGreen, transparent)
      text-decoration: none
      +font($RobotoMedium, 16px, $ColorBordGreen)
      padding: 10px 62px 10px 42px
      margin: 0px 0px 0px 0px
      background: url(../images/ic_arrow.svg) 82% 52% no-repeat
    &__linkcenter
      text-align: center
      padding: 30px 0px 50px
  .logoslider
    padding: 72px 0px 104px 0px
    .slide  
      padding: 0px 0px 0px 0px
    &__slider
    &__link
      display: inline-block
      width: 190px
      height: 70px
      &--marshall
        background: url(../upload/logo_marshall_gr.png) 50% 50%  no-repeat
        background-size: 151px 39px
      &--lenovo
        background: url(../upload/logo_lenovo_gr.png) 50% 50%  no-repeat
        background-size: 162px 24px
      &--lapka
        background: url(../upload/logo_lapka_gr.png) 50% 50%  no-repeat
        background-size: 113px 44px
      &--jabra
        background: url(../upload/logo_jabra_gr.png) 50% 50%  no-repeat
        background-size: 146px 29px
      &--gopro
        background: url(../upload/logo_gopro_gr.png) 50% 50%  no-repeat
        background-size: 124px 32px
      &--marley
        background: url(../upload/logo_marley_gr.png) 50% 50%  no-repeat
        background-size: 84px 49px
  .bx-wrapper .bx-controls-direction a.bx-prev
    display: inline-block
    width: 19px
    height: 48px
    background: url(../images/ic_arrowprev.svg) 0 0 no-repeat
    left: -40px
    z-index: 20
  .bx-wrapper .bx-controls-direction a.bx-next
    display: inline-block
    width: 19px
    height: 48px
    background: url(../images/ic_arrownext.svg) 0 0 no-repeat
    right: -40px
    z-index: 20
  .bx-wrapper .bx-viewport
    background: transparent