.leftbarwrapper
  width: 300px
  float: left
  margin: 0px 0px 0px 18px
  .promocode
    background: $ColorWhite
    padding: 0px 0px 10px 21px
    -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.14)
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    margin-bottom: 16px
    border: 1px solid $ColorBrdShadow
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      line-height: 36px
      font-weight: 400
      margin: 0px 0px 34px 0px
      padding: 22px 0px 0px 0px
    &__form
      width: 258px
      height: 44px 
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      border: 1px solid $ColorBrbForm
      padding: 2px 0px 0px 2px
      -moz-box-sizing: border-box
      box-sizing: border-box
      margin: 0px 0px 19px
      +clearfix
      input[type="text"]
        display: inline-block
        border: none
        outline: none
        height: 32px
        width: 202px
        -moz-box-sizing: border-box
        box-sizing: border-box
        float: left
        padding: 11px 0px 5px 9px
        +font($RobotoRegular, 16px, rgba(152, 164, 175, 0.8))
      input[type="submit"]
        display: inline-block
        border: none
        outline: none
        height: 38px
        width: 50px
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        background: $ColorBordGreen
        +font($RobotoMedium, 16px, $ColorWhite)
        +transition(all 0.2s)
        &:hover
          background: $ColorHoverGreen
          +transition(all 0.2s)
    &__dscrp
      +font($RobotoRegular, 14px, $ColorBrbForm)
.order
  padding: 0px 0px 30px 21px
  background: $ColorWhite
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.14)
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.14)
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.14)
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
  border: 1px solid $ColorBrdShadow
  h2
    +font($RobotoLight, 32px, $FontclGrSidebar)
    line-height: 32px
    font-weight: 400
    padding: 22px 0px 0px 0px
    margin: 0px 0px 34px 0px
  &__tittle
    +font($RobotoRegular, 18px, $FontclGrey)
    display: inline-block
    margin: 0px 0px 18px 0px
    width: 92px
  &__value
    +font($RobotoMedium, 18px, $FontclGrSidebar)
    display: inline-block
  &__dscrp
    display: inline-block
    margin: 0px 0px 36px 95px
    +font($RobotoRegular, 14px, $ColorBrbForm)
  &__btn
    input
      border: none
      outline: none
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen)
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 10px 67px 10px 65px
      +transition(all 0.2s)
      -webkit-box-shadow: 1px 3px 5px -3px rgba(50, 50, 50, 0.68)
      -moz-box-shadow:    1px 3px 5px -3px rgba(50, 50, 50, 0.68)
      box-shadow:         1px 3px 5px -3px rgba(50, 50, 50, 0.68)
      &:hover
        background: $ColorHoverGreen
        +transition(all 0.2s)
  .cormb
    margin-bottom: 0px
