.registration
  margin-bottom: 70px
  h2
    text-align: center
    +font($RobotoLight, 50px, $FontclGrSidebar)
    font-weight: 400
    margin: 0px 0px 12px 0px
    padding: 56px 0px 0px
  .delivery__wrapper
  .delivery__forminput
    width: 100%
    float: none
  .delivery__forminput label
    display: block
  .widthcont
    label
      span
        float: left
      div
        display: inline-block
  .delivery__form
    width: 616px
    margin: 0 auto
    padding: 39px 160px 20px 160px
    background: $ColorWhite
    +shadowbloc
  .form__radiobtnsquare
    margin: 0px 0px 18px 0px
  &__inpbtn
    input
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen) 
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 10px 61px 10px 61px
      margin: 0px 0px 50px
  &__socialttl
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 20px 0px
  &__sociallnk
    width: 94px
    height: 44px
    display: inline-block
    +brdrad2
    &--ic-vk
      background: #597da3 url(../images/ic_vk_white.svg) 50% 50% no-repeat
    &--ic-fb
      background: #43609c url(../images/ic_fb_white.svg) 50% 50% no-repeat
    &--ic-inst
      background: #2b6187 url(../images/ic_in_white.svg) 50% 50% no-repeat
  &__str
    +font($RobotoMedium, 14px, $ColorBrbForm)
    span
      color: $ColorRedStar