.review_wrapper
  float: left
  width: 934px
  margin-left: 20px
  margin-bottom: 146px

.reviews
  margin-bottom: 24px
  &__wrapper
    margin-left: -10px
    margin-right: -10px
  +clearfix
  &__linkwrapper
    text-decoration: none
  &__row
    +clearfix
  &__rowwide
    +clearfix
  &__item
    float: left
    width: 31.18809999%
    background: $ColorWhite
    height: 347px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    -webkit-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    -moz-box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    box-shadow: 0px 1px 6px -5px rgba(33,46,46,1)
    padding: 0px 0px 30px 0px
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0px 10px 20px 10px
    border: 1px solid $ColorBrdImg
    position: relative
    overflow: hidden
    &:hover
      -webkit-box-shadow: 0px 2px 15px -10px rgba(59,82,83,0.7)
      -moz-box-shadow: 0px 2px 15px -10px rgba(59,82,83,0.7)
      box-shadow: 0px 2px 15px -10px rgba(59,82,83,0.7)
    &--wide
      padding: 0px
      width: 64.61918%
      overflow: hidden
      .reviews__linkwrapper
        +clearfix
        .reviews__timebox
          top: 330px
      .reviews__cost
        margin: 0px 0px 12px 20px
      .reviews__hinews
        background: url(../images/hinews.png) 0 5px no-repeat
        +position(absolute, null null -20px 0px)
      .reviews__overlay
        top: 340px
        background: transparent
      .reviews__timebox
        padding-top:  0px
      .reviews__linkwrapper:hover
        .reviews__timebox
          top: 316px
        .reviews__overlay
          top: 314px
        .reviews__hinews
          bottom: 0px
  &__bottombox
    +position(absolute, null null 0px -4px)
  &__tittle
    +font($RobotoRegular, 1.6em, $FontclGrSidebar)
    margin: 0px 0px 10px 18px
  &__dscrpwide
    +font($RobotoRegular, 14px, $ColorBrbForm)
    margin: 0px 0px 10px 18px
    line-height: 21px

  &__cost
    +font($RobotoMedium, 16px, $FontclGrSidebar)
    margin: 0px 0px 2px 0px
  &__linkwrapper
    overflow: hidden
    position: relative
    display: block
  &__linkwrapper:hover
    display: block
    .reviews__overlay
      display: block
      opacity: 1
      top: 190px
      +transition(all 0.2s ease-out)
    .reviews__hinews
      opacity: 1
      background: $ColorWhite url(../images/hinews.png) 0 5px no-repeat


  &__imgwrapper
    overflow: hidden
    width: 298px
    height: 220px
    margin-bottom: 21px
    img
      display: block
      width: 100%
      height: auto
  &__in
    float: left
    width: 50%
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      margin: 0px 0px 16px 18px
      padding: 13px 0px 0px 0px
      line-height: 38px
      font-weight: 400
  &__imgfullwrapper
    float: left
    width: 50%
    position: relative
  &__dscrp
    +font($RobotoRegular, 14px, $FontclGtliteBrcrmp)
    margin: 0px 0px 25px 18px
    line-height: 21px
  &__imgfullwrapper
    width: 298px
    height: 347px
    img
      display: block
      width: 103%
      height: auto
  &__overlay
    display: block
    opacity: 0
    +transition(all 0.2s ease-out)
    +position(absolute, 220px null null 0px)
    background: $ColorWhite
    width:  100%
    .reviews__tittle
      min-height: 43px
  &__timebox
    width: 100%
    margin-bottom:  10px
    padding:  10px 0px 0px 18px
    span
      +font($RobotoRegular, 14px, $ColorBrbForm)
      padding: 0px 0px 0px 20px
      margin-right: 6px
  &__time
    background: url(../images/ic_clock.svg) 0 2px no-repeat
    display: inline-block
  &__comments
    background: url(../images/ic_comments.svg) 0 2px no-repeat
  &__likes
    background: url(../images/ic_heart.svg) 0 3px no-repeat
    &--liked
      background: url(../images/ic_heart_red.svg) 0 3px no-repeat
  &__vid
    background: url(../images/ic_video.svg) 0 5px no-repeat
  &__hinews
    padding: 8px 0px 14px 56px
    margin: 12px 0px 0px 16px
    background: $ColorWhite url(../images/hinews.png) 0 5px no-repeat
    +transition(all 0.2s ease-out)
    width: 77%
    opacity: 0
    span
      text-decoration: none
      +font($RobotoRegular, 14px, $ColorBrbForm)
      width: 100px
      display: inline-block