.reviewpage
  margin-bottom: 100px
  .about__videowrpapper
    margin: 0px 0px 15px 314px
    background: url(../upload/img_videopreview.jpg) 0 0 no-repeat
  &__hinewswrapper
    +clearfix
    .reviews__overlay
      opacity: 1
    .reviews__timebox
      position: initial
      padding: 27px 0px 0px 0px
  &__hinews
    background: url(../images/hinews.png) 0 7px no-repeat
    padding: 8px 0px 16px 50px
    display: block
    width: 160px
    float: left
    margin-right: 20px
    span
      display: block
      +font($RobotoRegular, 14px, $ColorBrbForm)
  &__promo
    width: 1260px
    height: auto
    overflow: hidden
    margin: 0px 0px 48px
    img
      display: block
  &__wrapper
    +clearfix
  &__leftcol
    width: 298px
    float: left
  &__lefttext
    +font($RobotoRegular, 14px, $ColorBrbForm)
    margin: 0px 0px 0px 20px
    padding: 0px 0px 0px 20px
    border-left: 4px solid $ColorBrbForm
  &__imgpreviewwrapper
    margin: 0px 0px 25px 21px
    padding: 165px 0px 0px
  &__rightcol
    width: 934px
    float: left
    padding: 0px 0px 0px 17px
    h2
      +font($RobotoLight, 50px, $FontclGrSidebar)
      line-height: 60px
      font-weight: 400
      margin: 0px 0px 44px 0px
    h3
      +font($RobotoLight, 34px, $FontclGrSidebar)
      line-height: 60px
      font-weight: 400
      margin: 0px 0px 8px 0px
  &__tittle
    margin: 0px 0px 0px 0px
    +font($RobotoRegular, 20px, $FontclGrSidebar)
    line-height: 28px
    padding: 0px 280px 0px 0px
    margin: 0px 0px 17px 0px
  &__article
    margin: 0px 0px 26px 0px
    padding: 0px 200px 0px 2px
    line-height: 25px
    +font($RobotoRegular, 16px, $FontclGrey)
  &__videodscrp
    +font($RobotoRegular, 14px, $ColorBrbForm)
    margin: 0px 0px 28px 0px
  &__itallicarticle
    +font($RobotoLightIt, 24px, $ColorBrbForm)
    line-height: 32px
    margin: 0px 160px 38px 40px
    background: url(../images/ic_quot.svg) 0 7px no-repeat
    padding: 0px 160px 0px 40px
  .owl-theme .owl-controls .owl-page 
    width: 22px
    height: 22px
    margin: 8px 16px 50px 3px
    span
      width: 9px
      height: 9px
      +transition(all 0.2s ease-out)
  .owl-theme .owl-controls .owl-page.active span, 
  .owl-theme .owl-controls.clickable .owl-page:hover span
    background: $ColorBordGreen
    width: 22px
    height: 22px
    margin: 0px
    +transition(all 0.2s ease-out)
  .tags
    +font($RobotoMedium, 14px, $ColorBordGreen)
    a
      display: inline-block
      color: $ColorBrbForm
      text-decoration: none
      &::after
        content: ","
      &:last-child::after
        content: "."

