.search
  margin-bottom: 90px
  &__head
    text-align: center
    +font($RobotoRegular, 14px, $ColorBrbForm)
    &::before
      content: " "
      width: 580px
      height: 1px
      background: $ColorBgFooter
      display: inline-block
      margin: 0px 20px 3px 0px
    &::after
      content: " "
      width: 580px
      height: 1px
      background: $ColorBgFooter
      display: inline-block
      margin: 0px 0px 3px 20px
  .search__searchinp
    margin: 18px 0px 0px 0px
    display: inline-block
    border: 1px solid $ColorBrbForm
    +brdrad2
    +clearfix
    input[type="search"]
      height: 43px
      width: 590px
      float: left
      +font($RobotoRegular, 16px, $FontclGrey)
      display: inline-block
      border: none
      outline: none
      padding: 3px 0px 3px 10px
      cursor: pointer
      -moz-box-sizing: border-box
      box-sizing: border-box
      z-index: 1
      cursor: text
      background: $ColorBgSearchGr
      +brdrad2
    input[type="submit"]
      height: 30px
      width: 30px
      display: inline-block
      float: left
      background: url(../images/ic_search_green.svg) 50% 92% no-repeat
      border: none
      outline: none
      cursor: pointer
      opacity: 0.4
      cursor: pointer
      +transition(opacity .4s ease-out)
    input[type="submit"]:hover,
    input[type="search"]:focus+input[type="submit"]
      opacity: 0.8
  &__prodname
    font-weight: 400
    +font($RobotoLight, 32px, $FontclGrSidebar)
    line-height: 38px
    margin: 0px 0px 18px 0px
    padding: 0px 249px 0px 0px
  &__item
    +clearfix
    margin: 0px 0px 40px 0px
  &__imgwrapper
    width: 298px
    height: 220px
    overflow: hidden
    float: left
    position: relative
    +brdrad2
    .catalogitems__btncat
      display: block
      opacity: 1
    +shadowbloc
    img
      display: block
      width: 100%
      height: auto
  &__textbox
    width: 742px
    float: left
    margin: 0px 0px 0px 20px
  &__prodtittle
    +font($RobotoRegular, 16px, $FontclGrey)
    margin: 0px 0px 23px 0px
  .catalogitems__yandexratetittle
    +font ($RobotoRegular, 14px, $FontclGtliteBrcrmp)
  .catalogitems__cost
    margin: 0px 0px 10px 0px
  &__time
    @extend .vacancies__time
    margin-bottom: 3px
  .reviews__hinews
    position: initial
    opacity: 1
    background-color: transparent
    margin-left: 0px