.sidebar
  width: 298px
  border: 1px solid $ColorBrdShadow
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  overflow: hidden
  background: $ColorWhite
  float: left
  &__mobhead
    display: none 
    width: 100%
    height: 50px
    background: $ColorWhite
  &__close
    display: inline-block
    background: url(../images/ic_closemenu.svg) 0 0 no-repeat
    width: 16px
    height: 16px
  &__wrapper
    margin-bottom: 36px
  &__item
    display: block
    text-decoration: none
    +font($RobotoRegular, 1.6em, $FontclGrSidebar)
    padding: 11px 10px 10px 18px
    &:hover
      border-top: 1px solid $ColorBrdCategories
      border-bottom: 1px solid $ColorBrdCategories
      padding: 10px 10px 9px 18px
  &__inborder
    position: relative
    &--chat
      +bordecategories($ColMainLookBl)
      a:hover
        background: url(../images/ic_categ_chat.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
          background: $ColorBgHoverGr url(../images/ic_categ_chat.svg) no-repeat 92% 60%
    &--beinform
      +bordecategories($ColMainBeinFormRd)
      a:hover
        background: url(../images/ic_categ_beinform.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_beinform.svg) no-repeat 92% 60%
    &--listen
      +bordecategories($ColMainListenOrg)
      a:hover
        background: url(../images/ic_categ_listen.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_listen.svg) no-repeat 92% 60%
    &--use
      +bordecategories($ColMainUse)
      a:hover
        background: url(../images/ic_categ_use.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_use.svg) no-repeat 92% 60%
    &--shoot
      +bordecategories($ColMainLookBl)
      a:hover
        background: url(../images/ic_categ_shoot.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_shoot.svg) no-repeat 92% 60%
    &--move
      +bordecategories($ColMainLiveDb)
      a:hover
        background: url(../images/ic_categ_move.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_move.svg) no-repeat 92% 60%
    &--play
      +bordecategories($ColMainPlayLlc)
      a:hover
        background: url(../images/ic_categ_play.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_play.svg) no-repeat 92% 60%
    &--travel
      +bordecategories($ColMainMoveYlw)
      a:hover
        background: url(../images/ic_categ_travell.svg) no-repeat 92% 60%
      &.activeitem 
        &::before
          content: " "
          width: 4px
          height: 43px
        a
          background: $ColorBgHoverGr url(../images/ic_categ_travell.svg) no-repeat 92% 60%
    &--chatclean
      +bordecategories($ColMainLookBl)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--beinformclean
      +bordecategories($ColMainBeinFormRd)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--listenclean
      +bordecategories($ColMainListenOrg)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--useclean
      +bordecategories($ColMainUse)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--shootclean
      +bordecategories($ColMainLookBl)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--moveclean
      +bordecategories($ColMainLiveDb)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--playclean
      +bordecategories($ColMainPlayLlc)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
    &--travelclean
      +bordecategories($ColMainMoveYlw)
      &.activeitem
        background: $ColorBgHoverGr
        &::before
          content: " "
          width: 4px
          height: 43px
.coloredcircle
  margin-bottom: 34px
  &__row
    +clearfix
    margin: 0px 0px 0px 19px
    input[type="checkbox"],
    input[type="radio"]
      display: none
      float: left
      margin: 0px 9px 6px 0px
    input[type="checkbox"]+label.whitechekmark,
    input[type="radio"]+label.whitechekmark
      svg
        polyline
          stroke: #Ffffff
    input[type="checkbox"]+label,
    input[type="radio"]+label
      +position(relative)
      display: inline-block
      -webkit-border-radius: 50%
      -moz-border-radius: 50%
      border-radius: 50%
      border: 1px solid $COlorBrdCircle
      width: 34px
      height: 34px
      float: left
      margin: 0px 9px 6px 0px
      svg
        display: block
        polyline
          stroke-dasharray: 0 40 0
          stroke-dashoffset: 2
          stroke: #000
          +transition(stroke-dasharray 0.2s ease-out)
      span.coloredcircle__chwrap
        +position(absolute, 11px null null 9px)
        width: 34px
        height: 34px
    input[type="checkbox"]:checked+label,
    input[type="radio"]:checked+label
      svg
        display: block
        polyline
          stroke-dasharray: 91 40 0
          stroke-dashoffset: 2
          stroke: #000
          +transition(stroke-dasharray 0.9s ease-out)

    input[type="checkbox"]:checked+label.whitechekmark,
    input[type="radio"]:checked+label.whitechekmark
      svg
        polyline
          stroke: #Ffffff
.form
  margin-bottom: 20px
  &__input
    margin: 0px 10px 38px 19px
    padding: 0px 0px 0px 0px
    input, select
      width: 258px
      height: 44px
      border: 1px solid $ColorBrbForm
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      -moz-box-sizing: border-box
      box-sizing: border-box
      outline: none
      +font($RobotoRegular, 1.6em, $FontclGrSidebar)
      padding: 0px 10px
    &--small
     margin: 0px 10px 40px 19px
     +clearfix
     input
      width: 119px
      height: 44px
  &__inpwrap
    float: left
    width: 119px
    margin-right: 19px
    position: relative
    &:last-child
      margin: 0
  &__switchline
    display: block
    +position(absolute, null 0px null 0px)
    margin-top: -5px
    width: 89%
  &__tittle
    +font($RobotoMedium, 1.6em, $FontclGrey)
    margin: 0px 0px 9px 19px
  &__apply
    margin: 38px 0px 0px 19px
    display: block
    input
      +btn(2px, 1px,  $ColorBordGreen, $ColorBordGreen)
      padding: 10px 56px 10px 57px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      +font($RobotoMedium, 1.6em, $ColorWhite )
      width: 258px
      &:hover
        -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.09)
        -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.09)
        box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.09)
  &__reset
    margin: 38px 0px 0px 19px
    input
      +btn(2px, 1px, $ColorBordGreen, transparent)
      padding: 10px 56px 10px 57px
      -webkit-border-radius: 2px
      -moz-border-radius: 2px
      border-radius: 2px
      width: 258px
      +font($RobotoMedium, 1.6em, $ColorBordGreen )
      &:hover
        -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.09)
        -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.09)
        box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.09)
  &__radiobtnsquare
    margin: 0px 0px 8px 19px
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    input[type="radio"]
      display: none
    input[type="radio"]+label 
      span
        display: inline-block
        width: 18px
        height: 18px
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        border: 1px solid $COlorBrdCircle
        margin: 0px 11px -4px 0px
    input[type="radio"]:checked+label
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      span
        background: url(../images/ic_checkmark_gr.svg) 50% 50% no-repeat
  &__radiobtnsquare
    margin: 0px 0px 8px 19px
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    input[type="checkbox"]
      display: none
    input[type="checkbox"]+label 
      span
        display: inline-block
        width: 18px
        height: 18px
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        border: 1px solid $COlorBrdCircle
        margin: 0px 11px -4px 0px
    input[type="checkbox"]:checked+label
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      span
        background: url(../images/ic_checkmark_gr.svg) 50% 50% no-repeat
  &__radiobtncircl
    margin: 0px 0px 8px 19px
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    input[type="radio"]
      display: none
    input[type="radio"]+label 
      span
        display: inline-block
        width: 18px
        height: 18px
        -webkit-border-radius: 50%
        -moz-border-radius: 50%
        border-radius: 50%
        border: 1px solid $COlorBrdCircle
        margin: 0px 11px -4px 0px
        +position(relative)
        &:after
          content: " "
          display: inline-block
          width: 10px
          height: 10px
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          +position(absolute, 50% null null 50%)
          margin: -5px 0px 0px -5px
          background: $ColorBordGreen
          +transform(scale(0))
          +transition(all 0.2s ease-out)
    input[type="radio"]:checked+label
      +font($RobotoMedium, 16px, $FontclGrSidebar)
      span
        +position(relative)
        &:after
          content: " "
          display: inline-block
          width: 10px
          height: 10px
          -webkit-border-radius: 50%
          -moz-border-radius: 50%
          border-radius: 50%
          +position(absolute, 50% null null 50%)
          margin: -5px 0px 0px -5px
          background: $ColorBordGreen
          +transform(scale(1))
          +transition(all 0.2s ease-out)


  #slider-range-min
    position: relative
  .ui-slider-handle 
    position: absolute
    top: -7px
    margin-left: 0px
    z-index: 200
    display: inline-block
    width: 14px
    height: 18px
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    border: 1px solid $ColorBrbForm
    background: #ffffff url(../images/ic_switcher.png) 50% 50% no-repeat
    cursor: pointer
    outline: none
  .ui-widget-header
    background: $ColorBordGreen no-repeat left
    height: 4px
    left: 1px
    top: 1px
    position:absolute
  .ui-state-focus

