.vacancies
  &__promowrapperimg
    width: 1260px
    height: 347px
    overflow: hidden
    img
      display: block
      width: 100%
      height: auto
  &__promobanner
    position: relative
    margin-bottom: 29px
  &__promotext
    +position(absolute, 0px  0px null null )
    width: 457px
    h3
      margin: 0px 53px 18px 0px
      +font($RobotoLight, 32px, $FontclGrSidebar)
      font-weight: 400
      padding: 33px 0px 0px 0px
      line-height: 38px
    p
      margin: 0px 0px 14px 0px
      padding: 0px 43px 0px 0px
      font-weight: 400
      +font($RobotoRegular, 14px, $FontclGrey)
      line-height: 21px
  &__promobtn
    display: inline-block
    +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen )
    +font($RobotoMedium, 16px, $ColorWhite)
    padding: 10px 74px 10px 38px
    background: $ColorBordGreen url(../images/ic_plain.svg) 92% 57% no-repeat
  &__head
    +font($RobotoLight, 50px, $FontclGrSidebar)
    font-weight: 400
    padding: 0px 0px 0px 0px
    margin: 0px 0px 13px 0px
    line-height: 60px
  &__article
    margin: 0px 0px 8px 0px
    font-weight: 400
    +font($RobotoRegular, 20px, $FontclGrSidebar)
    line-height: 28px
    padding: 0px 167px 0px 1px
  &__text
    margin: 0px 0px 14px 0px
    font-weight: 400
    +font($RobotoRegular, 16px, $FontclGrSidebar)
    line-height: 25px
    padding: 0px 199px 0px 0px
  &__wrapper
    +clearfix
  &__imgleftwrapper
    width: 278px
    height: 147px
    overflow: hidden
    margin: 0px 0px 11px
    +brdrad2
    img
      display: block
  &__left
    width: 298px
    float: left
    padding-top: 79px
    h2
      +font($RobotoLight, 32px, $FontclGrSidebar)
      font-weight: 400
      line-height: 38px
      margin: 0px 0px 19px 23px
    p
      +font($RobotoRegular, 14px, $FontclGrey)
      margin: 0px 0px 10px 23px

  &__right
    width: 934px
    margin-left: 20px
    float: left
  &__acrdnhead
    margin: 0px 0px 15px 0px
    font-weight: 400
    padding: 27px 0px 20px 30px
    +shadowbloc
    +brdrad2
    position: relative
    a
      +font($RobotoRegular, 32px, $FontclGrSidebar)
      &::after
        content: " "
        background: $FontclGrey
        width: 7px
        height: 1px
        display: inline-block
        +position(absolute, 53px 65px null null)
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        transition: all 0.3s ease-out
      &::before
        content: " "
        background: $FontclGrey
        width: 7px
        height: 1px
        display: inline-block
        +position(absolute, 53px 70px null null)
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        transition: all 0.3s ease-out
    a.collapsed
      &::after
        content: " "
        background: $FontclGrey
        width: 7px
        height: 1px
        display: inline-block
        +position(absolute, 53px 65px null null)
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
        -ms-transform: rotate(-45deg)
        -moz-transform: rotate(-45deg)
        transition: all 0.3s ease-out
      &::before
        content: " "
        background: $FontclGrey
        width: 7px
        height: 1px
        display: inline-block
        +position(absolute, 53px 70px null null)
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        -ms-transform: rotate(45deg)
        -moz-transform: rotate(45deg)
        transition: all 0.3s ease-out
    
      
  &__acordion
    padding-top: 17px
  &__time
    +font($RobotoRegular, 14px, $ColorBrbForm)
    display: block
    background: url(../images/ic_time.svg) 0 2px no-repeat
    padding: 0px 0px 0px 19px
  &__requires
    +font($RobotoMedium, 18px, $FontclGrey)
    margin: 4px 0px 22px 30px
    padding: 0px 0px 0px 0px
    list-style: none
    li
      +font($RobotoRegular, 16px, $FontclGrey)
      padding: 8px 0px 0px 14px
      &:before
        content: "•"
        display: inline-block
        margin: 0px 10px 0px 0px
        color: $ColorBordGreen
        img
          display: block
  &__leftpan
    width: 616px
    float: left
  &__rightpan
    width: 307px
    float: left
    margin: 0px 0px 0px 11px
  &__contact
    text-align: center
  &__avwrap
    width: 86px
    height: 86px
    overflow: hidden
    -webkit-border-radius: 50px
    -moz-border-radius: 50px
    border-radius: 50px
    margin: 17px 0px 5px 107px
  &__ctcface
    +font($RobotoRegular, 14px, $ColorBrbForm)
    margin: 0px 0px 0px 0px
  &__ctcname
    +font($RobotoMedium, 18px, $FontclGrey)
    margin: 0px 0px 0px 0px
  &__ctcemail
    +font($RobotoRegular, 16px, $ColorBordGreen)
    margin: 0px 0px 0px 0px
  &__ctcpos
    +font($RobotoRegular,14px,$ColorBrbForm)
    margin: 0px 0px 0px 0px
  .panel
    -webkit-box-shadow: none
    -moz-box-shadow:    none
    box-shadow:         none
    background: $ColorWhite
    +shadowbloc
  .panel-group
    margin: 0px 0px 113px
  .panel-body
    border-top: 1px solid $ColorBgFooter
    margin: 0px 0px 20px
    +clearfix
  .panel-default > .panel-heading
    background: $ColorWhite
  .delivery__form
    margin: 53px 0px 0px 28px
  .delivery__inpfilewrap
    input[type="file"]
      width: 0
      height: 0
      border: none
      outline: none
    label
      +font($RobotoRegular, 16px, $FontclGrSidebar)
      background: url(../images/ic_inpfile.svg) 0 4px no-repeat
      padding-left: 30px
      margin-top: 6px
      cursor: pointer
  .delivery__inpbtn
    margin: 19px 0px 20px 0px
    input[type="submit"]
      +btn(2px, 1px, $ColorBordGreen, $ColorBordGreen) 
      +font($RobotoMedium, 16px, $ColorWhite)
      padding: 9px 20px 12px 18px
